.call-to-action-container  {
  background-color: #f7d020 !important;
  display: block;
}
.call-to-action:hover {
  color: #fff;
}

.jack-will-help-you {
  border-right: 1px solid #2F3846;
  border-bottom: 1px solid #2F3846;
}