a.view-details {
  margin: -8px 0 0 15px;
}

.connect-grey {  
  font-size:1.1em;
}

.connect-red {
  font-size:1.2em;
}

.footer-links {
  margin:22px 0 0 15px !important;
}

.header-tagline {
	font-size:.9em;
}

.header-phone-number {
	font-size:1.2em;  
}