#main-menu {
  margin: 0 0 0 325px;
}

ul#main-menu li{
  margin-top: 5px;
}
#search-parts {
  padding:75px 0 0 0;
}

#home-message {
  margin-top: 15px;
}

#contact-us-message {
  margin-top: -8px;
}


a.email-contact {
  margin-top: -22px;
}

hr.map-line-service {
  margin-left: -330px;
}

.map-info {
  padding-left: 10px;
}

.hours-recycling {
  bottom:-15px;
}


.link-button {
  position:relative;
  font-size:14px;
  padding:9px 16px 9px 16px;
  height:18px;
  width:260px;
  margin:26px 0 0;
}
img.arrow {
  position:absolute;
  top:10px;
  right:15px;
  float:none;
}
