#main-menu {
  display:inline;
}

ul#main-menu {
  float:left;
  margin-left:23px !important;
}

ul#main-menu li{
  margin-bottom:20px;
}

.home-finder-divider {
  position:relative;
  right:52px;
}

.twitter-link {
  margin-top:-17px;
}

#listings-bottom a.previous-page {
  margin: 0px auto;
}

#listings-bottom a.next-page {
  margin: 0px auto;
}

ul#listing-bar {
  display:inline;
}

ul#listing-bar li{
 margin-left:15px; 
}

ul#listing-bar select {
 float:left; 
}

.search-homes {
  font-size: 0; 
  display:block; 
  line-height: 0;
}

ul.tab-bar li {
  padding-top:10px;
}

ul.tab-bar li a{
  display:inline;
  margin:10px 0 0 0;
}

.update-list-button{
  font-size: 0; 
  display:block; 
  line-height: 0;
}

.no-results {
  background-color:rgb(10,10,10);
}