.scrollable .items {
	margin-top: -223px;
}

.headline-box {
  width: 100%;
  clear: both;
}

.column-33.image {
  margin-bottom: -23px;
}

#header .header-contact-info {
  visibility: hidden;
  display: none;
}

#menu {
  right: 25px;
}