#lightbox {  

}  

#lightbox-panel {  
  display:none;  
  position:fixed;  
  top:100px;  
  left:50%;  
  margin-left:-200px;  
  width:400px;  
  background:#FFFFFF;  
  padding:10px 15px 10px 15px;  
  border:2px solid #CCCCCC;  
  z-index:1001;
  background: url(../images/lightbox.png);
}

#lightbox-panel p{
  margin:15px 0;
  width:400px;
  line-height:1.125em;
}

#lightbox-panel h2{
  line-height:1.65em;
}

#lightbox-panel a {
  text-decoration:none;
  color:#f49e1a;
}

#lightbox-panel a:hover {
  border-bottom:1px dotted;
}