#mailform-container {
  width:200px;
  margin:0 auto;
  padding:90px 15px 15px 15px;
}

#mailform-container .message-error {
  float:right;
  color:red;
}

#mailform-container .message-invalid {
  float:right;
  color:red;
}

#mailform-container label{
  display:block;
}

#mailform-container p{
	margin:20px 0 0 0;
}

#mailform-container small {
  margin:0 auto;
}

#mailform-container .input{
  margin:5px 0;
}

#mailform-container .input input{
  width:200px;
  height:26px;
  border: 1px solid #C0C0BF;
  margin:3px 0 0 0;
	webkit-border-radius: 4px;
  moz-border-radius:    4px;
  border-radius:        4px;
  color: #777;
  background: #EDE9B6;
  font-family: 'Helvetica Neue', Helvetica, Arial;
  font-size: 1.4em;
}

.hidden {
  display: none;
}

#mailform-container .mailform-loading {
  background:url(../images/ajax-loader.gif) no-repeat 0 0;
  height:32px;
  width:32px;
  float:left;
}

.actions {
  height:30px;
/*  border:1px dashed green;*/
}

.input-button {
  float:right;
  text-decoration:none;
  text-align:center;
  white-space:nowrap;
  font-size:1.5em;
  border:1px solid #6f6f6f;
  webkit-border-radius: 12px;
  moz-border-radius:    12px;
  border-radius:        12px;
  color:#915c0e;
  font-weight: bold;
  text-shadow: #fff 0px 1px 0px;
  text-transform:uppercase;
  background: #f7d020; /* Old browsers */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZDAyMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYzdiMTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #f7d020 0%, #ec7b13 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7d020), color-stop(100%,#ec7b13)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f7d020 0%,#ec7b13 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f7d020 0%,#ec7b13 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f7d020 0%,#ec7b13 100%); /* IE10+ */
  background: linear-gradient(top, #f7d020 0%,#ec7b13 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7d020', endColorstr='#ec7b13',GradientType=0 ); /* IE6-8 */
  -moz-box-shadow:    2px 2px 2px #333;
  -webkit-box-shadow: 2px 2px 2px #333;
  box-shadow:         2px 2px 2px #333;
}
  
.call-to-action:hover {
  color: #cf8314;
}

.call-to-action:active {}
  
.input-prompt {
  position: absolute;
  font-style: italic;
  color: #aaa;
  margin: 0.2em 0 0 0.5em;
}

#mailform-container span {
  font-size: 1.4em;
  margin-top: 11px;
  text-decoration: none;
}