#mailform-container {
  width:278px;
  float:right;
  margin:0 auto;
  background:rgb(96,102,75);
  background:rgba(255,255,255,.25);
  padding:55px 25px 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 2px 9px rgba(12, 14, 3, 0.4);
  position:relative;
}

#mailform-container h1 {
  position:absolute;
  top:0;
  left:0;
  width:288px;
  height:22px;
  font-size:1.6em;
  border-bottom:1px solid rgb(195,168,139);
  border-bottom:1px solid rgb(195,168,139);
  padding:8px 20px;
  color:rgb(79,64,50);
  text-shadow:0 1px 2px rgb(195,168,139);
 -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-radius: 5px;
  background: url(../images/header_bkg_tile.jpg) repeat-x;
}

#mailform-container .message-error {
  float:right;
  color:red;
}

#mailform-container .message-invalid {
  float:right;
  color:red;
}

#mailform-container label{
  display:block;
  font-size:1.4em;
  font-family:news-gothic-std, sans-serif;
  color:#f4f7ea;
}

#mailform-container p{
	margin:20px 0 0 0;
}

#mailform-container small {
  font-family:news-gothic-std, sans-serif;
  margin:0 auto;
  color:#f4f7ea;
}

#mailform-container .input{
  margin:15px 0;
}

#mailform-container .input input{
  width:100%;
  height:26px;
  border: 1px solid rgb(150,150,150);
  margin:3px 0 0 0;
	webkit-border-radius: 2px;
  moz-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: inset 0 0 3px #888;
  -webkit-box-shadow: inset 0 0 3px #888;
  box-shadow: inner 0 0 3px #888;
}

#mailform-container textarea{
  width:100%;
  height:52px;
  border: 1px solid rgb(150,150,150);
  margin:3px 0 0 0;
	webkit-border-radius: 2px;
  moz-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: inset 0 0 3px #888;
  -webkit-box-shadow: inset 0 0 3px #888;
  box-shadow: inner 0 0 3px #888;
}

.hidden {
  display: none;
}

#mailform-container .mailform-loading {
  background:url(../images/ajax-loader.gif) no-repeat 0 0;
  height:32px;
  width:32px;
  float:right;
}

.actions {
  height:30px;
  float:right;
}

.button, .button:visited, .input-button {
  float:left;
  text-align:center;
  white-space:nowrap;
  margin:0px 5px;
  font-size:1.2em;
  font-family:"gill sans", "arial", san-serif;
  border:1px solid rgb(209,209,209);
  text-decoration:none;
  webkit-border-radius: 3px;
  moz-border-radius: 3px;
  border-radius: 3px;
  color:#666666;
  text-shadow: #fff 0px 1px 0px;
  text-transform:uppercase;
  background: #f3f3f3; /* Old browsers */
  background: -moz-linear-gradient(top, #f3f3f3 0%, #d1d1d1 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(100%,#d1d1d1)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f3f3f3 0%,#d1d1d1 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f3f3f3 0%,#d1d1d1 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #f3f3f3 0%,#d1d1d1 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#d1d1d1',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #f3f3f3 0%,#d1d1d1 100%); /* W3C */
  -webkit-box-shadow: 0px 0px 2px 2px  rgba(50,50,50,.4);
  -moz-box-shadow: 0px 0px 2px 2px rgba(50,50,50,.4);
  box-shadow: 0px 0px 2px 2px rgba(50,50,50,.4);
}

.button, .button:visited  {
  padding:8px 18px;
}
  
a.input-button {
  padding:6px 18px;
}

input.input-button {
  padding:8px 18px;
  margin:0;
}

.button:hover, .input-button:hover {
  border:1px solid rgb(145,145,145);
  -moz-box-shadow: inset 0 0 2px #888;
  -webkit-box-shadow: inset 0 0 2px #888;
  box-shadow: inner 0 0 2px #888;
  outline: none;
  cursor:pointer;
}

.button:active, .input-button:active {
  border:1px solid rgb(129,129,129);
  -moz-box-shadow: inset 0 0 6px #888;
  -webkit-box-shadow: inset 0 0 6px #888;
  box-shadow: inner 0 0 6px #888;
  outline: none;
  padding: 9px 18px 7px 18px;
}

.button:active  {
  padding: 9px 18px 7px 18px;
}
  
a.input-button:active {
  padding: 7px 18px 5px 18px;
}

.button-disabled, .button-disabled:visited {
  float:left;
  height:auto;
  text-align:center;
  white-space:nowrap;
  font-size:.8em;
  font-family:"gill sans", "arial", san-serif;
  border:1px solid rgb(209,209,209);
  padding:8px 18px;
  text-decoration:none;
  webkit-border-radius: 3px;
  moz-border-radius: 3px;
  border-radius: 3px;
  color:#CCCCCC;
  text-shadow: #fff 0px 1px 0px;
  text-transform:uppercase;
  background: #f3f3f3; /* Old browsers */
  background: -moz-linear-gradient(top, #f3f3f3 0%, #d1d1d1 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(100%,#d1d1d1)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f3f3f3 0%,#d1d1d1 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f3f3f3 0%,#d1d1d1 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #f3f3f3 0%,#d1d1d1 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#d1d1d1',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #f3f3f3 0%,#d1d1d1 100%); /* W3C */
}

.button-disabled:hover {
 cursor:default; 
}

