.scrollable {
	position:relative;
	overflow:hidden;
	width: 912px;
	height:299px;
  background:url(../images/headline-background.png) no-repeat 0 0;
	margin: 0px 43px;
}

.scrollable .items {
	width:20000em;
	position:absolute;
	clear:both;
}

.items div {
	float:left;
	width:912px;
}

.scrollable .active {
	position:relative;
	cursor:default;
}

ul#controls {
  list-style:none;
}

#controls li {
float:left;
}