.scrollable {
	position:relative;
	overflow:hidden;
	width: 912px;
	height:299px;
  background:url(../images/headline-background.png) no-repeat 0 0;
	margin: 15px 43px 0px 43px;
}

.scrollable .items {
	width:20000em;
	position:absolute;
	clear:both;
}

.items div {
	float:left;
	width:912px;
}

.scrollable .active {
	position:relative;
	cursor:default;
}

ul#controls {
  list-style:none;
}

#controls li {
float:left;
}

#controls a:hover {
  cursor:pointer;
}

a.slide-indicator {
  width:13px;
  height:8px;
  display:block;
  background:url(../images/slideindicator.png) no-repeat 0 0;
  text-indent:-9999em;
  margin-top: 7px;
}

a.slide-indicator:hover {
  background-position: 0 -8px; 
}

a.slide-indicator:active {
  background-position: 0 -16px; 
}