html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {  margin: 0;  padding: 0;  border: 0;  font-size: 62.5%;  font: inherit;  vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {font-size:0.625em;line-height: 1.5;background: url(../images/content_bkg_tile.jpg) 0 0;
}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {  content: '';content: none;}
table {  border-collapse: collapse;  border-spacing: 0;}
input, textarea, select {-webkit-appearance: none;}
h1 {font-family:news-gothic-std, sans-serif; font-weight:700; font-size: 5.5em;}
h2 {font-family:news-gothic-std, sans-serif; font-weight:700;}
h3 {font-family:news-gothic-std, sans-serif;}
a { text-decoration: none;}
p {font-family:news-gothic-std, sans-serif;font-size:1.4em;}

#container{
   min-width: 1000px;
}

/* HEADER RULES */
#header{
  height: 185px;
  background: url(../images/header_bkg_tile.jpg) 0 0;
}

#header .logo {
  width: 304px;
  height: 120px;
  margin: 0 auto;
}

#header .main-menu{
  width: 900px;
  margin: 0 auto;
  margin-top: 40px;
}

#header ul li{
  margin-left:25px;
}

#header .main-menu li{
  float: left;
  margin-right: 34px;
  display: block;
}
#header .main-menu li a{
  display: block;
  height: 100%;
  width: 100%;
  font-size: 1.4em;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:700;
  color: rgb(72,68,49);
}
#header .main-menu li a:hover{
  border-bottom:1px dotted;
}

/* MAIN RULES */
#main{
  background: url(../images/content_bkg_lighting.jpg) no-repeat 0 0;
}
#main .content{
  padding-top: 32px;
}

#main div.panes {
  width: 912px;
  height: 299px;
  margin: 0 auto;
  overflow:hidden;
}

#main div.pane{
  width: 912px;
  height: 299px;
  margin: 0 auto;
  background:url(../images/headline-background.png) no-repeat 0 0;
}
#main div.pane .left{
  width: 250px;
  height: 100%;
  float: left;
  padding-top:30px;
}
#main div.pane .right{
  float: left;
  width: 660px;
  color: white;
}
#main div.pane h1{
  margin-top: 23px;
  color:rgb(176,194,132);
  text-shadow: rgba(0,0,0,.7) 0px 0px 6px;
}
#main div.pane h2{
  font-size: 2em;
  margin-top: 10px;
  color:rgb(25,28,9);
}
#main div.pane p{
  margin-top: 5px;
  width: 400px;
  color:rgb(230,347,209);
}

#main div.main{
  margin-top: 100px;
  padding-left: 45px;
  padding-right: 45px;
}
#main div.main .couches{
  width: 453px;
  height: 230px;
  background: url(../images/couches.png) no-repeat 0 0;
  float: right;
}
#main div.main h2{
  color: rgb(244,247,234);
  font-size: 1.8em;
}
#main div.main p{
  color:rgb(208,218,175);
  font-size: 14px;
  margin-top: 8px;
  width: 400px;
}

#main div.pane a.action-ribbon {
  background: url(../images/action_ribbon_sprite.png) no-repeat 0 0;
  width: 219px;
  height: 55px;
  display: block;
  margin: 73px 15px 0 0;
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:600;
  color:rgb(0,0,0);
  text-align:center;
  padding:5px 0 0 0;
  float: right;
  font-size: 16px;
  line-height: 50px;
  text-shadow: rgb(181,70,59) 0px 1px 1px;
}

#main div.pane a.action-ribbon:hover {
  background-position: 0 -61px;
}

.tab-bar {
  height:13px;
  width:120px;
  margin:11px auto;
}

.tab-bar a{
  text-indent:-9999em;
}

.tab-bar .previous {
  width:9px;
  height:13px;
  display:block;
  background:url(../images/slide-arrows.png) no-repeat 0 0;
}

.tab-bar .next {
  width:9px;
  height:13px;
  display:block;
  background:url(../images/slide-arrows.png) no-repeat -9px 0;  
}

.tab-bar li{
  float:left;
  margin:0 4px;
}

/* PRODUCTS LIST RULES */
#products{
  height: 58px;
  background:url(../images/products-background-tile.png) repeat 0 0;
}

#products ul{
  height: 100%;
  margin:75px 0 0 0;
}
#products li{
  float: left;
  width: 98px;
  margin:0 1px;
  height: 100%;
}
#producs li>a{
  display: block;
  height: 100%;
  width: 100%;
}
/* FOOTER RULES */
#footer{
  height: 250px;
  background: url(../images/footer_bkg_tile.jpg) 0 0;
}
#footer .content{
  padding-top: 50px;
}
#footer .footer-logo{
  float: left;
  width: 200px;
  height: 80px;
}

#footer ul {
  
}

#footer ul li{
  width: 150px;
  height: 50px;
  float: left;
  margin-left: 30px;
  margin-top: 30px;
}
#footer ul li span,
#footer ul li a{
  font-family:news-gothic-std, sans-serif;
  font-size: 1.2em;
  display: block;
  line-height: 25px;
}
#footer li a{
  text-decoration: underline;
  color:rgb(75,63,45);
}

#footer li a:hover{
  text-decoration: none;
}

#footer ul li span strong{
  font-weight: bold;
  color:rgb(46,53,14);
}
.content{
  width: 1000px;
  margin: 0 auto;
}