/* http://meyerweb.com/eric/tools/css/reset/
 *    v2.0 | 20110126
 *       License: none (public domain)
 *       */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, caption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
   background: #F1EEEB;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before,  blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Typo */

h1 {
  font-family: 'TeXGyrePagellaBold', 'Palatino LT STD', 'Palatino Linotype', 'Palatino', 'Book Antiqua', 'Georgia', serif;
  font-size: 18px;
  text-shadow: 0 1px rgb(11,26,45);
}

h1 span.frstltr {font-size:20px;}

h2, h3{
   font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
}


.ltblue {color: rgb(169,203,231);}
.dkblue {color: rgb(40,62,83);}
.yellow {color: rgb(241,239,158);}


p {
  font-family: 'Georgia', Palatino, Book Antiqua, times, serif;
  font-size: 14px;
  line-height: 18px;
  color: #555555;
  margin:10px 0 20px;
}

blockquote {
  font-size:13px;
  font-style:italic;
  font-weight:bold;
  text-indent: -6px;
  color: rgb(241,239,158);
}


#nav li a {
  font-size: 14px;
  color: rgb(40,62,83);
  text-shadow: 0 1px 2px #FFFFFF;
}

#banner h1 {
  font-family: 'TeXGyrePagellaRegular', 'Palatino LT STD', 'Palatino Linotype', 'Palatino', 'Book Antiqua', 'Georgia', serif;
  font-size: 22px;
  color: #FFFFFF;
  text-shadow: 0 1px 2px rgb(11,26,45);
}

#banner h1 span.yellow {
    font-family: 'TeXGyrePagellaBold', 'Palatino LT STD', 'Palatino Linotype', 'Palatino', 'Book Antiqua', 'Georgia', serif;
    color: rgb(241,239,158);
}

.listing h2 {
  font-family: 'TeXGyrePagellaRegular', 'Palatino LT STD', 'Palatino Linotype', 'Palatino', 'Book Antiqua', 'Georgia', serif;
  font-size: 16px;
  color: rgb(40,70,92);
}

.listing p {
  font-family: arial, helvetica, sans-serif;
  color: rgb(111,111,111);
  font-size: 12px;
  line-height: 16px;
  margin-top:10px;
}
.listing table.specs td {
  font-family: arial, helvetica, sans-serif;
  color: rgb(0,28,64);
}
td.label {
  font-size:11px;
  text-align:left;
}
td.spec {
  font-size:12px;
  text-align:right;
  font-weight:bold;
}

#footer h1 {
  font-size:16px;
  color: rgb(40,62,83);
  text-shadow:none;
}
#footer h1 span.frstltr {font-size:18px;}

#footer p {
  font-family: arial, helvetica, sans-serif;
  color: rgb(46,70,92);
  font-size: 12px;
  line-height: 16px;
  margin:8px 0 16px;
}


/* Site Styles */

html{
  background: url(../images/background_tile.jpg);
}
body{
  background: #F1EEEB;
  padding-top: 50px;
}
.clear{
  clear: both;
}
.content{
  width: 960px;
  margin: 0 auto;
}

#header{
}

ul#main-menu{
  height:148px;
  width: 933px;
  margin-bottom: -45px;
  background: url(../images/menu-bar.png) center no-repeat;
}

ul#main-menu li{
  float: left;
  width: 20%;
  text-align: center;
}

ul#main-menu li a {
  background: #FFFAF4
  height: 59px;
  display: block;
  margin-top:38px;
  line-height:61px;
  text-decoration: none;
  color: #A38766;
  font-size: 14px;
  font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
}
ul#main-menu li a.last{
  background: none;
}

ul#main-menu li h1#logo a{
  margin-top: 0px;
  height: 148px;

  text-indent: -9999em;
  background: url(../images/top_menu_logo.png) no-repeat center;
}

#main-showcase{
  height: 364px;
  margin-left: 17px;
  width: 904px;
  background: #83BCD9;
}

#main-showcase-footer{
  height: 63px;
  width: 937px;
  margin-top:-22px;
  line-height: 78px;
  background: url(../images/banner-red.png) no-repeat top center;
}

#sabie-brar{
  float: left;
  margin-left: 40px;
  text-align: left;
  color: white;
  font-size: 20px;
  font-style: italic;
}
#sabie-brar strong{
  font-weight: bold;
  font-style: normal;
}
#rancho-realty{
  float: right;
  margin-right: 40px;
  color: white;
  text-align: right;
  font-size: 20px;
  font-weight: bold;
}

.sidebar{
  width: 275px;
  float: left;
}

.main-with-sidebar{
  width: 652px;
  float: left;
}

.main-with-sidebar h2{
   float: left;
   width: 49%;
   text-align: left;
   font-size: 20px;
   color: #960E0D;
   font-weight: bold;
   margin-bottom: 16px;
}
.main-with-sidebar>a{
   font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
   float: left;
   width: 49%;
   text-align: right;
   text-decoration: none;
   font-size: 12px;
   color: #888785;
}
#body{
   padding-top: 32px;
}
#body .sidebar h3{
   font-size: 20px;
   font-weight: bold;
}
#body .sidebar p{
   width: 230px;
   font-size: 14px;
}
#footer{
  padding: 35px 0px 70px 0px;
}

.two-column{
  float: left;
  width: 50%;
}

.list-view-person{
  padding: 0px 2em 2em 0px;
}

.list-view-person img.portrait{
  float: left;
  margin: 0px 1em 1em 0px;
}

form#contact-us-form{
  background: url(../images/footer_form_background.png) no-repeat;
  width:  271px;
  height: 502px;
  padding: 40px;
  display: block;
}

form#contact-us-form label{
  padding-top: 1em;
  display: block;
}

form#contact-us-form input{
  border: 1px solid #7A7A64;
  background: #BABD70;
  line-height: 24px;
  height: 24px;
  width: 185px;
}
form#contact-us-form textarea{
  border: 1px solid #7A7A64;
  background: #BABD70;
  line-height: 16px;
  height: 150px;
  width: 185px;
}


.list-view-house{
   border: 1px solid #E2DAD1;
   border-bottom: 1px solid white;
   height: 145px;
   background: #F9F9F8;
}
.list-view-house.last{
   border-bottom: 1px solid #E2DAD1;
}
.list-view-house p{
   font-family: Helvetica, Arial, sans-serif;
   font-size: 12px;
   color: #818181;
}
.list-view-house img{
   border: 1px solid #BFBFBF;
   float: left;
   margin: 8px 14px 0 9px;
}
.list-view-house h4{
   color: #2B495D;
   margin-top: 9px;
}
.list-view-house div{
   float: left;
   width: 225px;
   height: 145px;
}
.list-view-house ul{
   float: right;
}

.list-view-house li{
   width: 150px;
   height: 32px;
   background: #F1EEEB;
   border: 1px solid #DFDAD2;
   border-right: none;
   border-bottom: 1px solid #FFFFFF;
   line-height: 32px;
   padding-left: 10px;
   padding-right: 10px;
   font-family: Helvetica, Arial, sans-serif;
}
.list-view-house li.first{
   border-top: none;
}
.list-view-house li .left{
   font-size: 12px;
   color: #9A9997;
   float: left;
   text-align: left;
}
.list-view-house li .right{
   color: black;
   font-weight: bold;
   float: right;
   text-align: right;
}
.list-view-house li.last{
   height: 42px;
   border-bottom: none;
}
#footer ul{
   display: block;
   width: 610px;
   margin: 0 auto;
   margin-top: 20px;
}
#footer li{
   float: left;
   width: 150px;
   text-align: center;
   text-decoration: none;
   color: #808075;
}
#footer li a{
   text-decoration: none;
   color: #808075;
}
.white-border{
   border: 1px solid white;
}

.call-to-action{
   margin-top: 25px;
   height: 150px;
   width: 600px;
   float: right;
}
.call-to-action h3{
   color: white;
   font-style: italic;
   font-size: 28px;
}
.call-to-action h2{
   margin-top: 5px;
   color: white;
   font-weight: bold;
   font-size: 32px;
}
#sabie{
   background: url(../images/sabie-hummer-transparent.png) 0px 25px no-repeat;
   margin-left: 20px;
   width: 400px;
   height: 350px;
}

.quote{
   font-style: italic;
   font-weight: bold;
   color: #990000;
}
.view-details {
  background: url(../images/view-details-sprite.png) no-repeat 0 0;
  width: 147px;
  height: 30px;
  display: block;
  margin: 0 auto;
  margin-top: 5px;
  text-decoration: none;
  text-indent:-9999em;
  float:right;
  cursor:pointer;
  border:none;
}

.view-details:hover {
  background-position: 0 -30px;
}

.view-details:active {
  background-position: 0 -60px;
}



.contact span{
   display: block;
   margin-left: 200px;
   margin-top: 24px;
}
.contact span.action{
   margin-top: 12px;
}
.contact span input,
.contact span textarea{
   width: 442px;
}
.contact span textarea{
   height: 50px;
}
.contact span.action input{
   float: right;
   width: auto;
}
.contact span label{
   display: block;
}


#mailform-container {
  width: 250px;
  height: 338px;
  background: #0069f9;
/*  background-image: url(../images/form-background.png);*/
  padding: 0 25px;
    -webkit-border-radius-topright:  5px;
  -moz-border-radius-topright:     5px;
  border-radius-topright:          5px;
  background: -webkit-gradient(linear, left top, left bottom, from(#3e7898), to(#5d9bbd));
  background: -moz-linear-gradient(top, #3e7898, #5d9bbd);
  background: linear-gradient(top, #3e7898, #5d9bbd);
  background-color: #3e7898;
}

#mailform-container .message-error {
  float:right;
  color:red;
}

#mailform-container .message-invalid {
  float:right;
  color:red;
}

#mailform-container label{
  display:block;
  font-size:1.2em;
  color:#f4f7ea;
}

#mailform-container p{
    margin:20px 0 0 0;
}

#mailform-container small {
  margin:0 auto;
  color:#f4f7ea;
}

#mailform-container .required-message {
  width:144px;
  float:left;
}

#mailform-container .mailform-error, #mailform-container .mailform-success {
  font-size:1.2em;
}

#mailform-container .mailform-error {
  color:red;
  font-weight:600;
}

#mailform-container .mailform-success {
  color:white;
}

#mailform-container .input{
  margin:15px 0;
}

#mailform-container .input input{
  width:100%;
  height:26px;
  border: 1px solid #777;
  margin:3px 0 0 0;
    webkit-border-radius: 2px;
  moz-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: inset 0 0 3px #888;
  -webkit-box-shadow: inset 0 0 3px #888;
  box-shadow: inner 0 0 3px #888;
}

#mailform-container textarea{
  width:100%;
  height:48px;
  border: 1px solid #777;
  margin:3px 0 0 0;
    webkit-border-radius: 2px;
  moz-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: inset 0 0 3px #888;
  -webkit-box-shadow: inset 0 0 3px #888;
  box-shadow: inner 0 0 3px #888;
}

.hidden {
  display: none;
}

#mailform-container .mailform-loading {
  background:url(../images/ajax-loader.gif) no-repeat 0 0;
  height:32px;
  width:32px;
  float:right;
}

.actions {
  height:30px;
  float:right;
}

.button, .button:visited, .input-button {
  float:left;
  text-align:center;
  white-space:nowrap;
  margin:0px 5px;
  font-size:1.2em;
  font-family:"gill sans", "arial", san-serif;
  border:1px solid rgb(209,209,209);
  text-decoration:none;
  webkit-border-radius: 3px;
  moz-border-radius: 3px;
  border-radius: 3px;
  color:#666666;
  text-shadow: #fff 0px 1px 0px;
  text-transform:uppercase;
  background: #f3f3f3; /* Old browsers /
  background: -moz-linear-gradient(top, #f3f3f3 0%, #d1d1d1 100%); / FF3.6+ /
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(100%,#d1d1d1)); / Chrome,Safari4+ /
  background: -webkit-linear-gradient(top, #f3f3f3 0%,#d1d1d1 100%); / Chrome10+,Safari5.1+ /
  background: -o-linear-gradient(top, #f3f3f3 0%,#d1d1d1 100%); / Opera11.10+ /
  background: -ms-linear-gradient(top, #f3f3f3 0%,#d1d1d1 100%); / IE10+ /
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#d1d1d1',GradientType=0 ); / IE6-9 /
  background: linear-gradient(top, #f3f3f3 0%,#d1d1d1 100%); / W3C /
  -webkit-box-shadow: 0px 0px 2px 2px  rgba(50,50,50,.4);
  -moz-box-shadow: 0px 0px 2px 2px rgba(50,50,50,.4);
  box-shadow: 0px 0px 2px 2px rgba(50,50,50,.4);
}

.button, .button:visited  {
  padding:8px 18px;
}

a.input-button {
  padding:6px 18px;
}

input.input-button {
  padding:8px 18px;
  margin:0;
}

.button:hover, .input-button:hover {
  border:1px solid rgb(145,145,145);
  -moz-box-shadow: inset 0 0 2px #888;
  -webkit-box-shadow: inset 0 0 2px #888;
  box-shadow: inner 0 0 2px #888;
  outline: none;
  cursor:pointer;
}

.button:active, .input-button:active {
  border:1px solid rgb(129,129,129);
  -moz-box-shadow: inset 0 0 6px #888;
  -webkit-box-shadow: inset 0 0 6px #888;
  box-shadow: inner 0 0 6px #888;
  outline: none;
  padding: 9px 18px 7px 18px;
}

.button:active  {
  padding: 9px 18px 7px 18px;
}

a.input-button:active {
  padding: 7px 18px 5px 18px;
}

.button-disabled, .button-disabled:visited {
  float:left;
  height:auto;
  text-align:center;
  white-space:nowrap;
  font-size:.8em;
  font-family:"gill sans", "arial", san-serif;
  border:1px solid rgb(209,209,209);
  padding:8px 18px;
  text-decoration:none;
  webkit-border-radius: 3px;
  moz-border-radius: 3px;
  border-radius: 3px;
  color:#CCCCCC;
  text-shadow: #fff 0px 1px 0px;
  text-transform:uppercase;
  background: #f3f3f3; / Old browsers /
  background: -moz-linear-gradient(top, #f3f3f3 0%, #d1d1d1 100%); / FF3.6+ /
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(100%,#d1d1d1)); / Chrome,Safari4+ /
  background: -webkit-linear-gradient(top, #f3f3f3 0%,#d1d1d1 100%); / Chrome10+,Safari5.1+ /
  background: -o-linear-gradient(top, #f3f3f3 0%,#d1d1d1 100%); / Opera11.10+ /
  background: -ms-linear-gradient(top, #f3f3f3 0%,#d1d1d1 100%); / IE10+ /
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#d1d1d1',GradientType=0 ); / IE6-9 /
  background: linear-gradient(top, #f3f3f3 0%,#d1d1d1 100%); / W3C */
}

.button-disabled:hover {
 cursor:default;
}




