/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License:none (public domain) */ html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
body {
  font-family: 'Helvetica Neue', Helvetica, Arial;
  font-size: 0.625em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: lobster,georgia,serif;
  font-size: 2.4em;
  font-weight: bold;
  color: #333;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.4em;
}
h4 {
  font-size: 1.2em;
}
h5 {
  font-size: 1.0em;
}

h6 {
  font-size: 0.8em;
}

p {
  font-size:   1.2em;
  line-height: 1.5em;
  padding: 1em 0;
}

li {
  font-size: 1.2em;
}

a {

}

a:hover {}

a:active {}

a:visited {}

em {
  font-weight: italic;
  font-weight: 400;
  line-height: 1em;
}

strong {
  font-weight: bold;
}

.column, .column-20, .column-27, .column-30, .column-33, .column-40, .column-50, .column-60, .column-66, .column-70, .column-80, .column-100 {
  float: left;
  height: 100%;
  display: block;
}

.column-20{
  width: 20%;
}
.column-27.paragraph {
 width: 27%;
 padding: 25px;
}
.column-30{
  width: 30%;
}
.column-33{
  width: 33%;
}
.column-33.image {
  padding: 25px 0 0 0;
  margin-bottom: -26px;
}
.column-40{
  width: 40%;
}
.column-50{
  width: 50%;
}
.column-60{
  width: 60%;
}
.column-66{
  width: 66%;
}
.column-70{
  width: 70%;
}
.column-80{
  width: 80%;
}

.invisible {
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.float-left, .left {
  float: left;
}

.float-right, .right {
  float: right;
}

.clearfix:before, .clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
.clearfix {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/* Structure */

#isotope-container{
  margin: 0 auto;
  height: 300px;
}
.item {
  width:  100px;
  height: 100px;
  margin: 10px;
  border: 1px dashed #eee;
}

.item.wide {
  width:  210px;
  height: 100px;
}
  
.item.tall {
  width:  100px;
  height: 210px;
}
  
.item.square {
  width:  210px;
  height: 210px;
}

#isotope-actions li {
  list-style: none;
}
#isotope-actions li.active{
  list-style: circle;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
  border-left:  1px solid #BFC4C6;
  border-right: 1px solid #BFC4C6;
}

#big-search-box-wrapper{
  height: 560px;
  width: 960px;
}

#big-search-box-header {
  height: 200px;
}

#big-search-box-body   {
  height: 160px;
  background: rgba(0,0,0,0.3);
  border-top:    1px solid rgba(255,255,255,0.4);
  border-bottom: 1px solid rgba(255,255,255,0.4);
}

#big-search-box-footer {
  height: 180px;
}

/* Design */
body {
  background: url(../images/background.png) repeat;
}


#body .wrapper{
  background: #BAECFF;
}
#big-search-box-wrapper.slide-one{
  background: url(../images/slide1.png) no-repeat;
}
#big-search-box-wrapper.slide-two{
  background: url(../images/slide2.png) no-repeat;
}
#big-search-box-wrapper.slide-three{
  background: url(../images/slide3.png) no-repeat;
}
