html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clear{
  clear: both;
}
/* framework */

/* columns */
.column{
  float: left;
}

.two-thirds{
  width: 66%;
}

.in-thirds{
  width: 33%;
}

.in-half, .two-quarters{
  width: 50%;
}

.in-quarters{
  width: 25%;
}

.three-quarters{
  width: 75%;
}

/* Style */
body {
  background: rgb(236,236,236);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.innerBody{
  width: 900px;
  margin: 0 auto;
}

#showcase{
  width: 900px;
  margin: 0 auto;
}

#logo{
  display: block;
  float: left;
  background: url(../images/logo.jpg) no-repeat;
  text-indent: -999em;
  width: 266px;
  height: 81px;
}

h1 {
	font-size: 20px;
	line-height:22px;
	color:black;
	font-weight:800;
	margin-bottom:7px;
}
h2 {
	font-size:14px;
	font-weight:800;
	color: rgb(51,51,51);
	margin-bottom:5px;
}

p {
    font-size:14px;
    line-height:18px;
    color: rgb(147,147,147);
}

a {color: rgb(51,51,51);}
a:hover {color: rgb(31,31,31);}
a:active, a:visited {color: rgb(0,0,0);}


/* BUTTONS 
 use the background sprite aligned to the right and let the left side cut off
 then use the border-left to close the border.
 
 SPRITE ORDER FOR ALL SPRITES 
 
  - normal
  - hover
  - active
 
*/

a.button, a.button:visited {
	font-size:14px;
	color: rgb(168,128,0);
	border-left: 1px solid rgb(222,179,38);
	font-weight:800;
	text-shadow: 0 1px rgb(255,230,100);
}

a.button:hover, a.button:active {
	color: rgb(93,74,0);
}

#steps p {
	font-size:13px;
	line-height:15px;
	font-style:italic;
	color: rgb(51,51,51);
}

#steps #phone {
	font-size:20px;
	line-height:22px;
}

#value {
  background: url(../images/background-valueguarantee.png) no-repeat;
  padding: 1em;
  min-height: 454px;
}

#value h1 {
  color:white;
  text-shadow: 0 1px 1px rgb(157,119,0);
}

#value h2 {
  font-size:13px;
  line-height:15px;
  color: rgb(93,74,0);
}

#value p {
  font-size:12px;
  line-height:16px;
  color: rgb(127,99,0);
  margin-bottom:15px;
}

#safetytraining {
  background: url(../images/background-button-action-sprite.png) no-repeat;
  height: 42px;
  line-height: 42px;
  text-align: left;
  text-indent: 12px;
  width: 365px;
  float: right;
  margin-right: 5px;
  cursor:pointer;
  position:absolute;
  bottom:4px;
  right:0;
}

#safetytraining:hover {
  background-position: 0px -42px;
}

#safetytraining:active {
  background-position: 0px -84px;
}

#safetytraining h1 {
  color: #AB8400;
  font-size: 15px;
  line-height: 42px;
  padding-left: 5px;
  text-shadow: 0 1px #FFed44;
}

div.linkbox h1{
  font-size: 22px;
  line-height: 24px;
  color: white;
}

div.linkbox .yellow {
	color: rgb(255,205,0);
}

#footer span.phone {
	font-size:16px;
	color: rgb(128,128,128);
	font-weight:800;
}

#footer #copyright {
	font-size:10px;
  text-align: center;
	color:rgb(160,160,160);
}
#header{
  padding: 40px 0px;
}
#showcase{
  background: url(../images/background-showcase.png) no-repeat;
  width: 911px;
  height: 443px;
  padding-top: 50px;
  padding-left: 12px;
}

#showcase-body{
  padding-right: 18px;
}

#showcase-header{
  display: none;
}

#showcase-body .column .content{
  margin: 5px 2em;
}

#showcase-body .column.first .content h2{
  font-size: 36px;
  color: #D6A70B;
  font-weight: bold;
  font-style: italic;
}

#showcase-body .content h3{
  font-size: 18px;
  font-weight: 800;
  font-style: italic;
  color: black;
}
#showcase-body .column.first .content h5{
  margin-top: 10px;
  font-size: 16px;
  font-style: italic;
  color: gray;
}

.large-phone{
  font-size: 18px;
  color: black;
  font-weight: bold;
}

.showcase-ribbon{
  width: 300px;
  height: 47px;
  text-indent: -999em;
  margin-left: -10px;
}

#call-ribbon{
  background: url(../images/step1.png) no-repeat;
}
#apply-ribbon{
  background: url(../images/step2.png) no-repeat;
}
#delivered-ribbon{
  background: url(../images/step3.png) no-repeat;
}
#showcase-body .column{
  height: 402px;
  background:#222;
}
#showcase-body .column.first{
  border-right: 1px solid #e1e1e1;
  background-color: white;
  background: -webkit-gradient(linear, left, right, from(#FFFFFF), to(#fafafa));
  background: -moz-linear-gradient(left, #FFFFFF, #fafafa);
  background: linear-gradient(left, #FFFFFF, #fafafa);
  background: gradient(linear, left, right, from(#FFFFFF), to(#fafafa));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#fafafa');
}

#showcase-body .column.last{
  border-left: 1px solid #e1e1e1;
  background-color: white;
  background: -webkit-gradient(linear, right, left, from(#FFFFFF), to(#fafafa));
  background: -moz-linear-gradient(right, #FFFFFF, #fafafa);
  background: linear-gradient(right, #FFFFFF, #fafafa);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#fafafa');
}

#showcase-body .showcase-yellow-title{
  height: 26px;
  line-height: 26px;
  font-size: 16px;
  font-weight: 800;
  color: #222;
  text-indent: 15px;
  text-shadow: 0 1px #FFCB00;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFCB00), to(#DBAB0A));
  background: -moz-linear-gradient(top, #FFCB00, #DBAB0A);
  background: linear-gradient(top, #FFCB00, #DBAB0A);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFCB00', endColorstr='#DBAB0A');
}
#showcase-body .skyjack-list li a{
  border-top:1px solid #e1e1e1;
  border-bottom:1px solid #ffffff;
  display: block;
  width: 100%;
  background: #FBFBFB;
  height: 26px;
  line-height: 26px;
  text-decoration: none;
  text-shadow:0 1px #FFFFFF;
  font-size: 13px;
  color: #5D5D5D;
  text-indent: 15px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#f1f1f1));
  background: -moz-linear-gradient(top, #FFFFFF, #f1f1f1);
  background: linear-gradient(top, #FFFFFF, #f1f1f1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#f1f1f1');
}
#showcase-body .skyjack-list li a:hover{
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#eaeaea));
  background: -moz-linear-gradient(top, #f5f5f5, #dadada);
  background: linear-gradient(top, #FFFFFF, #f1f1f1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#f1f1f1');
  border-bottom:1px solid #e1e1e1;
  border-top:1px solid #dddddd;
}
#showcase-body a#download-spec-sheet{
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#535353), to(#262626));
  background: -moz-linear-gradient(top, #535353, #262626);
  background: linear-gradient(top, #535353, #262626);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#535353', endColorstr='#262626');
  color: #f4f4f4;
  text-decoration: none;
  text-shadow: 0 -1px 1px black;
  font-weight: bold;
}
#showcase-body a#download-spec-sheet:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#535353), to(#121212));
  background: -moz-linear-gradient(top, #535353, #121212);
  background: linear-gradient(top, #535353, #121212);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#535353', endColorstr='#121212');
  color: white;
  text-decoration: none;
}
#showcase-body a#download-spec-sheet:active {
  box-shadow:         inset 0 1px rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.8);
  -moz-box-shadow:    inset 0 1px rgba(255, 255, 255, 0.8);
  background: -webkit-gradient(linear, left top, left bottom, from(#424242), to(#121212));
  background: -moz-linear-gradient(top, #424242, #121212);
  background: linear-gradient(top, #424242, #121212);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#424242', endColorstr='#121212');
}

#showcase-body .skyjack-list li a b{
  font-weight: bold;
  color: #3C3C3C;
}
#showcase-body h3#find-the-perfect-lift{
 color:#FFCB00;
 font-size:26px;
 margin-top:18px;
 margin-bottom:17px;
}

#showcase-body {

}

#showcase-body #skyjack-details-column .skyjack-details-header{
  height: 30px;
  line-height: 30px;
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #9D9D9D;
}

#skyjack-details-column .skyjack-details-header b{
  color: #646464;
}

#skyjack-details-column .skyjack-details-content ul li{
  display: block;
  height: 34px;
  line-height: 34px;
  border-bottom: 1px solid #D8D8D8;
  font-size: 14px;
  padding: 0 5px;
}

#skyjack-details-column .skyjack-details-content ul li.first{
  border-top: 1px solid #D8D8D8;
}

#skyjack-details-column .attr-name{
  float: left;
  color: #535353;
}

#skyjack-details-column .attr-value{
  float: right;
  color: black;
  font-weight: 800;
  font-style:italic;
}

#help-banner{
  background: url(../images/helpbanner.jpg) no-repeat;
  margin: 0 auto 2em auto;
  width: 888px;
  height: 52px;
  text-indent: -999em;
}

.yellow{
  color: #FDC30C;
}

.inner-pane{
  position:relative;
  background: url(../images/background-safetytraining.png) no-repeat;
  width: 580px;
  height: 234px;
  padding: 10px 10px 0 20px;
}

.inner-pane .content{

}

.inner-pane .content p{
  font-size: 13px;
  line-height: 18px;
}
.inner-pane .content h4 {
    font-weight: 800;
    color: #444;
    line-height: 18px;
}

.visual-blurb{
  width: 272px;
  height: 181px;
  margin-right: 20px;
  margin-left: 20px;
}

.visual-blurb.first{
  margin-left: 0px;
}

.visual-blurb.last{
  margin-right: 0px;
}

.visual-blurb .message{
  height: 139px;
  overflow: hidden;
}

.visual-blurb .message p{
  font-size: 22px;
  line-height: 24px;
  text-shadow: 0px 1px 2px black;
  padding: 8px 12px;
  color: white;
  font-weight: bold;
}

#specials-updates-availability{
  background: url(../images/background-linkbox-news.png) no-repeat;
}

#tell-us-what-you-think{
  background: url(../images/background-linkbox-feedback.png) no-repeat;
}

#safety-training-services{
  background: url(../images/background-linkbox-training.png) no-repeat;
}

a.sign-up{
  background: url(../images/background-button-action-sprite.png) top right;
  display: block;
  height: 42px;
  line-height: 40px;
  text-indent: 15px;
  text-decoration: none;
  width: 160px;
  font-weight: 800;
  float: right;
  border-left: 1px solid #D6A70B;
  color: #AB8400;
  text-shadow: 0 1px #FFed44;
}
a.sign-up:hover {
  background-position: right -42px;
  text-shadow: 0 1px #FFe840;
}

a.sign-up:active {
  background-position: right -84px;
}

#footer{
  margin-top: 100px;
  margin-bottom: 50px;
}

#footer-logo{
  background: url(../images/footer-logo.jpg) no-repeat;
  width: 203px;
  height: 54px;
  display: block;
  float: left;
  text-indent: -999em;
}

#footer cite{
  text-align: center;
  width: 100%;
}

#footer ul {
  margin: 0 50px;
  height: 30px;
  line-height: 20px;
  float: left;
  display: inline;
}

#footer ul li{
  float: left;
  font-size: 12px;
  text-align: center;
  margin: 0 15px;
  color: #6C6C6C;
}

#footer ul li.first{
  margin-left: 0px;
}

#footer ul li.last{
  margin-right: 0px;
}

#menu {
  display: block;
  float: right;
  background: url(../images/background-nav.png) no-repeat;
  padding-top: 5px;
  margin-top: 15px;
  padding-left: 5px;
  height: 55px;
  width: 505px;
}

#menu ul li{
  float: left;
}

#menu ul li a{
  display: block;
  width: 122px;
  font-size:14px;
  text-align: center;
  background: url(../images/background-button-sprite.png) repeat-x;
  height: 43px;
  line-height: 43px;
  text-decoration: none;
  border-right: 1px solid #E7E7E7;
  font-style: italic;
  font-weight:800;
  color: #5F5F5E;
  text-shadow: 0 1px #ffffff;
}

#menu ul li a:hover {
  background-position: 0 -41px;
}

#menu ul li a:active {
  background-position: 0 -83px;
}
#aboutus {
    padding:10px 0 0 0px;
    height: 181px;
    width:600px;
    border-bottom:1px solid #ccc;
    margin:10px 0 25px 10px;
}
#aboutus h3 {
    font-size:20px;
    font-weight: 800;
    color: #555;
    text-decoration:0 1px #fff;
    margin-bottom:10px;

}
#aboutus p {

}
