/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License:none (public domain) */ html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}



/*Global*/

html {
  height: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial;
  font-size: 0.625em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: ;
  font-size: 2.4em;
  font-weight: bold;
  color: #333;
}
h2 {
  font-size: 1.8em;
}
h3 {                
  font-size: 1.4em;
}
h4 {                
  font-size: 1.2em;
}
h5 {              
  font-size: 1.0em;
}

h6 {                
  font-size: 0.8em;
}

p {
  font-size:   1.2em;
  line-height: 1.5em;
  padding: 1em 0;
}

li {
  font-size: 1.2em;
}

a {}

a:hover {}
  
a:active {}
  
a:visited {}

em {
  font-weight: italic;
  font-weight: 400;
  line-height: 1em;
}

strong {
  font-weight: bold;
}

.column, .column-20, .column-27, .column-30, .column-33, .column-40, .column-50, .column-60, .column-66, .column-70, .column-80 {
  float: left;
  height: 100%;
  display: block;
}

.column-20{
  width: 20%;
}
.column-27.paragraph {
 width: 27%;
 padding: 25px; 
}
.column-30{
  width: 30%;
}
.column-33{
  width: 33%;
}
.column-40{
  width: 40%;
}
.column-50{
  width: 50%;
}
.column-60{
  width: 60%;
}
.column-66{
  width: 66%;
}
.column-70{
  width: 70%;
}
.column-80{
  width: 80%;
}

.invisible {
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix:before, .clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
.clearfix {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}


/*Structure*/

#container {
  height: 100%;
  margin: 0 auto;
  background: url(/images/brushed_alu.png) repeat;
}

#header {
  background: -webkit-gradient(linear, left top, left bottom, from(#0069f9), to(#82b7ff));
  background: -moz-linear-gradient(top, #0069f9, #82b7ff);
  background: linear-gradient(top, #0069f9, #82b7ff);
  width: 100%;
  height: 200px;
  border-bottom: 1px solid #999;
  -moz-box-shadow: 0px 1px 1px #555;
  -webkit-box-shadow: 0px 1px 1px #555;
  box-shadow: 0px 1px 1px #555;
  position: relative;
  z-index: 100;
}

#header-container {
  width: 960px;
  margin: 0 auto;
}

#header-logo {
 margin: 10px; 
}

#menu {
  width: 223px;
  margin: 141px 25px 0 0;
}

#menu li {
  float:left;
  padding: 10px;
  background: #e2e2e2;
  border: 1px solid white;
}

#menu li a {
  text-decoration: none;
  color: #076F96;
  display: block;
  width: 100%;
  height: 100%;
}

#menu li.first {
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 15px;
  -webkit-border-radius: 15px 0px 0px 15px;
  border-radius: 15px 0px 0px 15px;
}

#menu li.last {
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 15px;
  -moz-border-radius-bottomright: 15px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-radius: 0px 15px 15px 0px;
  border-radius: 0px 15px 15px 0px;
}

#content {
  background: #f7f7f7;
  width: 910px;
  padding: 25px;
  margin: 0 auto;
}

#footer {
  width: 100%;
  background: #333;
  height: 200px;
  -moz-box-shadow: 1px 0px 1px #000;
  -webkit-box-shadow: 1px 0px 1px #000;
  box-shadow: 1px 0px 1px #000;
}

#footer-container {
  width: 960px;
  margin: 0 auto;
}

#footer li {
  float:left;
  padding: 40px 20px 20px 20px;
}

#footer li:hover {
  background: #076F96;
}

#footer li a {
  text-decoration: none;
  color: white;
  display:block;
}

#footer-container p.copyright {
  color: white;
  font-size: 1em;
}

#footer-container p.innovatis a {
  color: white;
  font-size: 1em;
}