/*********START OF CSS RESET****************/
/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126  License: none (public domain)*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, /*fieldset, form, label,*/ legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {  margin: 0;  padding: 0;  border: 0;  font-size: 100%;  font: inherit;  vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {  content: '';content: none;}
table {  border-collapse: collapse;  border-spacing: 0;}
/*input, textarea, select {
   -webkit-appearance: none;
 }*/
/*********END OF CSS RESET****************/

html{
  height: 100%;
  background: url(../images/bkg_tile.jpg) repeat-x rgb(222,230,241);
}

body, select, input, textarea {
font: 1em;
}

body {
  height: 100%;
	background:url(../images/bkg_house.jpg)  top center no-repeat;
}

p {
  font-family:arial,sans-serif;
  color:rgb(116,116,107);
  font-size:.75em;
}

h1 {
  font-family: "garamond-premier-pro-caption-1","garamond-premier-pro-caption-2",serif;
  }

h2 {
  font-family: "garamond-premier-pro-caption-1","garamond-premier-pro-caption-2",serif;
  font-weight:600;
  font-size:1.1em;
  color:rgb(107,40,2);
}

.blue {
  color:rgb(32,71,101);
}

h3 {
  font-family:arial,sans-serif;
  font-weight:700;
  font-size:.9em;
}

.bold {
  color:rgb(33,44,61);
  font-weight:700;
}

#container {
  width:930px;
  margin:0 auto;
}

/*TOP INFO*/
#top-bar {
  clear:both;
  width:930px;
  height:93px;
  margin-top:60px;
}

#header-info {
  float:left;
  width:290px;
  text-align:center;
  margin:30px 0 0 0;
}

#header-logo {
  width:302px;
  height:93px;
  float:left;
}

.header-tagline {
  font-family: "garamond-premier-pro-caption-1","garamond-premier-pro-caption-2",serif;
  font-weight:500;
	font-size:1.1em;
	color:rgb(33,44,61);
	font-style:italic;
}

.header-phone-number {
  font-family: "garamond-premier-pro-caption-1","garamond-premier-pro-caption-2",serif;
  font-weight:700;
	font-size:1.4em;
	color:rgb(33,44,61);  
}

#ginos {
  width:62px;
  height:61px;
  float:left;
  margin:15px 0 0 0;
}


#eNews-box {
  background-color:rgb(215,224,234);
  height:50px;
  width:180px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  float:left;
  padding:10px;
  overflow:hidden;
  -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.6);
  box-shadow: 0px 1px 3px rgba(0,0,0,0.6);
  margin:10px 0 0 15px;
}

.eNews-title {
  font-family:arial,sans-serif;
  font-size:1.1em;
  color:rgb(107,40,2);
  font-style:italic;
  font-weight:700;
}

.eNews-message {
  font-family:arial,sans-serif;
  font-size:.7em;
  color:rgb(94,105,120);
  font-style:italic;
  width:95px;
  float:left;
  margin:5px 0 0 0;
}

a.sign-up {
  background: url(../images/button_white_sprite.png) no-repeat 0 0;
  width: 82px;
  height: 20px;
  display: block;
  margin: 8px 0 0 0;
  text-decoration: none;
  font-family: "garamond-premier-pro-caption-1","garamond-premier-pro-caption-2",serif;
  font-weight:600;
  font-size:.9em;
  color:rgb(79,79,79);
  text-align:center;
  padding:7px 0 0 0;
  float:right;
}

a.sign-up:hover {
  background-position: 0 -27px;
  }

a.sign-up:active {
  background-position: 0 -54px;
  }

/*END OF TOP INFO*/

/*MENU*/

#main-menu {
  width:930px;
  height:70px;
  margin:30px auto 0 auto;
  background:url(../images/nav_shadow.png)  bottom center no-repeat;
  }

ul#main-menu {
  list-style: none;
  text-align:center;
  width:890px;
  margin:0 auto;
}
ul#main-menu li{
  float:left;
  margin: 0;
}

ul#main-menu li a .page-title{
  font-family: "garamond-premier-pro-caption-1","garamond-premier-pro-caption-2",serif;
	font-size:1.1em;
	text-transform:uppercase;
	color:rgb(255,255,255);
}

ul#main-menu li a .page-sub-title {
  font-family:arial,sans-serif;
  font-size:.7em;
  color:rgb(195,168,153);
  font-style:italic;
}

ul#main-menu li a.active-listings {
  background: url(../images/nav_activelistings_sprite.png) no-repeat 0 0;
  width: 178px;
  height: 41px; /*56px minus padding*/
  display: block;
  margin: 0 auto;
  text-decoration: none;
  padding: 15px 0 0 0;
}

ul#main-menu li a.active-listings:hover {
  background-position: 0 -57px;
  }

ul#main-menu li a.active-listings:active {
  background-position: 0 -114px;
  }

ul#main-menu li a.communities {
  background: url(../images/nav_communities_sprite.png) no-repeat 0 0;
  width: 178px;
  height: 41px; /*56px minus padding*/
  display: block;
  margin: 0 auto;
  text-decoration: none;
  padding: 15px 0 0 0;
}

ul#main-menu li a.communities:hover {
  background-position: 0 -57px;
  }

ul#main-menu li a.communities:active {
  background-position: 0 -114px;
  }

ul#main-menu li a.buying-a-home {
  background: url(../images/nav_buyhome_sprite.png) no-repeat 0 0;
  width: 178px;
  height: 41px; /*56px minus padding*/
  display: block;
  margin: 0 auto;
  text-decoration: none;
  padding: 15px 0 0 0;
}

ul#main-menu li a.buying-a-home:hover {
  background-position: 0 -57px;
  }

ul#main-menu li a.buying-a-home:active {
  background-position: 0 -114px;
  }

ul#main-menu li a.selling-a-home {
  background: url(../images/nav_sellhome_sprite.png) no-repeat 0 0;
  width: 178px;
  height: 41px; /*56px minus padding*/
  display: block;
  margin: 0 auto;
  text-decoration: none;
  padding: 15px 0 0 0;
}

ul#main-menu li a.selling-a-home:hover {
  background-position: 0 -57px;
  }

ul#main-menu li a.selling-a-home:active {
  background-position: 0 -114px;
  }

ul#main-menu li a.contact-us {
  background: url(../images/nav_contact_sprite.png) no-repeat 0 0;
  width: 178px;
  height: 41px; /*56px minus padding*/
  display: block;
  margin: 0 auto;
  text-decoration: none;
  padding: 15px 0 0 0;  
}

ul#main-menu li a.contact-us:hover {
  background-position: 0 -57px;
  }

ul#main-menu li a.contact-us:active {
  background-position: 0 -114px;
  }

/*END OF MENU*/

/*FOOTER*/
#footer {
  width:890px;
  margin:28px auto 0 auto;
  height:200px;
}

#connect{
  background:url(../images/connect-bkg.png) no-repeat;
  height:53px;
  padding:17px 0 0 0;
}

ul#connectlist {
  list-style:none;
}

ul#connectlist li {
  float:left;
  margin:0 0 0 15px;
}

.connect-message {
  font-family:arial,sans-serif;
  font-size:.9em;
  color:rgb(51,51,51);
  font-weight:700;
  padding:3px 0 0 0;
}

.footer-tag {
  float:right;
}

.connect-grey {
  font-family: "garamond-premier-pro-caption-1","garamond-premier-pro-caption-2",serif;
  font-weight:700;  
  font-size:1.3em;
  color:rgb(51,51,51);
  font-style:italic;
}

.connect-red {
  font-family: "garamond-premier-pro-caption-1","garamond-premier-pro-caption-2",serif;  
  font-weight:700;
  font-size:1.4em;
  color:rgb(107,40,2);
  font-style:italic;
}

#footer-menu {
  list-style:none;
  width:100%;
  float:right;
  text-transform:uppercase;
  background:url(../images/footer-menu-bar.png) bottom right no-repeat;
}

.footer-links {
  margin:22px 0 0 20px !important;
}

ul#footer-menu li{
  float:left;
  margin:0 0 0 20px;
}

ul#footer-menu li a{
  font-family: "garamond-premier-pro-caption-1","garamond-premier-pro-caption-2",serif;
  color:rgb(125,146,157);
  font-weight:500;
  font-size:.9em;
  text-decoration:none;
}

ul#footer-menu li a:hover {
  color:rgb(107,40,2);
}

#infobox {
  width:914px;
  height:331px;
  margin:30px auto 0 auto;
  background:url(../images/infobox_bkg.png);
}

.infobox-col {
  width:185px;
  height:280px;
  float:left;
  padding:20px 20px;
}

.infobox-pics {
  height:119px;
  width:184px;
  margin:15px auto;
  border:3px solid white;
  -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.6);
   -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.6);
   box-shadow: 0px 1px 3px rgba(0,0,0,0.6);
}

#infobox p{
  font-size:.75em;
  margin: 15px auto;
}

#infobox p.tweet {
  margin:0;
}

#infobox p.tweet-time {
  font-family:arial,sans-serif;
  font-style:italic;
  color:rgb(38,152,190);
  margin:15px auto 5px auto;
}

a.red-button {
  background: url(../images/button_red_sprite.png) no-repeat 0 0;
  width: 104px;
  height: 21px;
  display: block;
  margin: 0 auto 0 auto;
  text-decoration: none;
  font-family: "garamond-premier-pro-caption-1","garamond-premier-pro-caption-2",serif;
  color:rgb(256,256,256);  
  font-weight:700;
  font-size:.8em;
  text-transform:uppercase;
  text-align:center;
  padding:10px 0 0 0;
  position:relative;
  bottom:7px;
  right:-44px;
}

a.red-button:hover {
  background-position: 0 -31px;
  }

a.red-button:active {
  background-position: 0 -62px;
  }
  
a.follow-button {
  background: url(../images/button_twitter_sprite.png) no-repeat 0 0;
  width: 92px;
  height: 32px;
  display: block;
  margin: 0 auto 0 auto;
  position:relative;
  bottom:0px;
  right:0px;
  text-indent:-9999em;
}

a.follow-button:hover {
  background-position: 0 -32px;
  }

a.follow-button:active {
  background-position: 0 -64px;
  }
    
.twitter-link {
  font-family:arial,sans-serif;
  font-size:.8em;
  color:rgb(32,71,101);
  float:right;
  margin:3px -8px 0 0;
}

.tweet-bubble {
  background:url(../images/tweet-bubble.png);
  height:55px;
  width:162px;
  padding:15px;
}
/*END OF FOOTER*/

/*PAGES*/
#page-content {
  width:930px;
  border:1px solid black;
}

/*END OF PAGES*/

/*HOME*/
#showcase {
  background:url(../images/home_showcase.png);
  height:456px;
  width:948px;
  margin:0 0 0 -23px;
}

#left-showcase {
  width:578px;
  height:345px;
  overflow:hidden;
  margin: 40px 0px 0px 29px;
  float:left;
}

#right-showcase {
  float:right;
  margin: 40px 25px 0px 29px;
/*  border:1px solid red;*/
  width:253px;
}

#right-showcase form {
  margin:0;
}

#right-showcase label {
  font-family:arial,sans-serif;
  font-weight:700;
  font-size:.8em;
  display:block;
  float:left;
  width:100px;
  margin:4px 0 0 0;
}

#right-showcase select {
  display:block;
  float:right;
  width:153px;
  text-align:center;
}

.relax-title {
  font-family: "garamond-premier-pro-caption-1","garamond-premier-pro-caption-2",serif;
  color:rgb(107,40,2);  
  font-weight:700;
  font-size:2.6em;
  text-transform:uppercase;
}

.relax-sub {
  font-family: "garamond-premier-pro-caption-1","garamond-premier-pro-caption-2",serif;  
  color:rgb(32,71,101);  
  font-weight:700;
  font-size:1.4em;
}

.home-finder-divider {
  height:2px;
  width:321px;
  background:url(../images/home-finder-divider.png);
  float:right;
  margin:11px -16px 11px 0;
}

a.search-homes {
  background: url(../images/button_search_sprite.png) no-repeat 0 0;
  width: 253px;
  height: 48px;
  display: block;
  margin: 0 auto;
  text-decoration: none;
  text-indent:-9999em;
  float:right;
}

a.search-homes:hover {
  background-position: 0 -49px;
  }

a.search-homes:active {
  background-position: 0 -98px;
  }

#ticker {
  float:left;
  width:910px;
  margin:29px 0 0 32px;
  padding:11px 0 0 0;
  height:27px;
  background:url(../images/ticker_bkg.png);
}

#ticker-listing {
  width:930px;
}

ul#ticker-listing {
  list-style:none;
}

ul#ticker-listing li{
  float:left;
  margin:0 0 0 15px;
}

.ticker-new-listings{
  font-family:arial,sans-serif;
  font-size:.8em;
  font-weight:700;  
  text-transform:uppercase;
  color:rgb(0,78,111);
  font-style:italic;
}

.ticker-title {
  font-family: "garamond-premier-pro-caption-1","garamond-premier-pro-caption-2",serif;
  font-size:.9em;
  font-weight:600;  
  text-transform:uppercase;
  color:rgb(107,40,2);
}

.ticker-features {
  font-family:arial,sans-serif;
  font-size:.8em;
  color:rgb(0,78,111);
  font-style:italic;
}

.ticker-price {
  font-family:arial,sans-serif;
  font-size:.8em;
  font-weight:700;  
  text-transform:uppercase;
  color:rgb(32,71,101);
}

a.view-details {
  background: url(../images/button_details_sprite.png) no-repeat 0 0;
  width: 118px;
  height: 14px;
  display: block;
  margin: -8px 0 0 24px;
  padding:8px 0;
  text-align:center;
  text-decoration: none;
  font-family:arial,sans-serif;
  font-weight:700;
  font-size:.8em;
  text-transform:uppercase;
  color:rgb(93,120,133);
  float:right;
}

a.view-details:hover {
  background-position: 0 -31px;
  }

a.view-details:active {
  background-position: 0 -62px;
  }
/*END OF HOME*/

/*LISTINGS*/
ul#listing-bar {
  list-style:none;
  clear:both;
  width:904px;
  height:45px;
  margin: 0 0 0 16px;
}

ul#listing-bar li{
  float:left;
  margin:10px 15px 0 0;
}

ul#listing-bar.select {
 font-size: 12px;
 margin: 0 0 0 0;
 width: 60%;
 -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.6);
 -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.6);
 box-shadow: 0px 1px 3px rgba(0,0,0,0.6);
 float:right;
}

.bold-red {
  font-family:arial,sans-serif;
  font-size:.8em;
  font-weight:700;
  color:rgb(107,40,2);
}

ul#listing-bar img{
  margin:-7px 0 0 18px;
}

#listings-wrapper {
  width:930px;
}

#listings-top {
  width:904px;
  height:34px;
  margin:0 auto;
  background:url(../images/content_top.png);
}

#listings {
  width:904px;
  height:373px;
  margin:0 auto;
  background:url(../images/listing-background.png);
}

.listing-column {
  width:198px;
  height:373px;
  float:left;
  padding:0px 13px 13px 13px;
}

.listing-divider {
  width:1px;
  height:371px;
  background:url(../images/listing-divider.png);
  float:left;
  margin:0;
  padding:0;
}

#listings-bottom {
  width:904px;
  height:34px;
  margin:0 auto;  
  background:url(../images/content_bottom.png);
}

.listing-pics {
  height:115px;
  width:185px;
  margin:15px auto;
  border:3px solid white;
  -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.6);
   -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.6);
   box-shadow: 0px 1px 3px rgba(0,0,0,0.6);
}

.listing-button-centre {
  width:150px;
  margin:15px auto;
  position:relative;
  bottom:-25px;
}

.listing-spacing {
  margin:15px 0 25px 0;
}

/*END OF LISTINGS*/

/*DETAILS/TABS*/

#details-box {
  width:904px;
  height:409px;
  margin:0 auto;
  padding:32px 0 0 0;
  background:url(../images/details-box.png);
}

#feature-details {
  height:344px;
  width:189px;
  float:left;
  padding:15px;
}

.detail-pics {
  height:115px;
  width:185px;
  margin: 15px 0;
  border:3px solid white;
  -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.6);
   -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.6);
   box-shadow: 0px 1px 3px rgba(0,0,0,0.6);
}

.feature-pics {
  height:215px;
  width:310px;
  margin:15px 0 0 33px;
  border:3px solid white;
  -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.6);
   -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.6);
   box-shadow: 0px 1px 3px rgba(0,0,0,0.6);
}

#feature-form {
  height:374px;
  width:245px;
  float:left;
  padding:15px;
}

#feature-form label{
  display:block;
	font-family: Arial, sans-serif;
	font-size:.8em;
	color:rgb(102,102,102);
}

#feature-form .input{
  margin:15px 0;
}

#feature-form input{
 width:220px;
 height:26px;
 border: 1px solid rgb(179,179,179);
 margin:3px 0 0 0;  
}

#property-info {
  position:relative;
	width:407px;
	float:left;
}
div.pane {
	position:relative;
	width:350px;
	padding: 15px 10px;
	background:white;
	display: none;
}
div.property-panes #property-control {
	float:left;
	margin:0;
}
ul.property-tabs {
	float:left;
 	list-style:none;
	margin:2px 0 0 0;
}
ul.property-tabs li {
	float:left;
	list-style:none;
}
ul.property-tabs li a {
	display:block;
	width:134px;
	font-family: Arial, sans-serif;
	text-decoration:none;
	font-size:12px;
	color:rgb(72,87,102);
  margin-right:-1px;
  text-align:center;
	text-shadow: 0 1px #ece9e0;
	border-left:1px solid rgb(154,168,178);
	border-right:1px solid rgb(154,168,178);
/*  border-top:1px solid rgb(154,168,178);*/
	padding:7px 0 6px 0;
  background:#d2cbb6;
	background: url(../images/tab-background.png);
}
ul.property-tabs li a:hover {
	color:rgb(107,40,2);
}
ul.property-tabs li a:active, ul.property-tabs li a.current {
	background:white;
	text-shadow:none;
}
div.info-pages {
	float:left;
	width:405px;
	height:348px;
	margin:0;
	background:white;
	border-left:1px solid rgb(154,168,178);
	border-right:1px solid rgb(154,168,178);
}
.overview-bold {
	font-weight:bold;
}
div.information {
}
div.information ul {
	float:left;
}
div.information p {
	float:left;
	font-size:14px;
	margin:5px 15px;
	color:#555;
	line-height:20px;
}


/*END OF TABS*/