/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License:none (public domain) */ html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}



/*Global*/

html {
  height: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 0.625em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: verdana, helvetica, sans-serif;
  font-size: 2.4em;
  font-weight: 800;
  color: #333;
}
h2 {
  font-size: 1.8em;
}
h3 {                
  font-size: 1.4em;
}
h4 {                
  font-size: 1.2em;
}
h5 {              
  font-size: 1.0em;
}

h6 {                
  font-size: 0.8em;
}

p {
  font-size:   1.2em;
  line-height: 1.5em;
  padding: 1em 0;
}

li {
  font-size: 1.2em;
}

a, a:active, a:visited {
  color: #3e7898;
}

a:hover {
  color: #555;
}

em {
  font-weight: italic;
  font-weight: 400;
  line-height: 1em;
}

strong {
  font-weight: bold;
}

.column, .column-20, .column-27, .column-30, .column-33, .column-40, .column-50, .column-60, .column-66, .column-70, .column-80, .column-100 {
  float: left;
  height: 100%;
  display: block;
}

.column-20{
  width: 20%;
}
.column-27.paragraph {
 width: 27%;
 padding: 25px; 
}
.column-30{
  width: 30%;
}
.column-33{
  width: 33%;
}
.column-33.image {
  padding: 25px 0 0 0;
  margin-bottom: -46px;
}
.column-40{
  width: 40%;
}
.column-50{
  width: 50%;
}
.column-50.paragraph{
  padding:25px;
  width:44%;
}
.column-50.image img{
  -moz-box-shadow:    1px 1px 2px #333;
  -webkit-box-shadow: 1px 1px 2px #333;
  box-shadow:         1px 1px 2px #333;
}

.column-60{
  width: 60%;
}
.column-60.paragraph {
  padding: 25px; 
}

.column-66{
  width: 66%;
}

.column-70{
  width: 70%;
}
.column-80{
  width: 80%;
}

.invisible {
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix:before, .clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
.clearfix {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}


/*Structure*/

#container {
  height: 100%;
  margin: 0 auto;
  background: url(../images/brushed_alu.png) repeat;
}

#header {
  height: 200px;
}

#header, #header-container {
  width: 960px;
  margin: 0 auto;
}

#header-logo {
  margin-top: 15px;
}

#menu {
  position: relative;
  top: 150px;
  right: -112px;
}

#menu li {
  float:left;
}

#menu li a.current, #menu li a:visited.current, #menu li a.current:hover, #menu li a:visited.current:hover {
  background-color: #F7F9FF;
  color: #333;
  border-bottom: none;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  cursor: default; 
}

#menu li a, #menu li a:visited  {
  text-decoration: none;
  color: #666666;
  display: block;
  padding: 10px 15px 10px 15px;
  background: #e2e2e2;
  border: 1px solid white;
  border-bottom: none;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
  text-shadow: #fff 0px 1px 1px;
}

#menu li a:hover {
  color: white;
  background: #5d9bbd;
  text-shadow: #777 0px 1px 1px;
}

#menu li a.current:hover {
  text-shadow: #fff 0px 0px 0px;
}

#menu li a:active {
  background: #1c7bff;
}

#content {
  background: #f9fbff;
  width: 910px;
  padding: 25px;
  padding: 25px 25px 43px 25px;  
  margin: 0 auto -7px auto;
  border: 1px solid #ddd;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;

}

#footer {
  width: 100%;
  background: #333 url(../images/footer-background.jpg);
  height: 200px;
  -moz-box-shadow: 1px 0px 1px #000;
  -webkit-box-shadow: 1px 0px 1px #000;
  box-shadow: 1px 0px 1px #000;
  position: relative;
  z-index: 999;
}

#footer-container {
  width: 960px;
  margin: 0 auto;
}

#footer li {
  float:left;
}

#footer li a {
  text-decoration: none;
  color: white;
  display:block;
  padding: 40px 10px 20px 10px;
}

#footer li a:hover {
  background: #3e7898;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-radius:  0px 0px 10px 10px;
  border-radius:          0px 0px 10px 10px;
  -moz-box-shadow:    inset 0px 1px 5px #333;
  -webkit-box-shadow: inset 0px 1px 5px #333;
  box-shadow:         inset 0px 1px 5px #333;
}

#footer-container .footer-logo {
  background: url(../images/footer-logo.png);
  height:150px;
  width:150px;
  margin: 20px auto;
  }

#footer-container p.footer-contact-info {
  font-size: 1.5em;
  font-weight: bold;
}

#footer-container p.footer-contact-info, #footer-container p.footer-contact-info a{
  color: white;
  margin-top: 21px;
}

#footer-container p.innovatis ,#footer-container p.innovatis a, #footer-container p.copyright{
  color: white;
  font-size: 1em;
  margin-top: -10px;
}

a.call-to-action-button {
  text-indent: -9999em;
  background: url(../images/call-to-action-button.png) no-repeat 0 0;
  width: 249px;
  height: 80px;
  display: block;
}

a.call-to-action-button:hover {
  background-position: 0 -80px;
}

.headline-box {
  float: left;
  display: block;
  margin: 20px 20px 20px -37px;
}

.headline-box .triangle {
  background: url(../images/triangle.png);
  height:11px;
  width:11px;
}

.headline-box h2{
  color: white;
  font-size: 2.4em;
  text-shadow: 1px 1px 1px #3e7898;
  background: -webkit-gradient(linear, left top, left bottom, from(#3e7898), to(#5d9bbd));
  background: -moz-linear-gradient(top, #3e7898, #5d9bbd);
  background: linear-gradient(top, #3e7898, #5d9bbd);
  background-color: #3e7898;
  border: 1px solid #3e7898; 
  padding: 20px 20px 20px 35px;
  -moz-box-shadow:    1px 1px 1px #333;
  -webkit-box-shadow: 1px 1px 1px #333;
  box-shadow:         1px 1px 1px #333;
}

.tagline {
  margin: 0 auto;
  width: 100%;
  float:left;
  position: relative;
  top: 90px;
  left: -75px;
}

h2.tagline {
  color: #3e7898;
  font-size: 1.8em;
  text-shadow: #fff 1px 1px 1px;
  text-align: center;
}

#three-circles {
 background: url(../images/three-circles.png);
 width:145px;
 height:137px;
 position: relative;
 top: -16px;
 right: 0;
 float: right;
}

#have-you-ever-felt h3{
  font-size: 2.2em;
  color: #3e7898;
  text-shadow: #333 0px 1px 1px;
  margin-bottom: 10px;
}

#have-you-ever-felt li{
  font-size: 1.8em;
  line-height: 2.1em;
  font-weight: bold;
  color: #999;
}

#have-you-ever-felt li a{
  float:right;
  margin-right:100px;
  text-decoration: none;
  color: #3e7898;
}

#have-you-ever-felt li a:hover {
  border-bottom: 1px dotted #3e7898;
}

.tip-listing li{
  font-size: 1.2em;
  line-height: 1.8em;
  margin-left: 20px;
  margin-bottom: 10px;
  color: #3e7898;
}

.tip-listing.numbers li {
  list-style-type:decimal;
}

.tip-listing.bullets li {
  list-style:disc;
}

.column-50.paragraph h4{
  margin-top: 25px;
}

blockquote {
	margin: 1em 20px;
	padding-left: 45px;
	background: transparent url(../images/blockquote.png) no-repeat;
	font-size: 1.2em;
	line-height:1.8em; 
	color: #777;
}

cite{
  text-align:right;
}

a.readers-digest {
  text-indent: -9999em;
  background: url(../images/readers-digest.png) no-repeat 0 0;
  width: 455px;
  height: 256px;
  display: block;
  margin-top:25px;
}

a.readers-digest:hover {
  background-position: 0 -256px;
}

.contact-info{
  border: 1px solid #e2e2e2;
  background: #eee;
  padding: 15px;
  webkit-border-radius: 10px;
  moz-border-radius: 10px;
  border-radius: 10px;
}

.contact-info li {
  line-height: 25px;
}

#top-bar {
  height: 15px;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#3e7898), to(#5d9bbd));
  background: -moz-linear-gradient(top, #3e7898, #5d9bbd);
  background: linear-gradient(top, #3e7898, #5d9bbd);
  background: #3e7898;
  border: 1px solid #3e7898; 
  -moz-box-shadow:    1px 1px 1px #333;
  -webkit-box-shadow: 1px 1px 1px #333;
  box-shadow:         1px 1px 1px #333;
  padding: 15px 0;
  position: relative;
  z-index: 999;
}

#top-bar .contact-info-container {
  width: 960px;
  margin: 0 auto;
  color: white;
  font-size: 1.4em;
}

#top-bar .contact-info-container li{
  list-style:none;
  float: right;
  margin-left: 25px;
}

#top-bar .contact-info-container a {
  color: white;
}