/*********START OF CSS RESET****************/

/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126  License: none (public domain)*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {  margin: 0;  padding: 0;  border: 0;  font-size: 100%;  font: inherit;  vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {  content: '';content: none;}
table {  border-collapse: collapse;  border-spacing: 0;}
input, textarea, select {-webkit-appearance: none;}

/*********END OF CSS RESET****************/

#container{
   width:1150px;
   margin: 0 auto;
}

#top-band{
  height: 50px;
  background: #404040;
}
#top-band div{
   width: 820px;
   margin: 0 auto;
   padding-top:20px;
}
#top-band h2{
  line-height: 22px;
  color: #FFFFFF;
  font-size: 12px;
  display: inline;
  float:left;
}
#top-band h2 span{
  font-size: 16px;
  color: #E7C56D;
}
#top-band ul{
   display: inline;
}
#top-band ul li{
   display: inline;
}
#top-band ul li a{
   display: block;
   text-decoration: none;
   line-height: 22px;
   float: left;
   margin-left: 18px;
   font-size: 10px;
   color: #1E1A0D;
   height: 22px;
   background: #C9AA60;
   -webkit-box-shawdow: 1px 1px 1px #fff;
   -webkit-border-radius: 0.5em;

}

#main-menu{
  height:90px;
  background: #FCE6DB
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}
#main-menu #logo{
   width:295px;
   height: 100%;
   margin-left: 100px;
   background: pink;
   float:left;
   border-left: 1px solid black;
   border-right: 1px solid black;
}
#main-menu ul li{
   float: left;
   width:158px;
   border-right: 1px solid black;
   height: 90px;
   background: pink;
}

#main-area .upper{
  height:530px;
  background: red;
}
#main-area .upper .left{
   height:100%;
   width:275px;
   float: left;
   margin-left: 110px;
   background: yellow;
}
#main-area .upper .right{
   width:765px;
   height:100%;
   background: purple;
   float:left;
}
#main-area .lower{
  height:358px;
  background: green;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}
#main-area .lower h2{
   display: block;
   width:805px;
   font-size: 36px;
   color: #5E0010;
   margin: 0 auto;
   margin-top: 65px;
   margin-bottom: 40px;
}

#main-area .lower ul{
   width: 950px;
   display: block;
   margin: 0 auto;

}
#main-area .lower li{
   width:305px;
   height:170px;
   margin-right: 16px;
   display:block;
   float:left;
   background: pink;
}
#main-area .lower ul h3{
   color: #5D0010;
   font-size: 20px;
   display: block;
   margin-top: 16px;
   margin-left: 16px;
}

#main-area .lower #anniversaries{
   margin-right:0;
}
#footer{
  height: 335px;
}
#footer #panel{
   width: 265px;
   height: 270px;
   margin-left: 120px;
   background: darkred;
   float:left;
}
#footer #panel .TMP-pic-placeholder{
   height: 95px;
   width: 265px;
   background: green;
}
#footer #panel div{
   border-bottom: 1px solid magenta;
}
#footer #panel h3{
   font-size: 12px;
   color: #E7C56D;
   text-align: center;
   display: block;
   margin-top: 10px;
   margin-bottom: 5px;
}
#footer #panel span{
   font-size: 12px;
   color: #FFFFFF;
   text-align: center;
   display: block;
   margin-bottom: 10px;
}

#footer .wrapper{
   float: left;
   width: 765px;
   height:335px;
   background: purple;
}
#footer .upper{
   height: 170px;
   width: 765px;
   background: red;
}
#footer .upper div{
   padding-top: 20px;
}
#footer .upper div h3{
   color: #E7C56D;
   font-size: 18px;
   margin-bottom: 1em;
}
#footer .upper ul li a{
   font-size: 14px;
   color: #FFFFFF;
   display: block;
   text-decoration: none;
   margin-bottom: 5px;
}
#footer .upper #themed-suites ul.left{
   width: 110px;
   display: block;
   float: left;
}
#footer .upper #themed-suites ul.right{
   width: 110px;
   display: block;
   float: left;
}
#footer .upper .submenu{
   float: left;
   margin-left: 32px;
}

#footer .lower{
   height: 133px;
   padding-top: 32px;
}

#footer .lower div{
   margin-left: 32px;
}
#footer .lower #connect{
   padding-top: 16px;
   width: 160px;
   height: 60px;
   background: green;
   float: left;
}
#footer .lower div h3{
   color: #E7C56D;
   font-size: 16px;
   margin-bottom: 10px;
}
#footer .lower #connect img{
   margin-left: 10px;
}

#footer .lower #reviews{
   padding-top: 16px;
   width: 180px;
   height: 65px;
   background: green;
   float: left;
}

#footer .lower #reserve{
   width: 310px;
   height: 81px;
   background: green;
   float: left;
}
#footer .lower #reserve h3{
   font-size: 18px;
   text-align: right;
   display: block;
}
#footer .lower #reserve h4{
   color: #ffffff;
   font-size: 14px;
   text-align: right;
   display: block;
   margin-bottom: 10px;
}
