/*********START OF CSS RESET****************/
/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126  License: none (public domain)*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, /*fieldset, form, label,*/ legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {  margin: 0;  padding: 0;  border: 0;  font-size: 100%;  font: inherit;  vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {  content: '';content: none;}
table {  border-collapse: collapse;  border-spacing: 0;}
/*input, textarea, select {
   -webkit-appearance: none;
 }*/
/*********END OF CSS RESET****************/

html{
  height: 100%;
  background: url(../images/bkg_tile.jpg) repeat-x rgb(222,230,241);
}
body {
  height: 100%;
	background:url(../images/bkg_house.jpg)  top center no-repeat;
	font-size:100%;
}

h1 {
  font-family: "garamond-premier-pro-caption-1","garamond-premier-pro-caption-2",serif;
  }

#container {
  width:930px;
  margin:0 auto;
}

/*TOP INFO*/
#top-bar {
  clear:both;
  width:930px;
  height:93px;
  margin-top:80px;
}

#header-info {
  float:left;
  width:290px;
  text-align:center;
  margin:30px 0 0 0;
}

#header-logo {
  width:302px;
  height:93px;
  float:left;
}

.header-tagline {
  font-family: "garamond-premier-pro-caption-1","garamond-premier-pro-caption-2",serif;
  font-weight:500;
	font-size:1.1em;
	color:rgb(33,44,61);  
}

.header-phone-number {
  font-family: "garamond-premier-pro-caption-1","garamond-premier-pro-caption-2",serif;
  font-weight:700;
	font-size:1.4em;
	color:rgb(33,44,61);  
}

#ginos {
  height:27px;
  width:62px;
  background-color:rgb(225,229,235);
  float:left;
  font-weight:600;
  font-size:1em;
  font-family: "garamond-premier-pro-caption-1","garamond-premier-pro-caption-2",serif;
  text-transform:uppercase;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align:centre;
  padding:15px;
  margin:18px 0 0 0;
}

#eNews-box {
  background-color:rgb(215,224,234);
  height:50px;
  width:180px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  float:left;
  padding:10px;
  overflow:hidden;
  -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.6);
  box-shadow: 0px 1px 3px rgba(0,0,0,0.6);
  margin:10px 0 0 15px;
}

.eNews-title {
  font-family:arial,sans-serif;
  font-size:1.1em;
  color:rgb(107,40,2);
  font-style:italic;
  font-weight:700;
}

.eNews-message {
  font-family:arial,sans-serif;
  font-size:.7em;
  color:rgb(94,105,120);
  font-style:italic;
  width:95px;
  float:left;
  margin:5px 0 0 0;
}

a.sign-up {
  background: url(../images/button_white_sprite.png) no-repeat 0 0;
  width: 82px;
  height: 20px;
  display: block;
  margin: 8px 0 0 0;
  text-decoration: none;
  font-family: "garamond-premier-pro-caption-1","garamond-premier-pro-caption-2",serif;
  font-weight:600;
  font-size:.9em;
  color:rgb(79,79,79);
  text-align:center;
  padding:7px 0 0 0;
  float:right;
}

a.sign-up:hover {
  background-position: 0 -27px;
  }

a.sign-up:active {
  background-position: 0 -54px;
  }

/*END OF TOP INFO*/

/*MENU*/

#main-menu {
  width:930px;
  height:70px;
  margin:30px auto 0 auto;
  background:url(../images/nav_shadow.png)  bottom center no-repeat;
  }

ul#main-menu {
  list-style: none;
  text-align:center;
  width:890px;
  margin:0 auto;
}
ul#main-menu li{
  float:left;
  margin: 0;
}

ul#main-menu li a .page-title{
  font-family: "garamond-premier-pro-caption-1","garamond-premier-pro-caption-2",serif;
	font-size:1.1em;
	text-transform:uppercase;
	color:rgb(255,255,255);
}

ul#main-menu li a .page-sub-title {
  font-family:arial,sans-serif;
  font-size:.7em;
  color:rgb(195,168,153);
  font-style:italic;
}

ul#main-menu li a.active-listings {
  background: url(../images/nav_activelistings_sprite.png) no-repeat 0 0;
  width: 178px;
  height: 41px; /*56px minus padding*/
  display: block;
  margin: 0 auto;
  text-decoration: none;
  padding: 15px 0 0 0;
}

ul#main-menu li a.active-listings:hover {
  background-position: 0 -57px;
  }

ul#main-menu li a.active-listings:active {
  background-position: 0 -114px;
  }

ul#main-menu li a.communities {
  background: url(../images/nav_communities_sprite.png) no-repeat 0 0;
  width: 178px;
  height: 41px; /*56px minus padding*/
  display: block;
  margin: 0 auto;
  text-decoration: none;
  padding: 15px 0 0 0;
}

ul#main-menu li a.communities:hover {
  background-position: 0 -57px;
  }

ul#main-menu li a.communities:active {
  background-position: 0 -114px;
  }

ul#main-menu li a.buying-a-home {
  background: url(../images/nav_buyhome_sprite.png) no-repeat 0 0;
  width: 178px;
  height: 41px; /*56px minus padding*/
  display: block;
  margin: 0 auto;
  text-decoration: none;
  padding: 15px 0 0 0;
}

ul#main-menu li a.buying-a-home:hover {
  background-position: 0 -57px;
  }

ul#main-menu li a.buying-a-home:active {
  background-position: 0 -114px;
  }

ul#main-menu li a.selling-a-home {
  background: url(../images/nav_sellhome_sprite.png) no-repeat 0 0;
  width: 178px;
  height: 41px; /*56px minus padding*/
  display: block;
  margin: 0 auto;
  text-decoration: none;
  padding: 15px 0 0 0;
}

ul#main-menu li a.selling-a-home:hover {
  background-position: 0 -57px;
  }

ul#main-menu li a.selling-a-home:active {
  background-position: 0 -114px;
  }

ul#main-menu li a.contact-us {
  background: url(../images/nav_contact_sprite.png) no-repeat 0 0;
  width: 178px;
  height: 41px; /*56px minus padding*/
  display: block;
  margin: 0 auto;
  text-decoration: none;
  padding: 15px 0 0 0;  
}

ul#main-menu li a.contact-us:hover {
  background-position: 0 -57px;
  }

ul#main-menu li a.contact-us:active {
  background-position: 0 -114px;
  }

/*END OF MENU*/

/*FOOTER*/
#footer {
  width:890px;
  margin:0 auto 0 auto;
  height:200px;
}

#connect{
  background:url(../images/connect-bkg.png) no-repeat;
  height:53px;
  padding:17px 0 0 0;
}

ul#connectlist {
  list-style:none;
}

ul#connectlist li {
  float:left;
  margin:0 0 0 15px;
}

.connect-message {
  font-family:arial,sans-serif;
  font-size:.9em;
  color:rgb(51,51,51);
  font-weight:700;
  padding:3px 0 0 0;
}

.footer-tag {
  float:right;
}

.connect-grey {
  font-family: "garamond-premier-pro-caption-1","garamond-premier-pro-caption-2",serif;
  font-weight:700;  
  font-size:1em;
  color:rgb(51,51,51);
  font-style:italic;
}

.connect-red {
  font-family: "garamond-premier-pro-caption-1","garamond-premier-pro-caption-2",serif;  
  font-weight:700;
  font-size:1.1em;
  color:rgb(107,40,2);
  font-style:italic;
}

#footer-menu {
  list-style:none;
/*  width:675px;*/
  width:100%;
  float:right;
  text-transform:uppercase;
  background:url(../images/footer-menu-bar.png) bottom right no-repeat;
}

.footer-links {
  margin:22px 0 0 20px !important;
}

ul#footer-menu li{
  float:left;
  margin:0 0 0 20px;
}

ul#footer-menu li a{
  font-family: "garamond-premier-pro-caption-1","garamond-premier-pro-caption-2",serif;
  color:rgb(125,146,157);
  font-weight:500;
  font-size:.9em;
  text-decoration:none;
}

ul#footer-menu li a:hover;{
  color:rgb(107,40,2);
}
/*END OF FOOTER*/

/*PAGES*/
#content {
  width:930px;
/*  height:640px;*/
}
/*END OF PAGES*/

/*HOME*/
#showcase {
  background:url(../images/home_showcase.png);
  height:456px;
  width:948px;
  margin:auto;
}

#left-showcase {
  width:578px;
  height:345px;
  overflow:hidden;
  margin: 40px 0px 0px 29px;
  float:left;
}

#right-showcase {
  float:right;
  margin: 40px 25px 0px 29px;
  border:1px solid red;
  width:253px;
}

.relax-title {
  font-family: "garamond-premier-pro-caption-1","garamond-premier-pro-caption-2",serif;
  color:rgb(107,40,2);  
  font-weight:700;
  font-size:2em;
  text-transform:uppercase;
}

.relax-sub {
  font-family: "garamond-premier-pro-caption-1","garamond-premier-pro-caption-2",serif;  
  color:rgb(32,71,101);  
  font-weight:700;
  font-size:1.5em;
}

select {
 font-size: 12px;
/* line-height: 1em;*/
 margin: 10px 0 0 0;
 width: 60%;
 -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.6);
 -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.6);
 box-shadow: 0px 1px 3px rgba(0,0,0,0.6);
 float:right;
}

a.search-homes {
  background: url(../images/button_search_sprite.png) no-repeat 0 0;
  width: 253px;
  height: 48px;
  display: block;
  margin: 25px auto 0 auto;
  text-decoration: none;
  text-indent:-9999em;
  float:right;
}

a.search-homes:hover {
  background-position: 0 -49px;
  }

a.search-homes:active {
  background-position: 0 -98px;
  }

ul#home-finder label {
  float:left;
  font-family:arial,sans-serif;
  font-weight:700;
  font-size:.8em;
  color:rgb(32,71,101);
  background:yellow;
}
/*END OF HOME*/

