/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License:none (public domain) */ html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}



/*Global*/

html {
  height: 100%;
}

body {
  font-family: "Footlight MT Light", "Palatino Linotype", georgia, serif;
  font-size: 0.625em;
  background: #f2cfcf; /* Old browsers */
  background: -moz-linear-gradient(left, #f2cfcf 0%, #ffffff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f2cfcf), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #f2cfcf 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #f2cfcf 0%,#ffffff 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(left, #f2cfcf 0%,#ffffff 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2cfcf', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
  background: linear-gradient(left, #f2cfcf 0%,#ffffff 100%); /* W3C */
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Footlight MT Light", "Palatino Linotype", georgia, serif;
  font-size: 6em;
  font-weight: bold;
  color: #333;
}
h1 {
  color: #c6c7cb;
  text-shadow: #444 1px 0px 1px;
}
h2 {
  font-size: 1.8em;
}
h3 {                
  font-size: 1.6em;
}
h4 {                
  font-size: 1.2em;
}
h5 {              
  font-size: 1.0em;
}

h6 {                
  font-size: 0.8em;
}

p {
  font-size:   1.2em;
  line-height: 1.5em;
  padding: 1em 0;
}

a {}

a:hover {}
  
a:active {}
  
a:visited {}

em {
  font-weight: italic;
  font-weight: 400;
  line-height: 1em;
}

strong {
  font-weight: bold;
}

.column, .column-20, .column-30, .column-33, .column-40, .column-50, .column-60, .column-66, .column-70, .column-80 {
  float: left;
  height: 100%;
  display: block;
}

.column-20{
  width: 20%;
}
.column-30{
  width: 30%;
}
.column-33{
  width: 33%;
}
.column-33 img{
  float:right;
}
.column-40{
  width: 40%;
}
.column-50{
  width: 50%;
}
.column-60{
  width: 60%;
}
.column-66{
  width: 66%;
}
.column-70{
  width: 70%;
}
.column-80{
  width: 80%;
}

.invisible {
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.centre {
  text-align:center;
}

.clearfix:before, .clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
.clearfix {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}


/*Structure*/

#container {
  width: 960px;
  height: 100%;
  margin: 0 auto;
  padding: 250px 25px 25px 25px;
}

#header {
  width: 100%;
}

#menu {
  width: 960px;
  margin: 0 auto;
}

#content {
  width: 910px;
  padding: 25px 25px -25px 25px;
  margin: 0 auto;
  position: relative;
  z-index: 1001;
}

#content h2, h3 {
  color:#454141;
}

#content h2{
  text-align:center;
}

#content h3{
  margin-left: 75px;
}

#content p {
  text-align: center;
  font-size: 1.6em;
}

#content #lists {
  width: 900px;
  margin: 25px auto;
}

#content ul.right {
  margin-right: 100px;
}

#content ul.left {
  margin-left: 100px;
}

#content li {
  font-size: 1.6em;
  line-height: 1.8em;
}

#cup {
  background: url(../images/cup.png);
  height:359px;
  width:518px;
  position: absolute;
  z-index: 999;
  clear: none;
  top: 0;
  right: 0;
}

#red-bar {
  width:100%;
  height:76px;
  background:#c73333;
  border-top: 2px solid #f1f1f3;
  border-bottom: 1px solid #c0ab96;
  text-align: center;
  padding-top: 25px;
}

#red-bar-container {
  border-bottom: 1px solid #8c6238;
  width:100%;
  height:104px;
  margin-top:123px;
  -moz-box-shadow:    0px 1px 1px #888;
  -webkit-box-shadow: 0px 1px 1px #888;
  box-shadow:         0px 1px 1px #888;
}

#apple {
  background: url(../images/apple.png);
  position:absolute;
  left:-30px;
  bottom:16px;
  height:261px;
  width:290px;
}

#family-recipe p{
  position:absolute;
  left:20px;
  bottom:66px;
  color: #fff;
  font-size: 3em;
  text-shadow: #333 1px 1px 1px;
}

#order-now {
  position:absolute;
  right:25px;
  bottom:16px;
  width: 275px;
}

#order-now p{
  text-align: center;
  font-size: 2em;
}

#footer {
  width:100%;
  height:16px;
  background:#c73333;
  border-top: 2px solid #f1f1f3;
  border-bottom: 1px solid #c0ab96;
  text-align: center;
  position: absolute;
  bottom: 0;
  padding: 20px 0;
}

#footer a {
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  margin-right:45px;
}

#footer a:hover {
  color: #f2cfcf;
  text-decoration: underline;
}