/* http://meyerweb.com/eric/tools/css/reset/
 *    v2.0 | 20110126
 *       License: none (public domain)
 *       */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, caption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  background: url(../images/background_lighting.jpg) top no-repeat;
  z-index: -2;
  position: relative;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before,  blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Typo */

h1 {
  font-family: 'TeXGyrePagellaBold', 'Palatino LT STD', 'Palatino Linotype', 'Palatino', 'Book Antiqua', 'Georgia', serif;
  font-size: 18px;
  text-shadow: 0 1px rgb(11,26,45);
}

h1 span.frstltr, h2 span.frstltr, h3 span.frstltr {font-size:20px;}

h2, h3{
   font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
}


.ltblue {color: rgb(169,203,231);}
.dkblue {color: rgb(40,62,83);}
.yellow {color: rgb(241,239,158);}


p {
  font-family: 'Georgia', Palatino, Book Antiqua, times, serif;
  font-size: 14px;
  line-height: 18px;
  margin:10px 0 20px;
}

blockquote {
  font-size:13px;
  font-style:italic;
  font-weight:bold;
  text-indent: -6px;
  color: rgb(241,239,158);
}


#nav li a {
  font-size: 14px;
  color: rgb(40,62,83);
  text-shadow: 0 1px 2px #FFFFFF;
}

#banner h1 {
  font-family: 'TeXGyrePagellaRegular', 'Palatino LT STD', 'Palatino Linotype', 'Palatino', 'Book Antiqua', 'Georgia', serif;
  font-size: 22px;
  color: #FFFFFF;
  text-shadow: 0 1px 2px rgb(11,26,45);
}

#banner h1 span.yellow {
    font-family: 'TeXGyrePagellaBold', 'Palatino LT STD', 'Palatino Linotype', 'Palatino', 'Book Antiqua', 'Georgia', serif;
    color: rgb(241,239,158);
}

.listing h2 {
  font-family: 'TeXGyrePagellaRegular', 'Palatino LT STD', 'Palatino Linotype', 'Palatino', 'Book Antiqua', 'Georgia', serif;
  font-size: 16px;
  color: rgb(40,70,92);
}

.listing p {
  font-family: arial, helvetica, sans-serif;
  color: rgb(111,111,111);
  font-size: 12px;
  line-height: 16px;
  margin-top:10px;
}
.listing table.specs td {
  font-family: arial, helvetica, sans-serif;
  color: rgb(0,28,64);
}
td.label {
  font-size:11px;
  text-align:left;
}
td.spec {
  font-size:12px;
  text-align:right;
  font-weight:bold;
}



/* Site Styles */

html{
  background: url(../images/background_tile.jpg);
}
.clear{
  clear: both;
}
.content{
  width: 960px;
  margin: 0 auto;
}

#header{
}

ul#main-menu{
  height:148px;
  width: 933px;
  margin-bottom: -13px;
  background: url(../images/nav_background.png) center no-repeat;
}

ul#main-menu li{
  float: left;
  width: 184px;
  text-align: center;
}
ul#main-menu li.separator{

   margin-top: 76px;
   height: 59px;
   width: 2px;
   display: block;
   background: url(../images/nav_divider.png) center no-repeat
}
ul#main-menu li.last{
   width: 188px;
}
ul#main-menu li a {
  background: url(../images/nav_button_sprite.jpg) top repeat-x;
  height: 59px;
  display: block;
  margin-top:76px;
  line-height:61px;
  text-decoration: none;
  font-size: 14px;
  font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
  color: rgb(40,62,83);
  text-shadow: 0 1px 2px #FFFFFF;
}
ul#main-menu li a:hover{
   background-position: 0 -59px;
}
ul#main-menu li a:active{
   background-position: 0 -118px;
}
ul#main-menu li.middle a{
   background: transparent;
}




ul#main-menu li h1#logo a{
  margin-top: 0px;
  height: 148px;

  text-indent: -9999em;
}

#main-showcase{
  height: 364px;
  margin-left: 17px;
  width: 904px;
  background: url(../images/showcase_bkg.png) center no-repeat;
  position: relative;
  top: -27px;
  z-index: -1;
  left: -2px;
}


#main-showcase h2{

}

#main-showcase-footer{
  height: 63px;
  width: 937px;
  margin-top:-57px;
   margin-left:-2px;
  line-height: 78px;
  background: url(../images/banner.png) no-repeat top center;
}

#the-meyers-team{
  float: left;
  margin-left: 40px;
  text-align: left;
  color: white;
  font-size: 20px;
}
#the-meyers-team strong{
  font-weight: bold;
  font-style: normal;
}
#call{
  float: right;
  margin-right: 40px;
  color: white;
  text-align: right;
  font-size: 20px;
  font-weight: bold;
}

.sidebar{
  width: 275px;
  float: left;
  color: white;
}

.main-with-sidebar{
  width: 652px;
  float: left;
}

.main-with-sidebar h2{
   float: left;
   width: 49%;
   text-align: left;
   font-size: 20px;
   font-weight: bold;
   margin-bottom: 16px;
}
.main-with-sidebar>a{
   font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
   float: right;
   width: 150px;
   text-align: center;
   text-decoration: none;
   font-size: 12px;
   height: 22px;
   line-height: 24px;
   display: block;
   border-radius: 10px;
   background: rgba(0,0,0,0.5)
}
#body{
   padding-top: 32px;
}
.sidebar h3{
   font-size: 20px;
   font-weight: bold;
}
.sidebar p{
   width: 230px;
   font-size: 14px;
}
#footer{
  padding: 35px 0px 70px 0px;
   background: url(../images/footer_background_tile.jpg) repeat;
}
#footer h3{
   font-size: 16px;
   color: rgb(40,62,83);
   text-shadow: none;
}
#footer h3 span.frstltr {font-size:18px;}

#footer p{
   font-family: arial, helvetica, sans-serif;
   color: rgb(46,70,92);
   font-size: 12px;
   line-height: 16px;
   margin: 8px 0 16px;
}
#footer .left-column{
   width: 400px;
   float: left;
}
#footer .marc{
   border-bottom: 1px solid black;
   border-right: 1px solid black;
}
#footer .left-column img{
   float: left;
   margin-right: 12px;
}
#footer .left-column span{
   line-height: 28px;
}
#footer .email-button{
   float: right;
   margin-right: 12px;
   display: block;
   background: url(../images/button_email_sprite.png) 0 0 no-repeat;
   font-size: 12px;
   line-height: 28px;
   text-align: center;
   width: 99px;
   height: 28px;
}
#footer .email-button:active{
   background-position: -100px 0;
}
#footer .deb{
   padding-top: 20px;
   border-right: 1px solid black;
}
#footer .center-column{
   float: left;
   width: 225px;
}
#footer .center-column .recent-news{
   padding: 0px 40px 10px 20px;
   border-bottom: 1px solid black;

}
#footer .center-column h3{
   margin-bottom: 12px;
}
#footer .center-column h4{
   font-size: 12px;
   margin-bottom: 6px;
}
#footer .center-column p{
   font-size: 12px;
}

#footer .recent-homes{
   padding: 10px 40px 0px 20px;
}
#footer .recent-homes li{
   clear: both;
   height: 24px;
   display: block;
}
#footer .center-column .house{
   font-size: 12px;
   float: left;
}
#footer .center-column .sale-status{
   font-size: 12px;
   float: right;
}

#footer .right-column{
   width: 271px;
   height: 493px;
   float: left;
   background: url(../images/footer_form_background.png) center no-repeat;
   position: relative;
   top: -67px;
   left: -16px;
}

#footer .right-column label{
   display: block;
   font-size: 12px;
   margin-bottom: 6px;
}
#footer .right-column input{
   height: 24px;
}
#footer .right-column textarea{
   height: 118px;
}
#footer input, #footer textarea{
   width: 206px;
   background: rgba(0,0,0,0.2);
   border: 1px solid #8B8971;
}


#footer .right-column h3{
   margin-left: 30px;
   margin-top: 50px;
   margin-bottom: 20px;
}
#footer .right-column div{
   margin-left: 30px;
   margin-top: 16px;
}
#footer .right-column .submit{
   margin-top: 5px;
   background: url(../images/submit_button_sprite.png) 0 0 no-repeat;
   border: 0;
   width: 125px;
   height: 40px;
   line-height: 40px;
   float: right;
   position: relative;
   left: -10px;
   color: white;
}
#footer .right-column .submit:active{
   background-position: 0 -41px;
}
.two-column{
  float: left;
  width: 50%;
}

.list-view-person{
  padding: 0px 2em 2em 0px;
}

.list-view-person img.portrait{
  float: left;
  margin: 0px 1em 1em 0px;
}

form#contact-us-form{
  background: url(../images/footer_form_background.png) no-repeat;
  width:  271px;
  height: 502px;
  padding: 40px;
  display: block;
}

form#contact-us-form label{
  padding-top: 1em;
  display: block;
}

form#contact-us-form input{
  border: 1px solid #7A7A64;
  background: #BABD70;
  line-height: 24px;
  height: 24px;
  width: 185px;
}
form#contact-us-form textarea{
  border: 1px solid #7A7A64;
  background: #BABD70;
  line-height: 16px;
  height: 150px;
  width: 185px;
}


.list-view-house{
   height: 155px;
   margin-bottom: 15px;
}

.list-view-house .light-blue-border{
   margin-top: 7px;
   background: #5C88A5;
   padding: 6px 0 6px 6px;
   width: 178px;
   height: 125px;

}
.list-view-house p{
   font-family: arial, helvetica, sans-serif;
   font-size: 12px;
   color: #6F6F6F;
   line-height: 16px;
   margin-top: 10px;
}
.list-view-house img{
   border: 1px solid #BFBFBF;
   float: right;
}
.list-view-house h4{
  font-family: 'TeXGyrePagellaRegular', 'Palatino LT STD', 'Palatino Linotype', 'Palatino', 'Book Antiqua', 'Georgia', serif;
  font-size: 16px;
  color: rgb(40,70,92);
   margin-top: 9px;
}
.list-view-house .description{
   background: #F1F4F7;
   width: 269px;
   height: 145px;
   padding-left: 12px;
   padding-top: 6px;
   padding-right: 12px;

}

.list-view-house div{
   float: left;
   width: 225px;
   height: 145px;
}
.list-view-house ul{
   float: right;
   margin-top: 3px;
}

.list-view-house li{
   width: 155px;
   height: 28px;
   background: #96CFEB;
   border-bottom: 1px solid #6592AF;
   color: #001C40;
   line-height: 28px;
   padding-left: 10px;
   padding-right: 10px;
   font-family: arial, helvetica, sans-serif;
   line-height: 28px;
}
.list-view-house li.first{
   border-top: none;
}
.list-view-house li .left{
   font-size: 11px;
   float: left;
   text-align: left;
}
.list-view-house li .right{
   font-size: 12px;
   font-weight: bold;
   float: right;
   text-align: right;
}
.list-view-house li.last{
   height: 54px;
   border-bottom: none;
}
#footer-border{
   height: 51px;
   background: url(../images/footer_topline_tile.jpg) center repeat-x
}
.white-border{
   border: 1px solid white;
}

.call-to-action{
   margin-top: 25px;
   float: left;
   margin-left: 24px;
}
.call-to-action h3{
   font-style: italic;
   font-size: 24px;
}
.call-to-action h2{
   margin-top: 5px;
   font-weight: bold;
   font-size: 28px;
}
#marc{
   margin-left: 10px;
   width: 360px;
   height: 290px;
   background: url(../images/meyers_trans.png) center no-repeat;
   float: left;

   position: relative;
   left: -30px;
   top: 39px;
}

.quote{
   font-style: italic;
   font-weight: bold;
}
.view-details {
  background: url(../images/view_details_button_sprite.png) no-repeat 0 0;
  margin-top: 4px;
  position: relative;
  left:16px;
  width: 181px;
  height: 42px;
  display: block;
  text-decoration: none;
  text-indent:-9999em;
  float:right;
  cursor:pointer;
  border:none;
}

.view-details:active {
  background-position: -181px 0px;
}


.contact span{
   display: block;
   margin-left: 200px;
   margin-top: 24px;
}
.contact span.action{
   margin-top: 12px;
}
.contact span input,
.contact span textarea{
   width: 442px;
}
.contact span textarea{
   height: 50px;
}
.contact span.action input{
   float: right;
   width: auto;
}
.contact span label{
   display: block;
}




/* DETAILS PAGES */

.info{
   margin-bottom: 20px;
}
.info ul{
   padding-bottom: 10px;
}
.info ul li{
   float: left;
   margin-left: 30px;
   font-size: 16px;
   font-family: arial, helvetica, sans-serif;
   font-weight: bold;
}
.info ul li.title{
   margin-right: 200px;
}
.info h2{
   text-align: left;
   font-size: 20px;
   font-weight: bold;
}
.details{
   clear: both;
   border-top:    1px solid #63839C;
   padding-top: 40px;
}
.details div{
   padding-bottom: 40px;

}
.details .left-column{
   float: left;
   width: 300px;
   margin-right: 48px;
}
.details .left-column img{
   display: block;
   margin-bottom: 24px;
}
.details  h3{
   color: white;
   display: block;
   font-weight: bold;
   line-height: 24px;
}
.details .left-column h3{
   text-align: right;

}
.details .left-column h3.price{
   font-size: 22px;
   color: rgb(169,203,231)
}

.details .center-column{
   float: left;
   width: 350px;
   margin-right: 48px;
}
.details .right-column{
   float: left;
   width: 175px;
}
.details .right-column h3{
   margin-bottom: 12px;
}
.details .right-column li{
   width: 100%;
   height: 30px;
   line-height: 30px;
   border-top: 1px solid #83AECF;
   font-family: arial, helvetica, sans-serif;
}
.details .right-column li.last{
   border-bottom: 1px solid #83AECF;
}
.details .right-column .left{
   font-size: 11px;
   font-weight: bold;
   float: left;
   text-align: left;
}
.details .right-column .right{
   font-size: 12px;
   font-weight: bold;
   float: right;
   text-align: right;
}

.property-footer{
   clear: both;
   padding-top: 20px;
   border-top: 1px solid #63839C;
}
.property-footer .back-to-listings{
   float: left;
   width: 182px;
   height: 32px;
   line-height: 32px;
   display: block;
   background: yellow;
}
.property-footer .next-property{
   float: right;
   width: 165px;
   height: 32px;
   line-height: 32px;
   display: block;
   background: yellow;
}
.property-footer h2{
   line-height: 32px;
   text-align: center;
   font-weight: bold;
   font-size: 22px;
}
.property-footer .phone{
   color: white;
}
/* END DETAILS PAGES */

/* LISTINGS PAGE */

.filters h2{
   font-weight: bold;
   margin-bottom: 32px;
}
.filters li{
   height: 32px;
   margin-top: 10px;
   margin-right: 76px;
}
.filters li.first{
   border-bottom: 1px solid #63839C;
}
.filters label{
   float: left;
   font-family: arial, helvetica, sans-serif;
   font-weight: bold;
   font-size: 12px;
   line-height: 32px;
}

.filters select{
   float: right;
}
/* END LISTINGS PAGE */

.pagination{
   border-top: 1px solid #63839C;
   border-bottom: 1px solid #63839C;
   height: 40px;
   line-height: 40px;
   text-align: center;
   margin-bottom: 40px;
   font-family: arial, helvetica, sans-serif;
   font-size: 14px;
}
.pagination li{
   display: inline;
   margin-right: 8px;
}


#mailform-container {
  width: 250px;
  height: 338px;
  background: #0069f9;
/*  background-image: url(../images/form-background.png);*/
  padding: 0 25px;
    -webkit-border-radius-topright:  5px;
  -moz-border-radius-topright:     5px;
  border-radius-topright:          5px;
  background: -webkit-gradient(linear, left top, left bottom, from(#3e7898), to(#5d9bbd));
  background: -moz-linear-gradient(top, #3e7898, #5d9bbd);
  background: linear-gradient(top, #3e7898, #5d9bbd);
  background-color: #3e7898;
}

#mailform-container .message-error {
  float:right;
  color:red;
}

#mailform-container .message-invalid {
  float:right;
  color:red;
}

#mailform-container label{
  display:block;
  font-size:1.2em;
  color:#f4f7ea;
}

#mailform-container p{
    margin:20px 0 0 0;
}

#mailform-container small {
  margin:0 auto;
  color:#f4f7ea;
}

#mailform-container .required-message {
  width:144px;
  float:left;
}

#mailform-container .mailform-error, #mailform-container .mailform-success {
  font-size:1.2em;
}

#mailform-container .mailform-error {
  color:red;
  font-weight:600;
}

#mailform-container .mailform-success {
  color:white;
}

#mailform-container .input{
  margin:15px 0;
}

#mailform-container .input input{
  width:100%;
  height:26px;
  border: 1px solid #777;
  margin:3px 0 0 0;
    webkit-border-radius: 2px;
  moz-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: inset 0 0 3px #888;
  -webkit-box-shadow: inset 0 0 3px #888;
  box-shadow: inner 0 0 3px #888;
}

#mailform-container textarea{
  width:100%;
  height:48px;
  border: 1px solid #777;
  margin:3px 0 0 0;
    webkit-border-radius: 2px;
  moz-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: inset 0 0 3px #888;
  -webkit-box-shadow: inset 0 0 3px #888;
  box-shadow: inner 0 0 3px #888;
}

.hidden {
  display: none;
}

#mailform-container .mailform-loading {
  background:url(../images/ajax-loader.gif) no-repeat 0 0;
  height:32px;
  width:32px;
  float:right;
}

.actions {
  height:30px;
  float:right;
}

.button, .button:visited, .input-button {
  float:left;
  text-align:center;
  white-space:nowrap;
  margin:0px 5px;
  font-size:1.2em;
  font-family:"gill sans", "arial", san-serif;
  border:1px solid rgb(209,209,209);
  text-decoration:none;
  webkit-border-radius: 3px;
  moz-border-radius: 3px;
  border-radius: 3px;
  color:#666666;
  text-shadow: #fff 0px 1px 0px;
  text-transform:uppercase;
  background: #f3f3f3; /* Old browsers /
  background: -moz-linear-gradient(top, #f3f3f3 0%, #d1d1d1 100%); / FF3.6+ /
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(100%,#d1d1d1)); / Chrome,Safari4+ /
  background: -webkit-linear-gradient(top, #f3f3f3 0%,#d1d1d1 100%); / Chrome10+,Safari5.1+ /
  background: -o-linear-gradient(top, #f3f3f3 0%,#d1d1d1 100%); / Opera11.10+ /
  background: -ms-linear-gradient(top, #f3f3f3 0%,#d1d1d1 100%); / IE10+ /
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#d1d1d1',GradientType=0 ); / IE6-9 /
  background: linear-gradient(top, #f3f3f3 0%,#d1d1d1 100%); / W3C /
  -webkit-box-shadow: 0px 0px 2px 2px  rgba(50,50,50,.4);
  -moz-box-shadow: 0px 0px 2px 2px rgba(50,50,50,.4);
  box-shadow: 0px 0px 2px 2px rgba(50,50,50,.4);
}

.button, .button:visited  {
  padding:8px 18px;
}

a.input-button {
  padding:6px 18px;
}

input.input-button {
  padding:8px 18px;
  margin:0;
}

.button:hover, .input-button:hover {
  border:1px solid rgb(145,145,145);
  -moz-box-shadow: inset 0 0 2px #888;
  -webkit-box-shadow: inset 0 0 2px #888;
  box-shadow: inner 0 0 2px #888;
  outline: none;
  cursor:pointer;
}

.button:active, .input-button:active {
  border:1px solid rgb(129,129,129);
  -moz-box-shadow: inset 0 0 6px #888;
  -webkit-box-shadow: inset 0 0 6px #888;
  box-shadow: inner 0 0 6px #888;
  outline: none;
  padding: 9px 18px 7px 18px;
}

.button:active  {
  padding: 9px 18px 7px 18px;
}

a.input-button:active {
  padding: 7px 18px 5px 18px;
}

.button-disabled, .button-disabled:visited {
  float:left;
  height:auto;
  text-align:center;
  white-space:nowrap;
  font-size:.8em;
  font-family:"gill sans", "arial", san-serif;
  border:1px solid rgb(209,209,209);
  padding:8px 18px;
  text-decoration:none;
  webkit-border-radius: 3px;
  moz-border-radius: 3px;
  border-radius: 3px;
  color:#CCCCCC;
  text-shadow: #fff 0px 1px 0px;
  text-transform:uppercase;
  background: #f3f3f3; / Old browsers /
  background: -moz-linear-gradient(top, #f3f3f3 0%, #d1d1d1 100%); / FF3.6+ /
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(100%,#d1d1d1)); / Chrome,Safari4+ /
  background: -webkit-linear-gradient(top, #f3f3f3 0%,#d1d1d1 100%); / Chrome10+,Safari5.1+ /
  background: -o-linear-gradient(top, #f3f3f3 0%,#d1d1d1 100%); / Opera11.10+ /
  background: -ms-linear-gradient(top, #f3f3f3 0%,#d1d1d1 100%); / IE10+ /
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#d1d1d1',GradientType=0 ); / IE6-9 /
  background: linear-gradient(top, #f3f3f3 0%,#d1d1d1 100%); / W3C */
}

.button-disabled:hover {
 cursor:default;
}




