/* http://meyerweb.com/eric/tools/css/reset/
 *    v2.0 | 20110126
 *       License: none (public domain)
 *       */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, caption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before,  blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Typo */

h1 {
  font-family: 'TeXGyrePagellaBold', 'Palatino LT STD', 'Palatino Linotype', 'Palatino', 'Book Antiqua', 'Georgia', serif;
  font-size: 18px;
  text-shadow: 0 1px rgb(11,26,45);
}

h1 span.frstltr {font-size:20px;}


.ltblue {color: rgb(169,203,231);}
.dkblue {color: rgb(40,62,83);}
.yellow {color: rgb(241,239,158);}


p {
  font-family: 'Georgia', Palatino, Book Antiqua, times, serif;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  margin:10px 0 20px;
}

blockquote {
  font-size:13px;
  font-style:italic;
  font-weight:bold;
  text-indent: -6px;
  color: rgb(241,239,158);
}


#nav li a {
  font-size: 14px;
  color: rgb(40,62,83);
  text-shadow: 0 1px 2px #FFFFFF;
}

#banner h1 {
  font-family: 'TeXGyrePagellaRegular', 'Palatino LT STD', 'Palatino Linotype', 'Palatino', 'Book Antiqua', 'Georgia', serif;
  font-size: 22px;
  color: #FFFFFF;
  text-shadow: 0 1px 2px rgb(11,26,45);
}

#banner h1 span.yellow {
    font-family: 'TeXGyrePagellaBold', 'Palatino LT STD', 'Palatino Linotype', 'Palatino', 'Book Antiqua', 'Georgia', serif;
    color: rgb(241,239,158);
}

.listing h2 {
  font-family: 'TeXGyrePagellaRegular', 'Palatino LT STD', 'Palatino Linotype', 'Palatino', 'Book Antiqua', 'Georgia', serif;
  font-size: 16px;
  color: rgb(40,70,92);
}

.listing p {
  font-family: arial, helvetica, sans-serif;
  color: rgb(111,111,111);
  font-size: 12px;
  line-height: 16px;
  margin-top:10px;
}
.listing table.specs td {
  font-family: arial, helvetica, sans-serif;
  color: rgb(0,28,64);
}
td.label {
  font-size:11px;
  text-align:left;
}
td.spec {
  font-size:12px;
  text-align:right;
  font-weight:bold;
}

#footer h1 {
  font-size:16px;
  color: rgb(40,62,83);
  text-shadow:none;
}
#footer h1 span.frstltr {font-size:18px;}

#footer p {
  font-family: arial, helvetica, sans-serif;
  color: rgb(46,70,92);
  font-size: 12px;
  line-height: 16px;
  margin:8px 0 16px;
}


/* Site Styles */

html{
  background: url(../images/background_tile.jpg);
}
body{
  background: url(../images/background_lighting.jpg) no-repeat top center;
  padding-top: 50px;
}
.clear{
  clear: both;
}
.content{
  width: 960px;
  margin: 0 auto;
}

#header{
}

ul#main-menu{
  height:148px;
  width: 933px;
  margin-bottom: -43px;
  background: url(../images/nav_background.png) no-repeat top center;
}

ul#main-menu li{
  float: left;
  width: 20%;
  text-align: center;
}

ul#main-menu li a {
  background: url(../images/nav_divider.png) no-repeat top right;
  height: 59px;
  display: block;
  margin-top:81px;
  line-height:61px;
}
ul#main-menu li a.last{
  background: none;
}

ul#main-menu li h1#logo a{
  margin-top: 0px;
  height: 148px;
  text-indent: -9999em;
  background: none;
}

#main-showcase{
  height: 364px;
  width: 938px;
  background: url(../images/showcase_bkg.png) no-repeat top center;
}

#main-showcase-footer{
  height: 63px;
  width: 937px;
  margin-top:-22px;
  line-height: 63px;
  background: url(../images/banner.png) no-repeat top center;
}

#the-meyer-team{
  float: left;
  width: 50%;
  text-align: left;
}

#the-meyer-phone{
  float: right;
  width: 50%;
  text-align: right;
}

.sidebar{
  width: 275px;
  float: left;
}

.main-with-sidebar{
  width: 652px;
  float: left;
}
#body{
}

#footer{
  padding: 35px 0px 70px 0px;
  background: #A5C1D9 url(../images/footer_topline_tile.jpg) repeat-x top center;
}

.two-column{
  float: left;
  width: 50%;
}

.list-view-person{
  padding: 0px 2em 2em 0px;
}

.list-view-person img.portrait{
  float: left;
  margin: 0px 1em 1em 0px;
}

form#contact-us-form{
  background: url(../images/footer_form_background.png) no-repeat;
  width:  271px;
  height: 502px;
  padding: 40px;
  display: block;
}

form#contact-us-form label{
  padding-top: 1em;
  display: block;
}

form#contact-us-form input{
  border: 1px solid #7A7A64;
  background: #BABD70;
  line-height: 24px;
  height: 24px;
  width: 185px;
}
form#contact-us-form textarea{
  border: 1px solid #7A7A64;
  background: #BABD70;
  line-height: 16px;
  height: 150px;
  width: 185px;
}


.list-view-house{
   border: 1px solid white;
   height: 145px;
}
.list-view-house img{
   border: 1px solid #BFBFBF;
   float: left;
   margin: 8px 14px 0 9px;
}
.list-view-house h4{
   margin-top: 9px;
}
.list-view-house div{
   float: left;
   width: 225px;
   height: 145px;
}
.list-view-house ul{
   float: right;
}

.list-view-house li{
   width: 170px;
   height: 32px;
   border: 1px solid #DFDAD2;
   border-bottom: 1px solid #FFFFFF;
}
.list-view-house li.last{
   height: 42px;
   border-bottom: none;
}
#footer ul{
   display: block;
   width: 610px;
   margin: 0 auto;
}
#footer li{
   float: left;
   width: 150px;
   text-align: center;
}