html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clear{
  clear: both;
}
/* framework */

/* columns */
.column{
  float: left;
}

.two-thirds{
  width: 66%;
}

.in-thirds{
  width: 33%;
}

.in-half, .two-quarters{
  width: 50%;
}

.in-quarters{
  width: 25%;
}

.three-quarters{
  width: 75%;
}

/* Style */
body {
  background: rgb(236,236,236);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.innerBody{
  width: 895px;
  margin: 0 auto;
}

#showcase{
  width: 900px;
  margin: 0 auto;
}

#logo{
  display: block;
  float: left;
  width: 266px;
  position: relative;
  top: 5px;
  height: 81px;
}

#logo a {
  background: url(../images/logo.jpg) no-repeat;
  text-indent: -999em;
  display: block;
  width: 266px;
  height: 81px;
}

h1 {
  font-size: 18px;
  line-height:22px;
  color:#333;
  font-weight:800;
  margin-bottom:7px;
  text-shadow: 0 1px #fff;
}
h2 {
  font-size:14px;
  font-weight:800;
  color: rgb(51,51,51);
  margin-bottom:5px;
}

p {
    font-size:14px;
    line-height:18px;
    color: rgb(147,147,147);
}

a {color: rgb(51,51,51);}
a:hover {color: rgb(31,31,31);}
a:active, a:visited {color: rgb(0,0,0);}


/* BUTTONS
 use the background sprite aligned to the right and let the left side cut off
 then use the border-left to close the border.

 SPRITE ORDER FOR ALL SPRITES

  - normal
  - hover
  - active

*/

a.button, a.button:visited {
  font-size:14px;
  color: rgb(168,128,0);
  border-left: 1px solid rgb(222,179,38);
  font-weight:800;
  text-shadow: 0 1px rgb(255,230,100);
}

a.button:hover, a.button:active {
  color: rgb(93,74,0);
}

#steps p {
  font-size:13px;
  line-height:15px;
  font-style:italic;
  color: rgb(51,51,51);
}

#steps #phone {
  font-size:20px;
  line-height:22px;
}

#value {
  background: url(../images/background-valueguarantee.png) no-repeat;
  padding: 1em;
  min-height: 454px;
}

#value h1, #modal-value h1 {
  color:white;
  text-shadow: 0 1px 1px rgb(157,119,0);
}

#value h2, #modal-value h2 {
  font-size:13px;
  line-height:15px;
  color: rgb(93,74,0);
}

#value p, #modal-value p {
  font-size:12px;
  line-height:16px;
  color: rgb(127,99,0);
  margin-bottom:15px;
}

#safetytraining {
  background: url(../images/background-button-action-sprite.png) no-repeat;
  height: 42px;
  line-height: 42px;
  text-align: left;
  text-indent: 12px;
  width: 365px;
  float: right;
  margin-right: 5px;
  cursor:pointer;
  position:absolute;
  bottom:4px;
  right:0;
}

#safetytraining:hover {
  background-position: 0px -42px;
}

#safetytraining:active {
  background-position: 0px -84px;
}

#safetytraining h1 {
  color: #AB8400;
  font-size: 15px;
  line-height: 42px;
  padding-left: 5px;
  text-shadow: 0 1px #FFed44;
}

div.linkbox h1{
  font-size: 22px;
  line-height: 24px;
  color: white;
}

div.linkbox .yellow {
  color: rgb(255,205,0);
}

#footer span.phone {
  font-size:16px;
  color: rgb(128,128,128);
  font-weight:800;
}

#footer #footer-links{
  width: 300px;
  margin: 0 auto;
}

#footer cite{
  margin:25px 0;
  font-size:12px;
  color:#999;
  display: block;
  width: 900px;
  text-align: center;
  text-shadow:0 1px #ffffff;
}
#footer cite a{
    color:#555;
    text-decoration:none;
}
#footer cite a:hover {
    color:#222;
    text-decoration:underline;
}
#header{
  padding: 40px 0px;
}
#showcase{
  position:relative;
  background: url(../images/background-showcase.png) no-repeat;
  width: 911px;
  height: 443px;
  padding-top: 50px;
  padding-left: 12px;
}

#showcase-body{
  padding-right: 18px;
}

#showcase-header{
  position:absolute;
  top:20px;
  left:60px;
  color:#ddd;
  font-style:italic;
  font-size:16px;
  text-shadow: 0 1px black;

}

#showcase-body .column .content{
  margin: 5px 2em;
}

#showcase-body .column.first .content h2{
  font-size: 36px;
  color: #D6A70B;
  font-weight: bold;
  font-style: italic;
}

#showcase-body .content h3{
  font-size: 18px;
  font-weight: 800;
  font-style: italic;
  color: black;
}
#showcase-body .column.first .content h5{
  margin-top: 10px;
  font-size: 16px;
  font-style: italic;
  color: gray;
}

.large-phone{
  font-size: 18px;
  color: black;
  font-weight: bold;
  line-height:32px;
}
.showcase-ribbon{
  width: 300px;
  height: 47px;
  text-indent: -999em;
  margin-left: -10px;
}
#call-ribbon{
  background: url(../images/step1.png) no-repeat;
}
#apply-ribbon{
  background: url(../images/step2.png) no-repeat;
}
#delivered-ribbon{
  background: url(../images/step3.png) no-repeat;
}
#showcase-body .column{
  height: 402px;
}
#showcase-body .column.first{
  border-right: 1px solid #e1e1e1;
  background-color: white;
  background: -webkit-gradient(linear, left, right, from(#FFFFFF), to(#fafafa));
  background: -moz-linear-gradient(left, #FFFFFF, #fafafa);
  background: linear-gradient(left, #FFFFFF, #fafafa);
  background: gradient(linear, left, right, from(#FFFFFF), to(#fafafa));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#fafafa');
}

#showcase-body .column.last{
  border-left: 1px solid #e1e1e1;
  background-color: white;
  background: -webkit-gradient(linear, right, left, from(#FFFFFF), to(#fafafa));
  background: -moz-linear-gradient(right, #FFFFFF, #fafafa);
  background: linear-gradient(right, #FFFFFF, #fafafa);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#fafafa');
}
#show-case-body .skyjack-list {
  background: -webkit-gradient(linear, left top, left bottom, from(#e4e4e4), to(#ffffff));
  background: -moz-linear-gradient(top, #e4e4e4, #ffffff);
  background: linear-gradient(top, #e4e4e4, #ffffff);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4e4e4', endColorstr='#ffffff');
}
#showcase-body .showcase-yellow-title{
  height: 26px;
  line-height: 26px;
  font-size: 16px;
  font-weight: 800;
  color: #222;
  text-indent: 15px;
  text-shadow: 0 1px #FFCB00;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFCB00), to(#DBAB0A));
  background: -moz-linear-gradient(top, #FFCB00, #DBAB0A);
  background: linear-gradient(top, #FFCB00, #DBAB0A);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFCB00', endColorstr='#DBAB0A');
  border-bottom:1px solid #aB7B0A;
}
#showcase-body .skyjack-list li a{
  border-top:1px solid #e1e1e1;
  border-bottom:1px solid #ffffff;
  display: block;
  position:relative;
  width: 302px;
  background: #FBFBFB;
  height: 30px;
  line-height: 30px;
  text-decoration: none;
  text-shadow:0 1px #FFFFFF;
  font-size: 13px;
  color: #5D5D5D;
  text-indent: 15px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#f1f1f1));
  background: -moz-linear-gradient(top, #FFFFFF, #f1f1f1);
  background: linear-gradient(top, #FFFFFF, #f1f1f1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#f1f1f1');
}
#showcase-body .skyjack-list li a:hover{
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#d1d1d1));
  background: -moz-linear-gradient(top, #f5f5f5, #d1d1d1);
  background: linear-gradient(top, #f5f5f5, #d1d1d1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#d1d1d1');
  border-bottom:1px solid #b6b6b6;
  border-top:1px solid #dddddd;
}
#showcase-body .skyjack-list li a:active{
  background: -webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(#c1c1c1));
  background: -moz-linear-gradient(top, #eaeaea, #c1c1c1);
  background: linear-gradient(top, #eaeaea, #c1c1c1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaeaea', endColorstr='#c1c1c1');
  border-bottom:1px solid #bababa;
  border-top:1px solid #cccccc;
}
#showcase-body .skyjack-list li a.current{
  background: -webkit-gradient(linear, left top, left bottom, from(#bababa), to(#a1a1a1));
  background: -moz-linear-gradient(top, #bababa, #a1a1a1);
  background: linear-gradient(top, #bababa, #a1a1a1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bababa', endColorstr='#a1a1a1');
  border-bottom:1px solid #a1a1a1;
  border-top:1px solid #bababa;
}
#showcase-body .skyjack-list li a img.arrow {
  position:absolute;
  top:11px;
  left:275px;
}

#showcase-body a#download-spec-sheet{
  position:absolute;
  bottom:41px;
  left:307px;
  display: block;
  width: 304px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#535353), to(#262626));
  background: -moz-linear-gradient(top, #535353, #262626);
  background: linear-gradient(top, #535353, #262626);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#535353', endColorstr='#262626');
  color: #f4f4f4;
  text-decoration: none;
  text-shadow: 0 -1px 1px black;
  font-weight: bold;
  text-shadow: 0 1px 2px black;
}
#showcase-body a#download-spec-sheet:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#535353), to(#121212));
  background: -moz-linear-gradient(top, #535353, #121212);
  background: linear-gradient(top, #535353, #121212);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#535353', endColorstr='#121212');
  color: white;
  text-decoration: none;
}
#showcase-body a#download-spec-sheet:active {
  box-shadow:         inset 0 1px rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.8);
  -moz-box-shadow:    inset 0 1px rgba(255, 255, 255, 0.8);
  background: -webkit-gradient(linear, left top, left bottom, from(#424242), to(#121212));
  background: -moz-linear-gradient(top, #424242, #121212);
  background: linear-gradient(top, #424242, #121212);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#424242', endColorstr='#121212');
}
#showcase-body a#download-spec-sheet img.downloadarrow {
  position:absolute;
  top:10px;
  left:38px;
}
#showcase-body .skyjack-list li a b{
  font-weight: bold;
  color: #3C3C3C;
}
#showcase-body h3#find-the-perfect-lift{
 color:#333;
 font-size:24px;
 margin-top:18px;
 line-height:26px;
 margin-bottom:14px;
 font-weight:800;
}

#showcase-body {

}

#skyjack-details-column {
  position: relative;
}

#man-on-lift {
  background: url(../images/manonlift.png) top left no-repeat;
  position: absolute;
  left: 1px;
  top: 1px;
  width: 396px;
  height: 400px;
}

#skyjack-details-column .content {
  position: absolute;
  left: -10px;
  top: -10px;
  display: none;
  width:250px;
}

.skyjack-list li a img {
  position: relative;
  left: 8px;
  top: 2px;
}

#showcase-body #skyjack-details-column .skyjack-details-header{
  height: 30px;
  line-height: 30px;
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #DBAB0A;
}

#skyjack-details-column .skyjack-details-header b{
  color: #252525;
}

#skyjack-details-column .skyjack-details-content ul li{
  display: block;
  height: 34px;
  line-height: 34px;
  border-bottom: 1px solid #D8D8D8;
  font-size: 14px;
  padding: 0 5px;
}

#skyjack-details-column .skyjack-details-content ul li.first{
  border-top: 1px solid #D8D8D8;
}

#skyjack-details-column .attr-name{
  float: left;
  color: #535353;
}

#skyjack-details-column .attr-value{
  float: right;
  color: black;
  font-weight: 800;
  font-style:italic;
}
#help-banner{
  background: url(../images/helpbanner.jpg) no-repeat;
  margin: 0 0 2em 0;
  width: 886px;
  height: 50px;
  text-indent: -999em;
  border-bottom:1px solid white;
  border-left:1px solid white;
  border-right:1px solid black;
  border-top:1px solid black;
 }
 #help-banner h2 {
  padding:0;
  margin:0;
 }
.yellow{
  color: #FDC30C;
}

.inner-pane{
  position:relative;
  background: url(../images/background-safetytraining.png) no-repeat;
  width: 580px;
  height: 234px;
  padding: 10px 10px 0 20px;
}

.inner-pane .content{

}

.inner-pane .content p{
  font-size: 13px;
  line-height: 18px;
}
.inner-pane .content h4 {
    font-weight: 800;
    color: #444;
    line-height: 18px;
}

.visual-blurb{
  width: 272px;
  height: 181px;
  margin:15px;
}

form#contact {
  float:right;
  margin-bottom:20px;
}

.visual-blurb.first{
  margin-left: 0px;
}

.visual-blurb.last{
  margin-right: 0px;
}

.visual-blurb .message{
  height: 139px;
  overflow: hidden;
}

.visual-blurb .message p{
  font-size: 22px;
  line-height: 24px;
  text-shadow: 0px 1px 2px black;
  padding: 8px 12px;
  color: white;
  font-weight: bold;
}

#specials-updates-availability{
  background: url(../images/background-linkbox-news.png) no-repeat;
}

#tell-us-what-you-think{
  background: url(../images/background-linkbox-feedback.png) no-repeat;
}

#safety-training-services{
  background: url(../images/background-linkbox-training.png) no-repeat;
}

a.sign-up{
  background: url(../images/background-button-action-sprite.png) top right;
  display: block;
  height: 42px;
  line-height: 40px;
  text-indent: 15px;
  text-decoration: none;
  width: 135px;
  font-weight: 800;
  float: right;
  border-left: 1px solid #D6A70B;
  color: #AB8400;
  text-shadow: 0 1px #FFed44;
}
a.sign-up:hover {
  background-position: right -42px;
  text-shadow: 0 1px #FFe840;
}

a.sign-up:active {
  background-position: right -84px;
}

#footer{
  margin-top: 100px;
  margin-bottom: 50px;
}

#footer-logo{
  background: url(../images/footer-logo.jpg) no-repeat;
  width: 203px;
  height: 54px;
  display: block;
  float: left;
  text-indent: -999em;
}

#footer cite{
  text-align: center;
  width: 100%;
  font-size:11px;
  font-family:arial, sans-serif;
}

#footer ul {
  margin: 0 50px;
  height: 30px;
  line-height: 20px;
  float: left;
  display: inline;
}

#footer ul li{
  float: left;
  font-size: 12px;
  text-align: center;
  margin: 0 15px;
  color: #6C6C6C;
}

#footer ul li.first{
  margin-left: 0px;
}

#footer ul li.last{
  margin-right: 0px;
}

#menu {
  display: block;
  float: right;
  background: url(../images/background-nav.png) no-repeat;
  padding-top: 5px;
  margin-top: 15px;
  padding-left: 5px;
  height: 55px;
  width: 505px;
}

#menu ul li{
  float: left;
}

#menu ul li a{
  display: block;
  width: 122px;
  font-size:14px;
  text-align: center;
  background: url(../images/background-button-sprite.png) repeat-x;
  height: 43px;
  line-height: 43px;
  text-decoration: none;
  border-right: 1px solid #E7E7E7;
  font-style: italic;
  font-weight:800;
  color: #5F5F5E;
  text-shadow: 0 1px #ffffff;
}

#menu ul li a:hover {
  background-position: 0 -41px;
}

#menu ul li a:active {
  background-position: 0 -83px;
}
body.about div.column.first {
  margin-left:10px;
}
#aboutus {
    height: 230px;
    width: 600px;
    margin:0 0 5px 5px;
}
#aboutus h1 {
    font-size:20px;
    font-weight: 800;
    color: #333;
    text-decoration:0 1px #fff;
    margin:0;
}
#aboutus p {
  margin:10px 0;
  line-height:20px;
  color: #888;
}


#warehouse {
   margin: 0 auto;
   background: url(../images/warehouse.png) top left no-repeat;
   width: 903px;
   height: 330px;
}

#meetourteam {
   height: 35px;
   border:1px solid white;
   position:relative;
}

#meetourteam .label {
   width: 120px;
   height: 33px;
   position:absolute;
   z-index:2;
   background: #444;
   border:1px solid #000;
   float:left;
   line-height: 32px;
   text-decoration: none;
   font-weight:600;
   font-size:15px;
   padding: 0 8px;
   color:#ffd523;
   text-shadow:0 1px #000;
}
#meetourteam ul {
   float:right;
   height:33px;
   width:400px;
   background: url(../images/team-tab-sprite.jpg) top left repeat-x;
   border-left: 1px solid white;
   border-top: 1px solid #ccc;
   border-bottom: 1px solid #ccc;
}
#meetourteam li {
   background: url(../images/team-tab-sprite.jpg) top left repeat-x;
   height: 33px;
   float: right;
   border-left: 1px solid white;
   border-right: 1px solid #ccc;
   font-family: helvetica, arial, sans;
   color: #666;
}
#meetourteam li {
   background-position:0 0;
}
#meetourteam li:hover {
  background-position:0 -36px;
}
#meetourteam li:active, #meetourteam li.current {
  background-position:0 -69px;
  border-left:1px solid #999;
}
#meetourteam li.first {
   border-left:none;
}
#meetourteam .spacer a,
#meetourteam .sales a,
#meetourteam .customerservice a,
#meetourteam .support a {
   display: block;
   height: 36px;
   line-height: 36px;
   text-decoration: none;
   font-weight:600;
   font-size:14px;
   padding: 0 16px 0 36px;
   text-shadow:0 1px #FFFFFF;
}

#meetourteam .spacer{
   width: 89px;
}
#meetourteam .spacer:hover{
   background-position: 0 0;
}

#meetourteam .sales a {
   background: url(../images/icon-sales.png) 10px 9px no-repeat;
   border-left:none;
}
#meetourteam .customerservice a {
   background: url(../images/icon-customerservice.gif) 10px 9px no-repeat;
}
#meetourteam .support a {
   background: url(../images/icon-support.png) 10px 9px no-repeat;
}

.person-detail {
  width: 522px;
  margin-bottom: 80px;
}

.person-detail a {
  text-decoration: none;
}

.person-detail h1 {
  float: left;
  padding-right: 15px;
}

.person-detail h2 {
  float: left;
  position: relative;
  top: 7px;
  color: #555;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
}
.customerservice {
    height:620px;
}
.person-detail img.person {
  float: right;
  margin-left: 30px;
}

.person-detail p {
  text-align: justify;
}

.person-detail a.email {
  display: block;
  padding-left: 36px;
  background: url(../images/icon-email_25.png) top left no-repeat;
  font-size: 12px;
  height: 25px;
  margin: 27px 0 0 5px;
  line-height: 17px;
  color: #777;
  text-transform: uppercase;
}
.need-help-wrapper {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ccc;

}
.need-help {
  color: #999;
  text-align: center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #fff;
  font-style: italic;
  padding: 10px 0;
  clear:both;
}

.need-help .call {
  color: #222;
  font-weight: bold;
}

body.safety div.need-help-wrapper {
  margin:5px 0 10px 0;
}
body.safety div.column.first p {
  margin-bottom:10px;
}
body.safety div.column.first h1 {
  margin-top:25px;
}
body.safety div.column.first h1.first {
  margin-top:0px;
}
#contactus {
  background: url(../images/divider.gif) 38px 0px no-repeat;
}

#contactus form {
  width: 260px;
}
#contactus form h1 {
  margin-bottom:15px;
}
form label {
   display: block;
   font-size: 13px;
   color: #666;
   margin-bottom: 5px;
}

form input.text {
   height: 30px;
   font-size: 14px;
}

form input.text,
form textarea {
   margin-bottom: 12px;
   width: 260px;
   background: white;
   border: 1px solid #ccc;
}

form select {
  margin-bottom: 12px;
}

form textarea {
   height: 140px;
}

form input.submit {
  height: 33px;
  background: url(../images/button-sprite.png) top right no-repeat;
  color: #AB8400;
  text-shadow: 0 1px #FFed44;
  font-weight: bold;
  font-size: 15px;
  padding:0 32px 3px 15px;
  border: none;
  line-height:10px;
  border-left: 1px solid #deb326;
  float: right;
  font-family:'Helvetica Neue', Helvetica, arial, sans-serif;
}

#tell-us-what-you-think .message p {
  text-align:right;
  font-size:18px;
  line-height:20px;

}

#tell-us-what-you-think .message p span.yellow {
   font-size:21px;
   line-height:24px;

}
.modal {
    display:none;
    text-align:left;
}

/* safety page styles */
.checklist-top {
   background: url(../images/checklist-top.png) top left repeat-x;
   height: 84px;
   width: 332px;
   border: 1px solid #c6c6c6;
   padding:12px;
}
.checklist-top h1 {
  text-shadow: 0 1px #FFf249;
  font-size:19px;
}
.checklist-top p {
  color: rgb(127,99,0);
}

#checklist li {
  position:relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#e6e6e6));
  background: -moz-linear-gradient(top, #fcfcfc, #e6e6e6);
  background: linear-gradient(top, #fcfcfc, #efefef);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#efefef');
  border: 1px solid #c6c6c6;
  border-top: 1px solid white;
  width: 303px;
  padding:8px 3px 8px 50px;
  font-size:14px;
  line-height:17px;
  color:#333;
}



/* modal box styles */
.modal { -moz-box-shadow: 0 0 9px #000;-webkit-box-shadow: 0 0 9px #000; box-shadow: 0 0 9px #000;}
.modal .left {
   float: left;
   padding: 20px;
   background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));
   background: -moz-linear-gradient(top, #ffffff, #eeeeee);
   background: linear-gradient(top, #ffffff, #eeeeee);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee');
   border-right:1px solid rgb(127,99,0);}
#newsletter {
  width: 608px;
  height:250px;
  background: url(../images/modalbox-right.png) bottom right no-repeat transparent;
}
#newsletter .left {
   width: 369px;  height:210px;
}
#newsletter .left h4 {
   font-style:italic;
   color:#cfa533;
   margin-bottom:2px;
}
#newsletter .left h1 {
   font-size:20px;
}
#newsletter .left p {
    font-size:14px;
    margin-top:15px;
    font-family:arial,sans-serif;
}
#newsletter .right {
   float: left;
   padding: 15px 0px 15px 20px;
   width: 169px;
}
#newsletter .right h3 {
    color:white;
    font-weight:800;
    text-shadow: 0 1px 2px #444;
    margin-top:10px;
}
#newsletter div.right ul {
    width:169px;
    float:left;
    margin:10px 0;
}
#newsletter .right ul li {
    margin:4px 0;
    padding:0;
    color: rgb(127,99,0);
    font-size:13px;
}
.modal .left label {
    margin:5px 0;
    font-size:13px;
    color:#666;
    font-weight:bold;
    text-shadow: 0 1px white;
}
.modal .left form {
    width:235px;
    margin-left:65px;
    margin-top:20px;
}
.modal .left input {

  width:230px;
  height:22px;
  font-size:14px;
  margin-bottom:8px;
}

#estimate {
  width: 655px;
  background: url(../images/modalbox-right.png) bottom right no-repeat transparent;
}
#estimate .left {
  float: left;
  padding: 15px;
  background: white;
  width: 363px;
  height:460px;
}
#estimate .right {
   float: left;
   padding: 15px;
   width: 222px;
}
#showcase div.content p {
    font-size:12px;
    line-height:16px;
    color:#777;
}
.modal .left form input.submit {
    width:130px;
    height:33px;
    margin-top:15px;
    float:right;
    cursor:pointer;
}
.modal .left form input.submit:hover {
    background-position: -60px -33px;
}
.modal .left form input.submit:active {
    background-position: -60px -66px;
}
#estimate .left form input.submit {
    width:189px;
}
#estimate .left form input.submit:hover {
    background-position: -1px -33px;
}
#estimate .left form input.submit:active {
    background-position: -1px -66px;
}
.left form input.phone-input {
 clear:none;
 float:left;
 margin-right:4px;
 width:36px;
 height:18px;
}
.form-group {
  clear:both;
  float:left;
}
a.close {
  position:absolute;
  top:0px;
  right:0px;
  width:28px;
  height:28px;
  background: url(../images/close_sprite.jpg) no-repeat;
  cursor:pointer;
}
a.close:hover {background-position: 0 -28px;}
a.close:active {background-position: 0 -56px;}