/*********START OF CSS RESET****************/

/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126  License: none (public domain)*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {  margin: 0;  padding: 0;  border: 0;  font-size: 100%;  font: inherit;  vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {  content: '';content: none;}
table {  border-collapse: collapse;  border-spacing: 0;}
input, textarea, select {
   -webkit-appearance: none;
 }

/*********END OF CSS RESET****************/
body {
  background-image:url(../images/body_bkg.jpg);
  }
p {
  font-family: arial,sans-serif;
  font-size: 12px;
  margin: 18px 0 0 0;
  line-height:18px ;
  }
h1 {
  font-family: "myriad-pro-condensed-1","myriad-pro-condensed-2",sans-serif;
  }
h2 {
  font-family: "myriad-pro-condensed-1","myriad-pro-condensed-2",sans-serif;
  font-style: italic;
  font-weight: 900;
  line-height: 18px;
}
h2.blue {
  color:rgb(33,91,139);
  margin: 0 0 10px 0;
}
h3 {
  font-family: arial,sans-serif; 
  font-size: 16px;
  font-weight: bold;
  color:rgb(7,121,191);
  line-height: 20px;
}
h4 {
  font-family: arial,sans-serif; 
  font-size: 14px;
  font-weight: bold;
  color:rgb(30,30,30);
  text-shadow: 1px 1px 1px rgba(200,200,200,.4);
  line-height: 18px;
}
h4.locations {
  font-style: italic;
  text-transform: uppercase;
}

#container {
  width:930px;
  margin: auto;
  }
  
#content {
  width:930px;
  margin:40px 0;
  }


/*********Header Styles****************/
#header-background {
  width:930px;
  margin: auto;
  }

#header {
  background: url(../images/header_bkg.png) repeat-x;
  width:100%;
  height: 131px;
  }

#call-toll-free {
  width:930px;
  height:90px;
  background-image: url(../images/checkered-flag.png);
  background-repeat:no-repeat;
  }

#main-menu {
  font: 1.1em "myriad-pro-condensed-1","myriad-pro-condensed-2",sans-serif;
  font-style:italic;
  font-weight: 800;
  text-transform:uppercase;
  text-shadow: 0 1px rgb(159,173,185);
  }
  
    ul#main-menu {
      float:right;
      list-style: none;
      }
    ul#main-menu li{
      float:left;
      margin: 10px 15px 0 45px;
      }
    ul#main-menu a {
      text-decoration: none;
      color:rgb(39,53,65);
      }
    ul#main-menu a:hover {
      color:rgb(7,121,191);
      }
  

#header-logo {
  float: left;
  width: 312px;
  height: 156px;
  margin:10px 20px 0 0;
  }
/*********END OF Header Styles****************/

/*********INDEX STYLES************************/
#home-message {
  text-indent: -9999em;
  background-image: url(../images/headline_home.png);
  width: 915px;
  height:45px;
  margin: 50px auto 20px auto;
}

#columns {
  width:930px;
  margin: 27px 0 27px 0;
  clear: both;
}

#left-column {
  width:666px;
  margin:0 27px 0 0;
  float: left;
}
#left-column-left {
  width:305px;
  margin:27px 27px 0 0;
  float: left;
}

#left-column-right {
  width:315px;
  margin: 27px 0;
  float: left;
}

#right-column {
  width:234px;
  margin: 0;
  float: left;
}

#search-parts {
  height:204px; /* image height (259) minus padding (65)*/
  width:235px;
  background-image: url(../images/search-parts-form-background.png);
  background-repeat: no-repeat;
  margin:0 0 0 0;
  padding: 55px 0 0 0;
  text-align: center;
  color:#fff;
  font-weight: bold;
  font-family: "myriad-pro-condensed-1","myriad-pro-condensed-2",sans-serif;
}


select {
 border: 1px solid #555;
 padding: 5px;
 font-size: 12px;
 line-height: 1em;
 margin: 10px 0 0 0;
 width: 90%;
 background: url("../images/dropdown.png") no-repeat center center;
 -webkit-appearance: none;
 -webkit-box-shadow: 1px 1px 1px #fff;
 -webkit-border-radius: 0.5em;
 }
 
 a.find-auto-parts {
  background: url(../images/find-auto-parts.png) no-repeat 0 0;
  width: 216px;
  height: 56px;
  display: block;
  text-indent: -9999px;
  margin: 0 auto;
}

a.find-auto-parts:hover {
  background-position: 0 -56px;
  }

#receive-updates {
  height:105px;
  width:235px;
  background-image: url(../images/newsletter_bkg.jpg);
  margin:27px 0 0 0;
}

a.receive-updates-button {
  background: url(../images/button_signup.png) no-repeat 0 0;
  width: 109px;
  height: 23px;
  display: block;
  text-indent: -9999px;
  margin:auto;
  position: relative;
  bottom:-67px;
}

a.receive-updates-button:hover {
  background-position: 0 -24px;
  }

#associations{
  font-family: arial,sans-serif;
  font-size: 11px;
  color:rgb(89,80,80);
  margin: 16px 0 0 0;
}

ul#associations {
  list-style: none;
}

.association-list {
  line-height: 22px;
}

.association-list a{
  color:rgb(89,80,80);
}

.association-list a:hover{
  color:rgb(7,121,191);
}

.note li{
  font-style: italic;
}

 
 
/*********END OF INDEX STYLES************************/


/*********CONTACT US STYLES*******************/

#contact-us-message {
  text-indent: -9999em;
  background-image: url(../images/stop-in-at-one-of-our-two-locations.png);
  background-repeat: no-repeat;
  height: 29px;
  width: 930px;
  margin: 32px 0 27px 0;
}

#service-facility-map {
  width:666px;
  height:260px;
  background-image: url(../images/map_service.jpg);
  margin: 0 25px 25px 0;
  overflow: hidden;
}

#recycling-facility-map {
  width:666px;
  height:260px;
  background-image: url(../images/map_recycle.jpg);
  margin: 0px 25px 25px 0;
  overflow:hidden;
}

a.email-contact {
  background: url(../images/button_email.png) no-repeat 0 0;
  width: 56px;
  height: 17px;
  display: block;
  text-indent: -9999px;
  margin: 3px 0 0 0;
  float:right;
}

a.email-contact:hover {
  background-position: 0 -18px;
  }
  
.contact {
  font-family: "myriad-pro-condensed-1","myriad-pro-condensed-2",sans-serif;
  font-size: 12px;
  color: rgb(55,55,55);
  line-height: 26px;
  width: 108px;
  font-weight: bold;
  margin: 0 0 15px 0;
}

#our-sales-team {
  width:234px;
  clear: both;
}

.map-titles {
  font-family: "myriad-pro-condensed-1","myriad-pro-condensed-2",sans-serif;
  font-weight: 600;
  color: rgb(256,256,256);
  text-transform: uppercase;
  font-style: italic;
  font-size: 18px;
  text-decoration: none;
  text-align: left;
  letter-spacing: 0;
  text-shadow: 1px 1px 1px rgba(0,0,0,.8);
}

.map-white {
  color:rgb(256,256,256);
  font-weight: bold;
  font-size: 12px;
}

.map-black {
  color:rgb(0,0,0);
  font-weight: bold;
  font-size: 12px;
}

hr.map-line-recycling {
  width: 200px;
  margin: 20px 0 -2px 0;
  border:1px solid #225a8e;
}

hr.map-line-service {
  width: 200px;
  margin: 20px 0 -2px 0;
  border:1px solid #225a8e;
}

.closed {
  font-family: arial,sans-serif; 
  font-size: 10px;
  font-style: italic;
}

.map-info {
  padding:10px 0 0 23px;
}

.map-info p{
  margin:10px 0 0 0;
}

.hours-second-line {
  font-family: arial,sans-serif;
  font-size: 12px;
  margin: 0 0 0 40px;
}

.hours-service {
  position:relative;
  left:0px;
  bottom:0px;
}

.hours-recycling {
  position:relative;
  left:0px;
  bottom:-25px;
  width:200px;
}

a.orderform-download-contact {
  background: url(../images/button_download.png) no-repeat 0 0;
  width: 230px;
  height: 31px;
  display: block;
  text-indent: -9999px;
  margin: -7px 0 0 138px;
  float:right;
}

a.orderform-download-contact:hover {
  background-position: 0 -32px;
}

/*********END OF CONTACT US STYLES************************/



/*Footer styles*/
#footer {
  background-image: url(../images/footer-background.png);
  width:100%;
  height:345px;
  padding: 95px 0 0 0;
  }
#footer-container {
  width: 930px;
  margin: auto;
  }
#footer-menu {
  font: 1.1em "myriad-pro-condensed-1","myriad-pro-condensed-2",sans-serif;
  font-style:italic;
  font-weight: 800;
  background-image:url(../images/footer-menu-background.png);
  height:48px;
  text-transform:uppercase;
  width:100%;
  }
    ul#footer-menu {
      list-style: none;
      }
    ul#footer-menu li{
      margin: 10px 53px 0 10px;;
      float:left;
      display: inline;
      }
    ul#footer-menu a {
      text-decoration: none;
      color:rgb(20,20,20);
      text-shadow: 0px 1px rgb(70,70,70);
      }
    ul#footer-menu a:hover {
      color:rgb(7,121,191);
      text-shadow: 0px 0px 15px rgba(7,121,191,.8);
      }

a.orderform-download {
  background: url(../images/button_download.png) no-repeat 0 0;
  width: 230px;
  height: 31px;
  display: block;
  text-indent: -9999px;
  margin: -2px 0 0 0px;
  float:right;
}

a.orderform-download:hover {
  background-position: 0 -32px;
}
  
#footer-logo {
  background-image: url(../images/footer_logo.png);
  width:205px;
  height:110px;
  float:left;
  margin: 0 0 0 -40px;
}

#footer h4 {
  font-family: arial,sans-serif; 
  font-size: 14px;
  font-weight: bold;
  color:#191919;
  text-shadow: 0 1px #666;
  line-height: 18px;
}

.float-left {
  float:left;
}

.strong {
  font-weight: bold;
}

#locations {
  float:right;
  margin: 25px -20px 0 0;
  width:775px;

}

.locations ul{
  list-style: none;
}

.locations li{
  float:left;
  font-family: arial,sans-serif; 
  font-size: 12px;
  margin: 12px 15px 0 0;
  color:#191919;
  text-shadow: 0 1px #696969;
}

#to-order-message {
  font-family: "myriad-pro-condensed-1","myriad-pro-condensed-2",sans-serif;
  font-weight: bold;
  font-size: 26px;
  text-transform: uppercase;
  color:#191919;
  text-shadow: 0 1px #696969;
  text-align: center;
  clear: both;
  padding: 25px 0 0 0;
}