/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License:none (public domain) */ html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}



/*Global*/

html {
  height: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial;
  font-size: 0.625em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 {
  font-size: 5em;
  color: #3d69b2;
  text-shadow: #222 2px 2px 1px;  
  text-align: center;
  margin-bottom:10px;
}
h2 {
  font-size: 3em;
}
h2.hate-the-paperwork {
  color: #f49e1a;
  text-shadow: #222 1px 1px 1px;
  text-align: center;
  margin-bottom:10px;  
}

h3 {                
  font-size: 1.4em;
}
h4 {                
  font-size: 1.2em;
}
h5 {              
  font-size: 1.0em;
}

h6 {                
  font-size: 0.8em;
}

p {
  font-size:   1.2em;
  line-height: 1.5em;
  padding: 1em 0;
}

a {}

a:hover {}
  
a:active {}
  
a:visited {}

em {
  font-weight: italic;
  font-weight: 400;
  line-height: 1em;
}

strong {
  font-weight: bold;
}

.column, .column-20, .column-30, .column-33, .column-40, .column-50, .column-60, .column-66, .column-70, .column-80 {
  float: left;
  height: 100%;
  display: block;
}

.column-20{
  width: 20%;
}
.column-30{
  width: 30%;
}
.column-33{
  width: 33%;
}
.column-40{
  width: 40%;
}
.column-50{
  width: 50%;
}
.column-60{
  width: 60%;
}
.column-66{
  width: 66%;
}
.column-70{
  width: 70%;
}
.column-80{
  width: 80%;
}

.invisible {
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.centre {
  text-align:center;
}

.clearfix:before, .clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
.clearfix {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}


/*Structure*/

#header {
  width: 100%;
  height: 675px;
  background: #b9e6fa; /* Old browsers */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I5ZTZmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5OGFiZDMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #b9e6fa 0%, #98abd3 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b9e6fa), color-stop(100%,#98abd3)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #b9e6fa 0%,#98abd3 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #b9e6fa 0%,#98abd3 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #b9e6fa 0%,#98abd3 100%); /* IE10+ */
  background: linear-gradient(top, #b9e6fa 0%,#98abd3 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b9e6fa', endColorstr='#98abd3',GradientType=0 ); /* IE6-8 */
}

#header .content {
  background: url(../images/rays.png) no-repeat top center;
  height: 100%;
  border: none;
}

#header p {
  color: #2f2f2f;
  padding: 0 20px 20px 20px;
  text-align: justify;
  font-size: 1.4em;
}

.jack-will-help-you {
  width: 390px;
  margin: 0 auto;
  padding: 22px;
  background: #dedede;
  webkit-border-radius: 5px;
  moz-border-radius:    5px;
  border-radius:        5px;
  -moz-box-shadow:    1px 1px 1px #333;
  -webkit-box-shadow: 1px 1px 1px #333;
  box-shadow:         1px 1px 1px #333;
  position: relative;
  z-index:2;
}
.jack-will-help-you ul {
  margin-top: 20px;
}

.jack-will-help-you li {
  font-size:1.6em;
  line-height: 1.6em;
  padding: 0 0 0 30px;
  background: url(../images/check_l.png) no-repeat;
  margin: 0 0 10px 0;
}

.jack-will-help-you h3 {
  font-size: 1.8em;
}

.get-to-know-jack {
  width: 382px;
  height: 80px;
  background: url(../images/get-to-know.png) no-repeat top center; 
  position: relative;
  z-index:1;
  margin: -12px auto 0 auto;
  padding: 25px 0 0 0;
}

.get-to-know-jack h2 {
  text-align: center;
}

.get-to-know-jack h2 a, .get-to-know-jack h2 a:visited {
  color: #333;
  text-shadow: 0px 2px 3px #fff;
  text-decoration: none;
  display: block;
}

.get-to-know-jack h2 a:hover {
  color: #3d69b2;
}

.get-to-know-jack h2 a:active {
  color: #5b84c7;
}

.call-to-action-container {
  width: 436px; margin: 0 auto; 
}

.call-to-action, .call-to-action:visited {
  text-decoration:none;
  text-align:center;
  white-space:nowrap;
  font-size:1.5em;
  border:1px solid #6f6f6f;
  webkit-border-radius: 3px;
  moz-border-radius: 3px;
  border-radius: 3px;
  color:#915c0e;
  font-weight: bold;
  text-shadow: #fff 0px 1px 0px;
  text-transform:uppercase;
  padding:14px 12px;
  background: #f7d020; /* Old browsers */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZDAyMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYzdiMTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #f7d020 0%, #ec7b13 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7d020), color-stop(100%,#ec7b13)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f7d020 0%,#ec7b13 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f7d020 0%,#ec7b13 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f7d020 0%,#ec7b13 100%); /* IE10+ */
  background: linear-gradient(top, #f7d020 0%,#ec7b13 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7d020', endColorstr='#ec7b13',GradientType=0 ); /* IE6-8 */
}
  
.call-to-action:hover {}

.call-to-action:active {}

#section-1, #section-2, #section-3, #section-4 {
  width: 100%;
}

#section-1 {
  background: url(../images/section1.png) repeat;
}

#section-2 {
  background: url(../images/section2.png) repeat;
}

#section-3 {
  background: url(../images/section3.png) repeat;
}

#section-4 {
  background: url(../images/section4.png) repeat;
}

.content {
  width: 960px;
  padding: 53px 0;
  margin: 0 auto;
  border-left: 1px dotted #888;
  border-right: 1px dotted #888;  
}

#footer {
  background: #363636; /* Old browsers */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM2MzYzNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0YTRhNGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #363636 0%, #4a4a4a 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#363636), color-stop(100%,#4a4a4a)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #363636 0%,#4a4a4a 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #363636 0%,#4a4a4a 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #363636 0%,#4a4a4a 100%); /* IE10+ */
  background: linear-gradient(top, #363636 0%,#4a4a4a 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#363636', endColorstr='#4a4a4a',GradientType=0 ); /* IE6-8 */
}