/*********START OF CSS RESET****************/

/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126  License: none (public domain)*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {  margin: 0;  padding: 0;  border: 0;  font-size: 100%;  font: inherit;  vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {  content: '';content: none;}
table {  border-collapse: collapse;  border-spacing: 0;}
input, textarea, select {-webkit-appearance: none;}

/*********END OF CSS RESET****************/

.content {
   width: 1150px;
   margin: 0 auto;
}

#top-band{
  height: 56px;
  background: rgba(0, 0, 0, 0.5);
}
#top-band .content div{
   width: 850px;
   margin: 0 auto;
   padding-top:20px;
}
#top-band h2{
   font-family: myriad-pro-condensed, sans-serif;
   font-style: italic;
   font-weight:800;
   font-size: 16px;
   line-height: 1.25em;
   display: inline;
   color: #FFFFFF;
   text-shadow: 0 1px 3px #111111;

  float:left;
}
#top-band h2 .reserve{
   font-size: 18px;
   color: #D8C579;
}
#top-band h2 .phone-number{
   font-size:22px;
}
#top-band ul{
   display: inline;
}
#top-band ul li{
   display: inline;
}
#top-band ul li a{
   font-family: myriad-pro-condensed, sans-serif;
   font-style: italic;
   font-size: 14px;
   line-height: 1.25em;
   text-indent: -999em;
   display: block;

   float: left;
   margin-left: 18px;
}
#top-band ul li a.contact{
   width: 92px;
   height: 23px;
   background: url(images/button_contactus.png) 0px 0px no-repeat;
}
#top-band ul li a.contact:active{
   background: url(images/button_contactus.png) 0px -24px; no-repeat;
}
#top-band ul li a.corp-events{
   width: 128px;
   height: 23px;
   background: url(images/button_corpevents.png) 0px 0px no-repeat;
}
#top-band ul li a.corp-events:active{
   background: url(images/button_corpevents.png) 0px -24px no-repeat;
}



#main-menu{
   height:91px;
   background: url(images/nav_background.png) 0px -11px repeat-x;
}
#main-menu ul li.divider{
   width: 2px;
   height: 91px;
   display: block;
   float: left;
   background: url(images/nav_divider.jpg) 0px -7px no-repeat;
}
#main-menu #logo{
   width:296px;
   height: 91px;
   margin-left: 100px;
   background: pink;
   float:left;
   display: block;
}
#main-menu ul li a{
   font-family: myriad-pro-condensed, sans-serif;
   font-style: italic;
   line-height: 1.25em;
   text-shadow: 0 1px #ffffff;


   float: left;
   display:block;
   width:158px;
   height: 90px;
   background: pink;
   text-decoration: none;
}
#main-menu ul li a h3{
   font-weight: 800;
   font-size: 18px;
   line-height: 1.25em;
   color: #66383E;

   display: block;
   text-align: center;
   margin-top: 1em;
}
#main-menu ul li a span{
   font-weight: 400;
   font-style: italic;
   font-size: 16px;
   color: #73695B;

   display: block;
   text-align: center;
   font-size: 14px;
   color: #796859;
   margin-top: 5px;
   font-style: italic;
}

#main-area .upper{
   height:675px;
   background: red;
}
#main-area .upper .left{
   height:530px;
   width:275px;
   float: left;
   margin-left: 110px;
   background: #E6C46D;
}
#main-area .upper .left h2{
   color: #5D0010;
   font-size: 20px;
   display: block;
   text-align: center;
   margin: 16px 20px;
}
#main-area .upper .left h3{
   color: #5D0010;
   font-size: 16px;
   display: block;
   text-align: center;
   margin: 0 16px;
   margin-bottom: 20px;
}

#main-area .upper .left h4{
   display:block;
   color: #23211E;
   font-size: 14px;
   font-style: italic;
   text-align: center;
   margin: 0 16px;
   margin-bottom: 10px;
}
#main-area .upper .left .bottom{
   margin-bottom: 10px;
}
#main-area .upper .left span{
   color: #5D0010;
   font-size: 12px;
   text-align: center;
   display: block;
   margin: 0 16px;
}
#main-area .upper .left a{
   display: block;
   background: #5D0010;
   text-align: center;
   margin: 20px auto;
   width: 216px;
   height: 60px;
   line-height: 60px;
   font-size: 16px;
   color: #FFFFFF;
   border: 1px solid #521F14;
   border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
}
#main-area .upper .left p{
   display:block;
   color: #1A1A1A;
   font-size: 12px;
   text-align: center;
   margin: 0 16px;
   margin-bottom: 10px;
}
.dayspa      #main-area .upper .left .reserve,
.tablefortwo #main-area .upper .left .reserve,
.contact     #main-area .upper .left .reserve{
   margin-top: 125px;
}
.dayspa #main-area .upper .left .reserve{
   margin-top: 75px;
}
#main-area .upper .right{
   width:765px;
   height:530px;
   background: rgba(25,0,100,0.5);
   float:left;
}
.history #main-area .upper .right div{
   margin: 45px 130px 0px 150px;
}
.history #main-area .upper .right h2{
   font-size: 18px;
   color: #3D342D;
   display: block;
   margin-bottom: 10px;
}
.history #main-area .upper .right h3,{
   font-size: 14px;
   color: #5E0010;
   display: block;
   margin-bottom: 10px;
}
.history #main-area .upper .right p{
   font-size: 14px;
   color: #3A311B;
   display: block;
   margin-bottom: 5px;
}

#main-area .lower{
  height:358px;
  background: green;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

.safari #main-area .lower{
   height: 630px;
}
#main-area .lower h2{
   display: block;
   width:805px;
   font-size: 36px;
   color: #5E0010;
   margin: 0 auto;
   margin-top: 65px;
   margin-bottom: 40px;
}

#main-area .lower #room-info{
   height: 290px;
   width: 935px;
   background: slategray;
   margin: 90px auto 65px auto;
}

#main-area .lower #room-info .left{
   float: left;
   width: 475px;
   height: 285px;
   background: darkred;
}
#main-area .lower #room-info .left ul {
   width: 145px;
   height: 190px;
   float: left;
   margin-bottom: 20px;
}
#main-area .lower #room-info .left ul li{
   display: block;
   text-align: left;
   margin-bottom: 8px;
}
#main-area .lower #room-info .left ul li h3{
   font-size: 20px;
   margin-bottom: 16px;
}
#main-area .lower #room-info .left .fakeimage{
   width: 125px;
   height: 185px;
   background: black;
   float: right;
   margin-left: 5px;
}
#main-area .lower #room-info .right{
   width: 400px;
   height: 285px;
   float: right;
   background: darkorange;
}

#main-area .lower #room-info .right h3{
   font-size: 18px;
   font-style: italic;
   margin-bottom: 5px;
}
#main-area .lower #room-info .right .asterisk{
   font-size: 12px;
   text-align: right;
   color: #81776C;
   display: block;
   margin-top: 5px;
   margin-bottom: 10px;
}
#main-area .lower #room-info .right .call{
   display: block;
   margin-top: 16px;
   margin-bottom: 10px;
   font-size: 16px;
}
#main-area .lower #room-info .right .prompt{
   color: #560013;
}
#main-area .lower #room-info .right .panel{
   width: 380px;
   height: 39px;
   background: #F6EEE8;
   border-top: #BCBCAE;
   display: block;
   line-height: 39px;
   font-size: 12px;
   padding-left: 10px;
}

#main-area .lower #room-info .right .panel .money{
   font-size: 18px;
   font-style: italic;
}
#main-area .lower #room-info .right .panel .days{
   font-size: 18px;
   color: #560013;
}
#main-area .lower #room-info .right .panel .parens{
   color: #81776C;
}
#main-area .lower #room-info .right .panel.daily{
   height: 39px;
   width: 166px;
   border-radius: 5px;
   border-radius: 5px;
   -moz-border-radius: 5px;
}
#main-area .lower #room-info .right .panel.first{
   border-bottom: 1px solid #FFFFFF;
   border-top-left-radius: 5px;
   -moz-border-top-left-radius: 5px;
   -webkit-border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   -moz-border-top-right-radius: 5px;
   -webkit-border-top-right-radius: 5px;
}
#main-area .lower #room-info .right .panel.last{
   border-top: 1px solid #BCBCAE;
   border-bottom-left-radius: 5px;
   -moz-border-bottom-left-radius: 5px;
   -webkit-border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
   -moz-border-bottom-right-radius: 5px;
   -webkit-border-bottom-right-radius: 5px;
}

#main-area .lower .reservations-list{
   width: 950px;
   display: block;
   margin: 0 auto;

}
#main-area .lower .reservations-list li{
   width:305px;
   height:170px;
   margin-right: 16px;
   display:block;
   float:left;
   background: pink;
}
#main-area .lower .reservations-list h3{
   color: #5D0010;
   font-size: 24px;
   display: block;

   margin: 16px 100px 10px 16px;

}
#main-area .lower .reservations-list p{
   font-size: 14px;
   color: #5C4E42;
   margin: 0 100px 10px 16px;
}
#main-area .lower .reservations-list a{
   margin-left: 16px;
   display: block;
   text-align: center;
   font-size: 16px;
   font-style: italic;
   text-decoration: none;
   width: 152px;
   height: 33px;
   line-height: 33px;
   border: 1px solid black;
   border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
}
#main-area .lower #honeymoons a{
   background: #B0D778;
   border-color: #4F8500;
   color: #284201;
}
#main-area .lower #birthdays a{
   background: #EACD84;
   border-color: #AB9153;
   color: #3E341D;
}
#main-area .lower #anniversaries a{
   background: #772737;
   border-color: #30030B;
   color: #FEFDFD;
}
#main-area .lower #anniversaries{
   margin-right:0;
}
#footer{
  height: 335px;
}
#footer #panel{
   width: 265px;
   height: 270px;
   margin-left: 120px;
   background: darkred;
   float:left;
}
#footer #panel .TMP-pic-placeholder{
   height: 95px;
   width: 265px;
   background: green;
}
#footer #panel div{
   border-bottom: 1px solid magenta;
}
#footer #panel h3{
   font-size: 12px;
   color: #E7C56D;
   text-align: center;
   display: block;
   margin-top: 10px;
   margin-bottom: 5px;
}
#footer #panel span{
   font-size: 12px;
   color: #FFFFFF;
   text-align: center;
   display: block;
   margin-bottom: 10px;
}

#footer .wrapper{
   float: left;
   width: 765px;
   height:335px;
   background: purple;
}
#footer .upper{
   height: 170px;
   width: 765px;
   background: red;
}
#footer .upper div{
   padding-top: 20px;
}
#footer .upper div h3{
   color: #E7C56D;
   font-size: 18px;
   margin-bottom: 1em;
}
#footer .upper ul li a{
   font-size: 14px;
   color: #FFFFFF;
   display: block;
   text-decoration: none;
   margin-bottom: 5px;
}
#footer .upper #themed-suites ul.left{
   width: 110px;
   display: block;
   float: left;
}
#footer .upper #themed-suites ul.right{
   width: 110px;
   display: block;
   float: left;
}
#footer .upper .submenu{
   float: left;
   margin-left: 32px;
}

#footer .lower{
   height: 133px;
   padding-top: 32px;
}

#footer .lower div{
   margin-left: 32px;
}
#footer .lower #connect{
   padding-top: 16px;
   width: 160px;
   height: 60px;
   background: green;
   float: left;
}
#footer .lower div h3{
   color: #E7C56D;
   font-size: 16px;
   margin-bottom: 10px;
}
#footer .lower #connect img{
   margin-left: 10px;
}

#footer .lower #reviews{
   padding-top: 16px;
   width: 180px;
   height: 65px;
   background: green;
   float: left;
}

#footer .lower #reserve{
   width: 310px;
   height: 81px;
   background: green;
   float: left;
}
#footer .lower #reserve h3{
   font-size: 18px;
   text-align: right;
   display: block;
}
#footer .lower #reserve h4{
   color: #ffffff;
   font-size: 14px;
   text-align: right;
   display: block;
   margin-bottom: 10px;
}
