.product-table {
  margin: 10px auto;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  width: 100%;
  border:1px solid #222;
  width:725px;
  -moz-box-shadow: inset 0px 0px 10px #000;
  -webkit-box-shadow: inset 0px 0px 10px #000;
  box-shadow: inset 0px 0px 10px #000;
}
  .product-table tbody tr:nth-child(odd) {
    background: rgba(225, 231, 209, .1);
  }
  .product-table tbody tr:nth-child(even) {
    background: rgba(202, 214, 176, .2);
  }
  .product-table tbody tr:hover, .product-table tbody tr.hover {
    color: white;
    background: rgba(202, 214, 176, .4);
    text-shadow: none; }
  .product-table td {
    text-shadow: #333 1px 1px 1px;
    padding:5px;
    color:#a5b978;
    font-size: 1.4em;
  }
  tr:first-child td{
    background: url(../images/header_bkg_tile.jpg) repeat-x;
    color:#fff;
  }

  div.products {
    width:660px;
    margin:0 auto;
    font-family:news-gothic-std, sans-serif;
  }
  
  .products span.type{
    color: rgb(244,247,234);
    text-shadow:0 1px 1px rgba(12, 14, 3, 0.7);
    font-size: 2em;
    margin: 40px 0 8px 0;
    display:block;
    clear:both;
  }
  
  .product-table td.brand{
    color: rgb(244,247,234);
    text-shadow:0 1px 1px rgba(12, 14, 3, 0.7);
    font-size: 1.6em;
    margin-bottom:8px;
    min-width:330px;
  }
  
  .column-header {
    font-family:news-gothic-std, sans-serif;
    text-decoration:underline;
  }
  
  .products .back-to-top {
    float:right;
    margin:5px 5px 25px 0px;
  }
  .product-table input.product-quantity {
    margin: 3px;
    height: 16px;
    width:40px;
    border: 1px solid rgb(150,150,150);
	  webkit-border-radius: 2px;
    moz-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: inset 0 0 3px #888;
    -webkit-box-shadow: inset 0 0 3px #888;
    box-shadow: inner 0 0 3px #888;
  }
.product-table input.buy-now-button {
  opacity: .4;
  -webkit-transition: opacity .4s ease;  
  -moz-transition: opacity .4s ease;  
  -o-transition: opacity .4s ease;  
  -ms-transition: opacity .4s ease;  
  transition: opacity .4s ease;  
  text-align:center;
  white-space:nowrap;
  margin-top: 1px;
  font-size:.7em;
  font-family:"gill sans", "arial", san-serif;
  border:1px solid rgb(209,209,209);
  text-decoration:none;
  webkit-border-radius: 3px;
  moz-border-radius: 3px;
  border-radius: 3px;
  color:#666666;
  text-shadow: #fff 0px 1px 0px;
  text-transform:uppercase;
  background: #f3f3f3; /* Old browsers */
  background: -moz-linear-gradient(top, #f3f3f3 0%, #d1d1d1 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(100%,#d1d1d1)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f3f3f3 0%,#d1d1d1 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f3f3f3 0%,#d1d1d1 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #f3f3f3 0%,#d1d1d1 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#d1d1d1',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #f3f3f3 0%,#d1d1d1 100%); /* W3C */
  -webkit-box-shadow: 0px 0px 2px 2px  rgba(50,50,50,.4);
  -moz-box-shadow: 0px 0px 2px 2px rgba(50,50,50,.4);
  box-shadow: 0px 0px 2px 2px rgba(50,50,50,.4);
  }
  
.product-table input.buy-now-button:hover {
  opacity: 1;
  border:1px solid rgb(145,145,145);
  -moz-box-shadow: inset 0 0 2px #888;
  -webkit-box-shadow: inset 0 0 2px #888;
  box-shadow: inner 0 0 2px #888;
  outline: none;
  cursor:pointer;
}

.product-table input.buy-now-button:active {
  border:1px solid rgb(129,129,129);
  -moz-box-shadow: inset 0 0 6px #333;
  -webkit-box-shadow: inset 0 0 6px #333;
  box-shadow: inner 0 0 6px #333;
  outline: none;
}