html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {  margin: 0;  padding: 0;  border: 0;  font-size: 100%;  font: inherit;  vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {  content: '';content: none;}
table {  border-collapse: collapse;  border-spacing: 0;}
input, textarea, select {-webkit-appearance: none;}
a{ text-decoration: none;}

#container{
   min-width: 1000px;
}

/* HEADER RULES */
#header{
   height: 185px;
   background: #8E714B
}
#header .TMP-PLACEHOLDER{
   width: 304px;
   height: 120px;
   margin: 0 auto;
   background: lightseagreen;
}
#header .main-menu{
   width: 700px;
   margin: 0 auto;
   margin-top: 40px;
}
#header .main-menu li{
   float: left;
   width: 100px;
   margin-right: 16px;
   display: block;
}
#header .main-menu li>a{
   display: block;
   height: 100%;
   width: 100%;
   font-size: 14px;
   font-family: Helvetica, Arial, sans-serif;
   color: #443413;
}

/* MAIN RULES */
#main{
   height: 699px;
   border: 1px solid red;
}
#main .content{
   padding-top: 32px;
}
#main div.headline{
   width: 910px;
   height: 300px;
   background: black;
   margin: 0 auto;
}
#main div.headline .TMP-PLACEHOLDER{
   width: 250px;
   height: 100%;
   background: #808080;
   float: left;
}
#main div.headline .right{
   float: left;
   width: 660px;
   color: white;
}
#main div.headline h1{
   margin-top: 40px;
   font-size: 48px;
   font-family: Helvetica, Arial, sans-serif;
}
#main div.headline h2{
   font-size: 20px;
   margin-top: 32px;
   font-family: Helvetica, Arial, sans-serif;
}
#main div.headline p{
   margin-top: 5px;
   font-size: 14px;
   width: 400px;
   font-family: Helvetica, Arial, sans-serif;
}
#main div.headline a{
   width: 210px;
   height: 50px;
   background: orangered;
   display:block;
   float: right;
   font-size: 16px;
   line-height: 50px;
   margin-top: 32px;
   margin-right: 15px;
}
#main div.main{
   margin-top: 100px;
   padding-left: 45px;
   padding-right: 45px;
}
#main div.main .TMP-PLACEHOLDER{
   width: 453px;
   height: 230px;
   background: seagreen;
   float: right;
}
#main div.main h2{
   font-family: Helvetica, Arial, sans-serif;
   font-size: 18px;
   color: white;
}
#main div.main p{
   font-family: Helvetica, Arial, sans-serif;
   font-size: 14px;
   margin-top: 8px;
   width: 400px;
}
/* PRODUCTS LIST RULES */
#products{
   height: 60px;
   border: 1px solid blue;
}

#products ul{
   height: 100%;
}
#products li{
   float: left;
   width: 98px;
   height: 100%;
   border: 1px solid chartreuse;
   background: slategrey;

}
#producs li>a{
   display: block;
   height: 100%;
   width: 100%;
}
/* FOOTER RULES */
#footer{
   height: 250px;
   border: 1px solid green;
}
#footer .content{
   padding-top: 50px;
}
#footer .TMP-PLACEHOLDER{
   float: left;
   width: 200px;
   height: 80px;
   background: sienna;
   margin-right
}

#footer ul li{
   width: 150px;
   height: 50px;
   float: left;
   margin-left: 30px;
   margin-top: 30px;
   background: darkgoldenrod;
}
#footer ul li span,
#footer ul li a{
   font-family: Helvetica, Aria, sans-serif;
   font-size: 12px;
   display: block;
   line-height: 25px;
}
#footer ul li a{
   text-decoration: underline;
}
#footer ul li span strong{
   font-weight: bold;
}
.content{
   width: 1000px;
   height: 100%;
   margin: 0 auto;
   background: purple;
}