h1.logo { display:block; font-size: 10px; text-indent:-10000px; height: 80px; width: 281px; background: url("Images/logo.jpg") top left no-repeat; }
.content {
	color: #333333;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
}
.content a:link{
	color: #005DBA;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
}
.content a:visited{
	color: #005DBA;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
}
.content a:hover{
	color: #003D79;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.content a:active{
	color: #005DBA;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
}
.footer {
	color: #CCCCCC;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
}
.footer a:link{
	color: #CCCCCC;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
}
.footer a:visited{
	color: #CCCCCC;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
}
.footer a:hover{
	color: #EEEEEE;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.footer a:active{
	color: #CCCCCC;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
}
.content2 {
	color: #333333;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 900;
}
td.top-nav { padding-right: 10px; }
td.top-nav a { color: #ffffff; font-size: 10px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; text-decoration: none; padding: 0px 2px 0px 2px; }

td.nav a { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 12px; text-decoration: none; font-weight: bold; text-transform:uppercase; }
td.nav a:hover { color: #0059B1; }

#cont-bg { background: #ffffff; width: 438px; padding: 20px 0px 35px 161px; }

span.blue { color: #0059B1; font-size: 16px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; }
span.black { color: #000000; font-size: 16px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; }
span.blue-sm { color: #0059B1; font-size: 12px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; }
span.black-sm { color: #000000; font-size: 12px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; }