html, body, div, span, a, img,
h1, h2, h3, h4, h5, h6, hgroup, p,
dl, dialog, dt, dd, ol, ul, li,
abbr, acronym, address, b, big, blockquote,
cite, code, del, dfn, em, i, ins, kbd, pre, q,
samp, tt, var, small, strong, sub, sup,
object, iframe, form, fieldset, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, footer, header, nav, section,
figure, menu, time, mark, audio, video {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  vertical-align: baseline;
  white-space: normal;
  text-align: left;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  background: transparent; 
}
html, body {
	height:100%;
	margin:0 0 1px;
}

#browse-dwellings {
	margin-top:25px;
	padding: 12px 15px 10px 15px;
}

#property-info {
  position:relative;
	width:540px;
	float:left;
}
div.pane {
	position:relative;
	width:490px;
	padding: 15px 10px;
	background:white;
	display: none;
}
div.property-panes h2 {
	color:#002b54;
	font-size:16px;
	float:left;
	font-weight:bold;
	width:400px;
	margin-left:8px;
}
div.property-panes #property-control {
	float:left;
	margin-top:13px;
	margin-left:4px;
}
#property-control h3 {
	float:left;
	font-size:14px;
	color:#4a432e;
	font-weight:800;
	padding:1px 8px;
	line-height:21px;
	height:22px;
	border-right: 1px solid #fff;
}
ul.property-tabs {
	float:left;
 	list-style:none;
}
ul.property-tabs li {
	float:left;
	list-style:none;
}
ul.property-tabs li a {
	display:block;
	width:133px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration:none;
	font-size:12px;
	color:#5f563b;
	font-weight:bold;
  margin-right:0px;
  text-align:center;
	text-shadow: 0 1px #ece9e0;
	border-left:1px solid rgb(154,168,178);
	border-right:1px solid rgb(154,168,178);
	border-top:1px solid rgb(154,168,178);
	padding:7px 0 6px 0;
  background:#d2cbb6;
	background: url(../images/tab-background.png);
}
ul.property-tabs li a:hover {
	color:#554d34;
	background:#c5bca1;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e2dbd6),color-stop(1, #c5bca1)); 
  background: -moz-linear-gradient(top, #e2dbd6, #c5bca1);
}
ul.property-tabs li a:active, ul.property-tabs li a.current {
	background:white;
	text-shadow:none;
}
div.info-pages {
	float:left;
	width:402px;
	height:339px;
	margin-left:4px;
	background:white;
	border-left:1px solid rgb(154,168,178);
	border-right:1px solid rgb(154,168,178);
	border-bottom:1px solid rgb(154,168,178);
}
.overview-bold {
	font-weight:bold;
}
div.information {
}
div.information ul {
	float:left;
}
div.information p {
	float:left;
	font-size:14px;
	margin:5px 15px;
	color:#555;
	line-height:20px;
}