---
title: Clients
css_id: clients
filter:
  - haml
crums:
  - Home: /
  - Clients: /clients.html
---
.section.clearfix
  .column-30
    %div.side-block
      %h2.title Boston Pizza
      / %h4.subtitle Subtitle if needed
      %p.side-content In every Boston Pizza location, customers enjoy a friendly atmosphere, professional service and an appealing and diverse menu. Whether it’s a business lunch, a family dinner or watching the big game with friends, Boston Pizza provides our customers the opportunity to enjoy good food in a relaxed, comfortable atmosphere. It is this combination of key ingredients that has enabled Boston Pizza to serve more customers in more locations than any other full-service restaurant in Canada.
  .column-70
    .box
      .box-header
      .box-content
        %h4 To whom it may concern,
        %p Tony Braccio and his team at On-Q Pro Media have recently completed a number of projects for our company with great success. The On-Q team is friendly, accommodating and respectful of our operating environment, while also proving their technical capabilities. On-Q's response time has been exceptional and it's clear that they display a sense of urgency in ensuring our equipment is functioning properly. On-Q uses quality products and has been able to offer us a variety of audio and video solutions. The team at On-Q Pro Media has been a pleasure to work with and we look forward to our continued relationship.
        %p Jonathan Enright, MBA, B.Sc. Eng.
        %p Director of Operations
        %p Boston Pizza Manitoba
        .picture-set.clearfix
          .column-30
            .image
          .column-30
            .image
          .column-30
            .image.last
      .box-footer
.section.clearfix
  .column-30
    %div.side-block
      %h2.title Earl's Restaurants
      / %h4.subtitle Subtitle if needed
      %p.side-content Since Earls’ humble beginnings as that laid-back beer and burger joint, both the atmosphere and menus have evolved. We’ve created a comfortable yet upscale atmosphere where guests are equally welcome to dress up or wind down. We take inspiration from the world’s most popular cuisines and give them a spin that’s authentically Earls.
  .column-70
    .box
      .box-header
      .box-content
        %h4 To all those in need of service,
        %p I have been managing in this business for 13 years and one of the most challenged areas of my business over the years has been television and music. I have dealt with many companies, some good, some bad but then I met Tony, Ron and John from On-Q Pro Media. Over the last year I have been working with On-Q and have been blown away by the level of service that we have received. I have been using them as a music provider as well as using their services to assess my hardware needs. Any problems that I have encountered have been addressed immediately and efficiently. Their honesty and professionalism has been over the top and my system has never sounded better.
        %p Kris Kopansky
        %p Earl's Restaurants
        .picture-set.clearfix
          .column-30
            .image
          .column-30
            .image
          .column-30
            .image.last
      .box-footer
.section.clearfix
  .column-30
    %div.side-block
      %h2.title Shaw
      / %h4.subtitle Subtitle if needed
      %p.side-content Shaw Communications Inc., proudly serves 3.4 million customers, including 1.8 million subscribers to Shaw Internet and more than one million Home Phone customers. Our extensive and reliable network is comprised of 625,000 kilometres of fibre — almost enough to reach the moon and back.
  .column-70
    .box
      .box-header
      .box-content
        %p It is with great pleasure that I recommend Tony Braccio and his team at On-Q Pro Media. I have know Tony for the past 8 years.
        %p Tony and On-Q have always displayed a high degree of integrity, responsibility and customer service. They are definitely a leader in audio and video technology. In addition to their accomplishments, they have proven their dedication to customer service, time and time again with mutual clients that we have dealt with and continue to service.
        %p On-Q Pro Media have developed quality relationships throughout our city as their work can be seen throughout numerous hotels, restaurants, lounges and bars in Winnipeg and surrounding areas.
        %p On-Q Pro Media would be an asset to any organization requiring their services and I am happy to give them my wholehearted endorsement.
        %p Riley Gurr
        %p Major Accounts Executive
        .picture-set.clearfix
          .column-30
            .image
          .column-30
            .image
          .column-30
            .image.last
      .box-footer
.section.clearfix
  .column-30
    %div.side-block
      %h2.title Smitty's
      / %h4.subtitle Subtitle if needed
      %p.side-content Smitty's&trade; is Canada's largest family restaurant chain with more than 115 restaurants. It is the only truly national one, operating from coast to coast. The Smitty's concept is particularly popular among families with small children, seniors, and travellers. Almost all of our operations are fully licensed and a majority of them have separate lounges to accommodate a different group of customers.
  .column-70
    .box
      .box-header
      .box-content
        %p Our Smitty's restaurants have recently undergone a complete renovation. We've been searching for a company that could not only take care of our renovation requirements by supplying audio and video for our locations but also supply our background music needs as well. We found On-Q Pro Media. Their team of professionals have been able to supply and install our locations with the latest in audio and video. Their systems are very user friendly and provide us with a tremendous amount of flexibility.
        %p With our ever changing demographics we are now able to provide a variety of options to our customers that we were not able to do in the past. From a variety of music zones to the flexibility of bringing in live entertainment, On-Q has been able to set us up to accommodate our customer's needs. Without a doubt On-Q has surpassed our expectations. We look forward to continuing our relationship with On-Q Pro Media.
        %p Brian Funk
        .picture-set.clearfix
          .column-30
            .image
          .column-30
            .image
          .column-30
            .image.last
      .box-footer
.section.clearfix
  .column-30
    %div.side-block
      %h2.title 4Play Sports Bar &amp; Grill
      / %h4.subtitle Subtitle if needed
      %p.side-content Downtown Winnipeg's Newest Hot Spot! We have the space to facilitate with over 19,000 square feet. Come for Drinks, Dinner and all your favourite sporting events which will be broadcasted on Winnipeg's largest projection screen measured at 24´! As well as the 30 LCD TVs that are placed throughout the bar so you´ll be able to view the game you´re wanting to watch in any seat of the house!
  .column-70
    .box
      .box-header
      .box-content
        %p When we decided to open up Winnipeg's Premier Sports Bar we were looking for a company that had our same vision. After talking to several companies we chose On-Q Pro Media. They gave us suggestions and direction to take our concept to a new level. They not only took care of our audio and video needs but also took care of setting up our IT infrastructure including WiFi access and provided support, suggestions and troubleshooting while we implemented our POS and interac systems. The installation team was friendly and very efficient. The entire installation was very complex and required communication with the contractors to coordinate the project. We found On-Q Pro Media to be very professional and cooperative.
        %p After the installation was complete they took the time to demonstrate to our staff the flexibility and daily use procedures of our new system. The after sales service and response time has been great.
        %p If you are planning a renovation or have a conceptual idea that requires some input I would highly recommend the professionals at On-Q Pro Media.
        .picture-set.clearfix
          .column-30
            .image
          .column-30
            .image
          .column-30
            .image.last
      .box-footer
