---
title: Test
keywords: Test
description: Test
css_id: index
filter:
  - haml
crums:
  - home: /
  - apple: http://google.com/
---
.section.clearfix
  .column-30
    %div.side-block
      %h2.title Boston Pizza
      %h4.subtitle Subtitle if needed
      %p.side-content About the company some content content content content asdf adsf g 2 123 asdlk content content content content asdf adsf g 2 123 asdlk content content content content asdf adsf g 2 123 asdlk
  .column-70
    .box
      .box-header
      .box-content
        %h4 Message
        %p message
        %ul
          %li what
          %li they
          %li did
        %p message
        .picture-set.clearfix
          .column-30
            .image
          .column-30
            .image
          .column-30
            .image.last
      .box-footer
.section.clearfix
  .column-30
    %div.side-block
      %h2.title Boston Pizza
      %h4.subtitle Subtitle if needed
      %p.side-content About the company some content content content content asdf adsf g 2 123 asdlk content content content content asdf adsf g 2 123 asdlk content content content content asdf adsf g 2 123 asdlk
  .column-70
    .box
      .box-header
      .box-content
        %h4 Message
        %p message
        %ul
          %li what
          %li they
          %li did
        %p message
        .picture-set.clearfix
          .column-30
            .image
          .column-30
            .image
          .column-30
            .image.last
      .box-footer
.section.clearfix
  .column-30
    %div.side-block
      %h2.title Boston Pizza
      %h4.subtitle Subtitle if needed
      %p.side-content About the company some content content content content asdf adsf g 2 123 asdlk content content content content asdf adsf g 2 123 asdlk content content content content asdf adsf g 2 123 asdlk
  .column-70
    .box
      .box-header
      .box-content
        %h4 Message
        %p message
        %ul
          %li what
          %li they
          %li did
        %p message
        .picture-set.clearfix
          .column-30
            .image
          .column-30
            .image
          .column-30
            .image.last
      .box-footer
