---
title: Contact
css_id: contact
filter:
  - haml
crums:
  - home: /
  - contact: /contact.html
---
.column-30
  %div.side-block
    %h2.title Contact Us
    %p.side-content If you with to contact us, please use the form to the right or call us at (204) 694-9600.
    %p.side-content We can handle any and all of your media needs. Contact us for an estimation today!
.column-70
  .box
    .box-header
    .box-content
      #contact-us
        %h4.subtitle Questions/Comments:
        %form{:id => "footer-mailform", 'data-mailform' => "99925f3d9360008161629fbfbc15f71bb72d65ee", 'data-mailform-error' => "error-messages", :method => "get", :novalidate => "true"}
          #message-wrapper
            .hidden.mailform-loading
            .hidden.mailform-error
              default error
            .hidden.mailform-success
              default success
          %fieldset
            .input
              %label{:for => "message[name]"} Name
              %input{:type => "text", :name => "message[name]", 'required' => "true"}
            .input
              %label{:for => "message[mail]"} E-Mail
              %input{:type => "text", :name => "message[mail]", 'required' => "true"}
            .input
              %label{:for => "message[body]"} Questions/Comments
              %textarea{:name => "message[body]", 'required' => "true"}
            .actions
              %input.button{:type => "submit", :value => "Send"}
            %p All fields marked with an * must be completed
    .box-footer