---
title: Contact Us
filter:
  - haml
---
.contactus
  %h1 Contact Us

  <iframe class="googlemap" width="230" height="180" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=millennium+office+furniture+winnipeg+manitoba&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=58.555544,114.169922&amp;ie=UTF8&amp;hq=millennium+office+furniture&amp;hnear=Winnipeg,+Division+No.+11,+Manitoba,+Canada&amp;ll=49.907018,-97.203083&amp;spn=0.0199,0.03931&amp;z=13&amp;iwloc=A&amp;output=embed"></iframe>



  %img{style: "float: right;", src: 'images/office.jpg'}
  .content

    %h2 Come See our Showroom!

    %p
      981 Century Street<br>
      Winnipeg, Manitoba<br>
      R3H 0W4

    %p
      <strong>Phone:</strong> 204-779-0111<br>
      <strong>Fax:</strong> 204-779-0733<br>
      <strong>Toll-Free:</strong> 1-800-626-2078

    %p
      <strong>Email:</strong> info@millfurniture.com


  %br.clear
