---
title: Contact
css_id: contact
filter:
  - haml
crums:
  - Home: /
  - Contact: /contact.html
---
.column-30
  %div.side-block
    %h2.title Contact Us
    %p.side-content If you with to contact us, please use the form to the right or call us at (204) 694-9600.
    %p.side-content We can handle any and all of your media needs. Contact us for an estimate today!
    %hr
    %ul
      %li 1112 Notre Dame Avenue
      %li Winnipeg, Manitoba
      %li Canada  R3E 0N8
      %li.phone (204) 694-9600
.column-70
  .box
    .box-header
    .box-content
      #contact-us
        %h4.subtitle Questions/Comments:
        %form{:id => "contactform", 'data-mailform' => "f592bb357e9f87206571aab80c0c484c670d28d3", 'data-mailform-error' => "error-messages", :method => "get", :novalidate => "true"}
          #message-wrapper
            .hidden.mailform-error
              default error
            .hidden.mailform-success
              default success
          %fieldset
            .inputs
              .input
                %label{:for => "message[name]"} Name*
                %input.required-field{:type => "text", :name => "name", 'required' => "true"}
              .input
                %label{:for => "message[mail]"} E-Mail*
                %input.required-field{:type => "text", :name => "email", 'required' => "true"}
              .input
                %label{:for => "message[body]"} Questions/Comments*
                %textarea.required-field{:name => "body", 'required' => "true"}
            .actions
              %input.input-button{:type => "submit", :value => "submit"}
              %p.required-message All fields marked with an * must be completed
              .hidden.mailform-loading
    .box-footer