---
title: Contact
css_id: contact
filter:
  - haml
crums:
  - home: /
  - contact: /contact.html
---

.column-30
  %div.side-block
    %h2.title Contact Us
    %p.side-content If you with to contact us, please use the form to the right or call us at (204) 694-9600.
    %p.side-content We can handle any and all of your media needs. Contact us for an estimation today!
.column-70
  .box
    .box-header
    .box-content
      #contact-us
        %h4.subtitle Questions/Comments:
        %form
          %fieldset
            %label{:for => "message[name]"} Name
            %input{:type => "text", :name => "message[name]"}
            %label{:for => "message[mail]"} E-Mail
            %input{:type => "text", :name => "message[mail]"}
            %label{:for => "message[body]"} Questions/Comments
            %textarea{:name => "message[body]"}
            %input.button{:type => "submit", :value => "Send"}
    .box-footer