---
title: Contact
css_id: contact
filter:
  - haml
crums:
  - Home: /
  - Contact: /contact.html
---
.column-30
  %div.side-block
    %h2.title Contact Us
    %p.side-content If you with to contact us, please use the form to the right or call us at (204) 694-9600.
    %p.side-content We can handle any and all of your media needs. Contact us for an estimate today!
    %hr
    %ul
      %li 1112 Notre Dame Avenue
      %li Winnipeg, Manitoba
      %li Canada  R3E 0N8
      %li.phone (204) 694-9600
.column-70
  .box
    .box-header
    .box-content
      #contact-us
        %h4.subtitle Questions/Comments:
        %form{:id => "mailform", 'data-mailform' => "99925f3d9360008161629fbfbc15f71bb72d65ee", 'data-mailform-error' => "error-messages", :method => "get", :novalidate => "true"}
          #message-wrapper
            .hidden.mailform-error
              default error
            .hidden.mailform-success
              default success
          %fieldset
            .input
              %label{:for => "message[name]"} Name*
              %input.required-field{:type => "text", :name => "message[name]", 'required' => "true"}
            .input
              %label{:for => "message[mail]"} E-Mail*
              %input.required-field{:type => "text", :name => "message[mail]", 'required' => "true"}
            .input
              %label{:for => "message[body]"} Questions/Comments*
              %textarea.required-field{:name => "message[body]", 'required' => "true"}
            .hidden.mailform-loading
            .actions
              %input.input-button{:type => "submit", :value => "submit"}
            %p All fields marked with an * must be completed
    .box-footer