---
title: Home
keywords: Test
description: Test
css_id: home
filter:
  - haml
crums:
  - home: /
---

#showcase

#featured-products.full-box
  .full-box-header
  .full-box-body.clearfix
    .column-40
      %h2 Featured Products
      %h5 Title of Selected Product
      %p adsf asdf  f f as d asdfasdf  asdfasdf  asdf  asdf  asdf faslkjzx se,fa,x
      %p adsf asdf  f f as d asdfasdf  asdfasdf  asdf  asdf  asdf faslkjzx se,fa,x
    .column-20
      .image
    .column-20
      .image
    .column-20
      .image
  .full-box-footer
