---
title: Home
css_id: home
filter:
  - haml
crums:
  - Home: /
---
%h2.intro.left Professional Audio Visual Entertainment Solutions
%h5 Canada's Leading Music Suppliers.
%h5 Winnipeg's Premier Custom Audio/Visual Design and installation experts.
<link rel="stylesheet" href="/stylesheets/scenes.css">
:css
  #content {
    margin-top:0px;
  }
  #content h5 {
    color: #777777;
    font-size: 12px;
  }
<script src="/javascripts/scenes.js"></script>
#scenes.clearfix
  #scene-nav
    .scene-thumbs
      %img.scene-thumb{ 'data-scene' => '#sports-bar' , :src => "/images/square-sports-bar.png", :alt => "Sports Bar"}
      %img.scene-thumb{ 'data-scene' => '#restaurant' , :src => "/images/square-restaurant.png", :alt => "Restaurant"}
      %img.scene-thumb{ 'data-scene' => '#patio'      , :src => "/images/square-patio.png",      :alt => "Patio"     }
    .scene-thumbs
      %img.scene-thumb{ 'data-scene' => '#night-club' , :src => "/images/square-dance-club.png", :alt => "Dance Club"}
      %img.scene-thumb{ 'data-scene' => '#hallway'    , :src => "/images/square-hall.png",       :alt => "Hall"      }
      %img.scene-thumb{ 'data-scene' => '#hotel'      , :src => "/images/square-hotel.png",      :alt => "Hotel"     }
  #sports-bar.scene.hidden
    .entity.back-wall
    .entity.transparent.people-balcony
    .entity.back-wall-front
    .entity.transparent.ambient-lights.ambient-lights-blue
    .entity.transparent.ambient-lights.ambient-lights-green
    .entity.transparent.ambient-lights.ambient-lights-purple
    .entity.transparent.ambient-lights.ambient-lights-red
    .entity.transparent.bar
    .entity.transparent.bar-with-waitress
    .entity.transparent.bar-with-people
    .entity.transparent.lights
    .entity.transparent.people-background-with-theatre
    .entity.transparent.waitress-middle-of-scene
    .entity.transparent.people-forground
    .entity.transparent.center-tv-screen-yellow-glow
    .entity.transparent.right-tv-screen-yellow-glow
    .entity.transparent.tv-farm-yellow-glow
    .entity.transparent.computer-monitor-yellow-glow
    .entity.transparent.soundog-bar-yellow-glow
    .entity.transparent.soundog-table-yellow-glow
    .entity.transparent.speakers-yellow-glow
    .entity.transparent.tv-bar-yellow-glow
    .entity.transparent.volume-yellow-glow
    .bounding.center-tv-screen{'data-layer' => '.center-tv-screen-yellow-glow', 'data-popup-trigger' => true,  'data-href' => '#tv-popup'}
    .bounding.right-tv-screen{'data-layer'  => '.right-tv-screen-yellow-glow',  'data-popup-trigger' => true,  'data-href' => '#tv-popup'}
    .bounding.tv-farm{'data-layer'  => '.tv-farm-yellow-glow', 'data-popup-trigger' => true,  'data-href' => '#tv-popup'}
    .bounding.computer-monitor{'data-layer'  => '.computer-monitor-yellow-glow', 'data-popup-trigger' => true,  'data-href' => '#tv-popup'}
    .bounding.soundog-bar{'data-layer'  => '.soundog-bar-yellow-glow', 'data-popup-trigger' => true,  'data-href' => '#soundog-popup'}
    .bounding.soundog-table{'data-layer'  => '.soundog-table-yellow-glow', 'data-popup-trigger' => true,  'data-href' => '#soundog-popup'}
    .bounding.speakers{'data-layer'  => '.speakers-yellow-glow', 'data-popup-trigger' => true,  'data-href' => '#speaker-popup'}
    .bounding.tv-bar{'data-layer'  => '.tv-bar-yellow-glow', 'data-popup-trigger' => true,  'data-href' => '#tv-popup'}
    .bounding.volume{'data-layer'  => '.volume-yellow-glow', 'data-popup-trigger' => true,  'data-href' => '#volume-popup'}
  #night-club.scene.hidden
    .entity.background.bg
    .entity.background-1.bg
    .entity.transparent.bg-people-1.bg-people
    .entity.transparent.bg-people-2.bg-people
    .entity.background-2.bg
    .entity.background-3.bg
    .entity.transparent.balcony-people
    .entity.roof-and-balcony
    .entity.second-story
    .entity.tv-screen
    .entity.transparent.people
    .entity.transparent.people-at-table
    .entity.transparent.table
    .entity.transparent.person-at-table-arm
    .entity.transparent.rack-back.rack
    .entity.transparent.rack-front.rack
    .entity.transparent.monitors
    .entity.transparent.center-light-beam
    .entity.transparent.scene-shine


    .entity.transparent.left-light-beam-blue
    .entity.transparent.left-light-beam-green
    .entity.transparent.left-light-beam-purple
    .entity.transparent.left-light-beam-red

    .entity.transparent.middle-light-beam-blue
    .entity.transparent.middle-light-beam-green
    .entity.transparent.middle-light-beam-purple
    .entity.transparent.middle-light-beam-red

    .entity.transparent.right-light-beam-blue
    .entity.transparent.right-light-beam-green
    .entity.transparent.right-light-beam-purple
    .entity.transparent.right-light-beam-red

    .entity.transparent.dj-table
    .entity.transparent.mixers
    .entity.transparent.dj
    .entity.transparent.silhouette

    .entity.transparent.mixers-yellow-glow
    .entity.transparent.monitors-yellow-glow
    .entity.transparent.tv-screens-yellow-glow
    .entity.transparent.laptop-white-glow
    .entity.transparent.laptop-yellow-glow
    .bounding.mixers-glow{'data-layer'  => '.mixers-yellow-glow', 'data-popup-trigger' => true,  'data-href' => '#music-supply-popup'}
    .bounding.monitors-glow{'data-layer'  => '.monitors-yellow-glow', 'data-popup-trigger' => true,  'data-href' => '#tv-popup'}
    .bounding.tv-screens-glow{'data-layer'  => '.tv-screens-yellow-glow', 'data-popup-trigger' => true,  'data-href' => '#tv-popup'}
    .bounding.laptop-glow{'data-layer'  => '.laptop-yellow-glow', 'data-popup-trigger' => true,  'data-href' => '#music-supply-popup'}

  #restaurant.scene.hidden
    .entity.background
    .entity.transparent.tv
    .entity.transparent.people-5
    .entity.tables-5
    .entity.transparent.people-4
    .entity.transparent.tables-4
    .entity.transparent.people-3
    .entity.transparent.tables-3
    .entity.transparent.people-2
    .entity.transparent.tables-2
    .entity.transparent.people-1
    .entity.transparent.tables-1
    .entity.transparent.speakers
    .entity.transparent.speakers-yellow-glow
    .entity.transparent.tv-yellow-glow
    .entity.volume-white-glow
    .entity.transparent.volume-yellow-glow
    .bounding.speakers-glow{'data-layer'  => '.speakers-yellow-glow', 'data-popup-trigger' => true,  'data-href' => '#speaker-popup'}
    .bounding.tv-glow{'data-layer'  => '.tv-yellow-glow', 'data-popup-trigger' => true,  'data-href' => '#tv-popup'}
    .bounding.volume-glow{'data-layer'  => '.volume-yellow-glow', 'data-popup-trigger' => true,  'data-href' => '#volume-popup'}

  #hallway.scene.hidden
    .entity.background3
    .entity.background2
    .entity.background1
    .entity.transparent.speakers
    .entity.transparent.dj-table
    .entity.transparent.ceiling-lights
    .entity.transparent.disco-ball
    .entity.transparent.disco-ball-shine-1
    .entity.transparent.disco-ball-shine-2
    .entity.transparent.disco-ball-shine-3
    .entity.transparent.beat-box-guy
    .entity.transparent.speakers
    .entity.transparent.cd-player
    .entity.transparent.cd-player-cords
    .entity.transparent.mixer-1
    .entity.transparent.mixer-2
    .entity.transparent.laptop
    .entity.transparent.laptop-cord
    .entity.transparent.side-dj
    .entity.transparent.people-dancing
    .entity.transparent.silhouette
    .entity.transparent.darkness{ 'data-max-opacity' => 0.4}
    .entity.transparent.light-1-glow-white
    .entity.transparent.light-1-glow-yellow
    .entity.transparent.light-1-glow
    .entity.transparent.light-1
    .entity.transparent.light-2-glow-white
    .entity.transparent.light-2-glow-yellow
    .entity.transparent.light-2-glow
    .entity.transparent.light-2
    .entity.transparent.light-beam-blue-1.light-beam-blue{ 'data-max-opacity' => 0.2}
    .entity.transparent.light-beam-blue-2.light-beam-blue{ 'data-max-opacity' => 0.2}
    .entity.transparent.light-beam-blue-3.light-beam-blue
    .entity.transparent.light-beam-blue-4.light-beam-blue
    .entity.transparent.light-beam-green-1.light-beam-green{ 'data-max-opacity' => 0.2}
    .entity.transparent.light-beam-green-2.light-beam-green{ 'data-max-opacity' => 0.2}
    .entity.transparent.light-beam-green-3.light-beam-green
    .entity.transparent.light-beam-green-4.light-beam-green
    .entity.transparent.light-beam-purple-1.light-beam-purple{ 'data-max-opacity' => 0.2}
    .entity.transparent.light-beam-purple-2.light-beam-purple{ 'data-max-opacity' => 0.2}
    .entity.transparent.light-beam-purple-3.light-beam-purple
    .entity.transparent.light-beam-purple-4.light-beam-purple
    .entity.transparent.light-beam-red-1.light-beam-red{ 'data-max-opacity' => 0.2}
    .entity.transparent.light-beam-red-2.light-beam-red{ 'data-max-opacity' => 0.2}
    .entity.transparent.light-beam-red-3.light-beam-red
    .entity.transparent.light-beam-red-4.light-beam-red
    .entity.transparent.light-beam-white-1.light-beam-white{ 'data-max-opacity' => 0.2}
    .entity.transparent.light-beam-white-2.light-beam-white{ 'data-max-opacity' => 0.2}
    .entity.transparent.speakers-glow-yellow
    .entity.transparent.mixer-1-glow-yellow
    .entity.transparent.mixer-2-glow-yellow
    .entity.transparent.lights-glow-yellow
    .entity.transparent.laptop-glow-yellow
    .entity.transparent.back-speakers-glow-yellow
    .bounding.speakers-glow{'data-layer'  => '.speakers-glow-yellow', 'data-popup-trigger' => true,  'data-href' => '#speaker-popup'}
    .bounding.mixer-2-glow{'data-layer'  => '.mixer-2-glow-yellow', 'data-popup-trigger' => true,  'data-href' => '#music-supply-popup'}
    .bounding.mixer-1-glow{'data-layer'  => '.mixer-1-glow-yellow', 'data-popup-trigger' => true,  'data-href' => '#music-supply-popup'}
    .bounding.lights-glow{'data-layer'  => '.lights-glow-yellow', 'data-popup-trigger' => true,  'data-href' => '#lighting-popup'}
    .bounding.laptop-glow{'data-layer'  => '.laptop-glow-yellow', 'data-popup-trigger' => true,  'data-href' => '#music-supply-popup'}                    }
    .bounding.back-speakers-glow{'data-layer'  => '.back-speakers-glow-yellow', 'data-popup-trigger' => true,  'data-href' => '#speaker-popup'}                    }
  #patio.scene.hidden
    .entity.background
    .entity.transparent.black.hidden
    .entity.transparent.people-1
    .entity.transparent.tables-1
    .entity.transparent.people-2
    .entity.transparent.tables-2
    .entity.transparent.people-3
    .entity.transparent.tables-3
    .entity.transparent.people-4
    .entity.transparent.tables-4
    .entity.transparent.people-5
    .entity.transparent.tables-5
    .entity.transparent.people-6
    .entity.transparent.people
    .entity.transparent.speaker-glow-white-1.hidden
    .entity.transparent.speaker-glow-white-2.hidden
    .entity.transparent.speaker-glow-white-3.hidden
    .entity.transparent.speaker-glow-white-4.hidden
    .entity.transparent.speaker-glow-white-5.hidden
    .entity.transparent.speaker-glow-yellow-1.hidden
    .entity.transparent.speaker-glow-yellow-2.hidden
    .entity.transparent.speaker-glow-yellow-3.hidden
    .entity.transparent.speaker-glow-yellow-4.hidden
    .entity.transparent.speaker-glow-yellow-5.hidden
    .entity.transparent.speakers-glow-White-all.hidden
    .entity.transparent.speakers-glow-Yellow-all
    .entity.volume-glow-white
    .entity.transparent.volume-glow-yellow
    .bounding.speakers-glow-all{'data-layer'  => '.speakers-glow-Yellow-all', 'data-popup-trigger' => true,  'data-href' => '#speaker-popup'}
    .bounding.volume-glow{'data-layer'  => '.volume-glow-yellow', 'data-popup-trigger' => true,  'data-href' => '#volume-popup'}

  #hotel.scene.hidden
    .entity.front_desk
    .entity.transparent.bellboy
    .entity.transparent.busboy
    .entity.transparent.concierge
    .entity.transparent.girl
    .entity.transparent.little_boy
    .entity.transparent.red_shirt_guy
    .entity.transparent.suitcase
    .entity.transparent.white_shirt_guy
    .entity.transparent.woman
    .entity.speakers-glow-white
    .entity.transparent.speakers-glow-yellow
    .entity.volume-glow-white
    .entity.transparent.volume-glow-yellow
    .bounding.speakers-glow{'data-layer'  => '.speakers-glow-yellow', 'data-popup-trigger' => true,  'data-href' => '#speaker-popup'}
    .bounding.volume-glow{'data-layer'  => '.volume-glow-yellow', 'data-popup-trigger' => true,  'data-href' => '#volume-popup'}
  #tv-popup.exo-popup{ 'data-popup-top' => '20', 'data-close-on-click' => ".close-button"}
    .exo-popup-header
    .exo-popup-body
      %a{:class => "close-button"}x
      %h1 TV
      %ul
        %li Plasmas
        %li LCD
        %li Projectors
      %a{:href => "products.html#video", :target => "_blank"} Learn more
    .exo-popup-footer
  #speaker-popup.exo-popup{ 'data-popup-top' => '20', 'data-close-on-click' => ".close-button"}
    .exo-popup-header
    .exo-popup-body
      %a{:class => "close-button"}x
      %h1 Speakers
      %ul
        %li Tovolt
        %li Active
        %li Passive
      %a{:href => "products.html#audio", :target => "_blank"} Learn More
    .exo-popup-footer
  #lighting-popup.exo-popup{ 'data-popup-top' => '20', 'data-close-on-click' => ".close-button"}
    .exo-popup-header
    .exo-popup-body
      %a{:class => "close-button"}x
      %h1 Lighting
      %ul
        %li LCD
        %li Wall Washers
        %li Moving Heads
        %li D.S. Effects
      %a{:href => "products.html#lighting", :target => "_blank"} Learn More
    .exo-popup-footer
  #volume-popup.exo-popup{ 'data-popup-top' => '20', 'data-close-on-click' => ".close-button"}
    .exo-popup-header
    .exo-popup-body
      %a{:class => "close-button"}x
      %h1 Volume
      %ul
        %li Digital
        %li Analog
      %a{:href => "products.html#audio", :target => "_blank"} Learn More
  #soundog-popup.exo-popup{ 'data-popup-top' => '20', 'data-close-on-click' => ".close-button"}
    .exo-popup-header
    .exo-popup-body
      %a{:class => "close-button"}x
      %h1 Sound
      %ul
        %li Dog
      %a{:href => "products.html#soundog", :target => "_blank"} Learn More
  #audio-popup.exo-popup{ 'data-popup-top' => '20', 'data-close-on-click' => ".close-button"}
    .exo-popup-header
    .exo-popup-body
      %a{:class => "close-button"}x
      %h1 Audio
      %ul
        %li Processors
        %li Mixers
      %a{:href => "products.html#audio", :target => "_blank"} Learn More
  #music-supply-popup.exo-popup{ 'data-popup-top' => '20', 'data-close-on-click' => ".close-button"}
    .exo-popup-header
    .exo-popup-body
      %a{:class => "close-button"}x
      %h1 Music Supply
      %ul
        %li Pro DJ Systems
        %li Background
        %li Music and Demand
      %a{:href => "products.html#music-supply", :target => "_blank"} Learn More
    .exo-popup-footer
    .exo-popup-footer
    .exo-popup-footer
    .exo-popup-footer
  :css
    .exo-popup{
      display: none;
      background: rgb (51, 51, 51);
      background: rgba(51, 51, 51, 0.8);
      border: 1px solid #999;
      -moz-box-shadow:    2px 2px 2px #111;
      -webkit-box-shadow: 2px 2px 2px #111;
      box-shadow:         2px 2px 2px #111;
      webkit-border-radius: 3px;
      moz-border-radius:    3px;
      border-radius:        3px;
      width: 125px;
      padding: 15px;
      position: absolute;
    }
    .exo-popup a{
      color: #aba8a8;
      float: right;
    }
    .exo-popup a.close-button{
      color: #888;
    }
    .exo-popup a:hover{
      text-decoration: none;
    }
#featured-products-showcase
  .column-30
    %h2 Featured Product
    %h4 Q-Maxx6000
    %p Image having all the power of a music on demand system at your finger tips, but the flexibility to provide up to six different music genres to different areas of your establishment.
  .column-20.first
    %img.image{:src => "http://dummyimage.com/180x155/2e2e2e/e2e2e2&text=Q-Maxx6000", :alt => "Q-Maxx6000"}
  .column-20
    %img.image{:src => "http://dummyimage.com/180x155/2e2e2e/e2e2e2&text=Q-Maxx6000", :alt => "Q-Maxx6000"}
  .column-20
    %img.image{:src => "http://dummyimage.com/180x155/2e2e2e/e2e2e2&text=Q-Maxx6000", :alt => "Q-Maxx6000"}
