---
title: Home
css_id: home
filter:
  - haml
crums:
  - Home: /
---

<link rel="stylesheet" href="/stylesheets/rooms.css">
<script src="/javascripts/rooms.js"></script>
#rooms.clearfix
  #room-nav
    .room-thumbs
      %img.room-thumb{:src => "/images/square-sports-bar.png", :alt => "Sports Bar"}
      %img.room-thumb{:src => "/images/square-restaurant.png", :alt => "Restaurant"}
      %img.room-thumb{:src => "/images/square-patio.png", :alt => "Patio"}
    .room-thumbs
      %img.room-thumb{:src => "/images/square-dance-club.png", :alt => "Dance Club"}
      %img.room-thumb{:src => "/images/square-hall.png", :alt => "Hall"}
      %img.room-thumb{:src => "/images/square-hotel.png", :alt => "Hotel"}
  #sports-bar.room
    .entity.back-wall{ style: "display:none"}
    .entity.transparent.people-balcony
    .entity.back-wall-front
    .entity.transparent.ambient-lights.ambient-lights-blue
    .entity.transparent.ambient-lights.ambient-lights-green
    .entity.transparent.ambient-lights.ambient-lights-purple
    .entity.transparent.ambient-lights.ambient-lights-red
    .entity.transparent.bar
    .entity.transparent.bar-with-waitress
    .entity.transparent.bar-with-people
    .entity.transparent.lights
    .entity.transparent.people-background-with-theatre
    .entity.transparent.waitress-middle-of-room
    .entity.transparent.people-forground
  #night-club.room.hidden
    .entity.background
    .entity.background-1
    .entity.bg-people-1
    .entity.bg-people-2
    .entity.background-2
    .entity.background-3
    .entity.balcony-people
    .entity.roof-and-balcony
    .entity.second-story
    .entity.tv-screen
    .entity.people
    .entity.people-at-table
    .entity.table
    .entity.person-at-table-arm
    .entity.rack-back
    .entity.rack-front
    .entity.monitors
    .entity.center-light-beam
    .entity.room-shine
    .entity.lights-blue
    .entity.left-light-beam-blue
    .entity.middle-light-beam-blue
    .entity.right-light-beam-blue
    .entity.dj-table
    .entity.mixers
    .entity.dj
    .entity.silhouette
  #restaurant.room.hidden
    .entity.background
    .entity.tv
    .entity.people-5
    .entity.tables-5
    .entity.people-4
    .entity.tables-4
    .entity.people-3
    .entity.tables-3
    .entity.people-2
    .entity.tables-2
    .entity.people-1
    .entity.tables-1
    .entity.speakers
  #hallway.room
    .entity.background3
    .entity.background2
    .entity.background1
    .entity.speakers
    .entity.dj-table
    .entity.ceiling-lights
    .entity.disco-ball
    .entity.disco-ball-shine-1
    .entity.disco-ball-shine-2
    .entity.disco-ball-shine-3
    .entity.beat-box-guy
    .entity.speakers
    .entity.cd-player
    .entity.cd-player-cords
    .entity.mixer-1
    .entity.mixer-2
    .entity.laptop
    .entity.laptop-cord
    .entity.side-dj
    .entity.people-dancing
    .entity.silhouette
    .entity.darkness
    .entity.light-1-glow-white
    .entity.light-1-glow-yellow
    .entity.light-1-glow
    .entity.light-1
    .entity.light-2-glow-white
    .entity.light-2-glow-yellow
    .entity.light-2-glow
    .entity.light-2
    .entity.light-beam-blue-1
    .entity.light-beam-blue-2
    .entity.light-beam-blue-3
    .entity.light-beam-blue-4
    .entity.light-beam-green-1
    .entity.light-beam-green-2
    .entity.light-beam-green-3
    .entity.light-beam-green-4
    .entity.light-beam-purple-1
    .entity.light-beam-purple-2
    .entity.light-beam-purple-3
    .entity.light-beam-purple-4
    .entity.light-beam-red-1
    .entity.light-beam-red-2
    .entity.light-beam-red-3
    .entity.light-beam-red-4
    .entity.light-beam-white-1
    .entity.light-beam-white-2
#featured-products-showcase
  .column-30
    %h2 Featured Product
    %h4 Q-Maxx6000
    %p Image having all the power of a music on demand system at your finger tips, but the flexibility to provide up to six different music genres to different areas of your establishment.
  .column-20.first
    %img.image{:src => "http://dummyimage.com/180x155/2e2e2e/e2e2e2&text=Q-Maxx6000", :alt => "Q-Maxx6000"}
  .column-20
    %img.image{:src => "http://dummyimage.com/180x155/2e2e2e/e2e2e2&text=Q-Maxx6000", :alt => "Q-Maxx6000"}
  .column-20
    %img.image{:src => "http://dummyimage.com/180x155/2e2e2e/e2e2e2&text=Q-Maxx6000", :alt => "Q-Maxx6000"}
