---
title:
keywords: Test
description: Test
css_id: index
filter:
  - haml
crums:
  - home: /
  - apple: http://google.com/
---

.column-30
  %div.side-block
    %h2.title Services
    %h4.subtitle Subtitle if needed
    %p.side-content some content content content content asdf adsf g 2 123 asdlk content content content content asdf adsf g 2 123 asdlk content content content content asdf adsf g 2 123 asdlk
  %div.side-block
    %h3 Some Content
    %h4.subtitle Some Content
    %p.side-content some content content content content asdf adsf g 2 123 asdlk content content content content asdf adsf g 2 123 asdlk content content content content asdf adsf g 2 123 asdlk
.column-70
  .box
    .box-header
    .box-content
    .box-footer
  .box
    .box-header
    .box-content
      %h1 Some Content
      %h2 Some Content
      %h3 Some Content
      %h4 Some Content
      %h5 Some Content
      %h6 Some Content
      %p some content content content content asdf adsf g 2 123 asdlk
      %p some content content content content asdf adsf g 2 123 asdlk
      %p some content content content content asdf adsf g 2 123 asdlk
      %ul
        %li List
        %li List
        %li List
        %li List
        %li List
      %ul
        %li List
        %li List
        %li List
        %li List
        %li List
      %p some content content content content asdf adsf g 2 123  asdlk
    .box-footer
  
  %h1 Some Content
  %h2 Some Content
  %h3 Some Content
  %h4 Some Content
  %h5 Some Content
  %h6 Some Content
  
  %p some content content content content asdf adsf g 2 123  asdlk
  %p some content content content content asdf adsf g 2 123  asdlk
  %p some content content content content asdf adsf g 2 123  asdlk
  
  %ul
    %li List
    %li List
    %li List
    %li List
    %li List
  %ul
    %li List
    %li List
    %li List
    %li List
    %li List
  
  %p some content content content content asdf adsf g 2 123  asdlk
