---
title: Millennium
filter: haml
---

.home
  .top
    %ul
      %li.first.current Business
      %li Architecture Firms
      %li Product Lines
      %li Financing
      %li Space Saver<sup>&reg;</sup>

    .gov
      %h3 Federal Government
      %p We are pleased to provide a partial listing of our suppliers who have products on the Standing Offer program.
      %a.button{href: '#'} View Standing Offers
    .image.business
    .image.architecture
    .image.product
    .image.financing
    .image.spacesaver

  .middle
    %ul.tabs
      %li.active.first Mobile Storage
      %li Architectural Walls
      %li.l Open Office Workstations
      %li Seating Solutions
      %li.last Furniture in a Hurry
    %br.clear
    %div.panes
      .pane.mobile{style: "height: 100%; width: 100%; background: red"}
      .pane.walls{style: "height: 100%; width: 100%; background: blue"}
      .pane.workstations{style: "height: 100%; width: 100%; background: green"}
      .pane.seating{style: "height: 100%; width: 100%; background: yellow"}
      .pane.furniture{style: "height:100%; width: 100%; background: black"}


