---
title: Home
css_id: home
filter:
  - haml
crums:
  - Home: /
---
%h2.intro.left Winnipeg's one stop shop for professional entertainment solutions
<link rel="stylesheet" href="/stylesheets/scenes.css">
<script src="/javascripts/scenes.js"></script>
#scenes.clearfix
  #scene-nav
    .scene-thumbs
      %img.scene-thumb{ 'data-scene' => '#sports-bar' , :src => "/images/square-sports-bar.png", :alt => "Sports Bar"}
      %img.scene-thumb{ 'data-scene' => '#restaurant' , :src => "/images/square-restaurant.png", :alt => "Restaurant"}
      %img.scene-thumb{ 'data-scene' => '#patio'      , :src => "/images/square-patio.png",      :alt => "Patio"     }
    .scene-thumbs
      %img.scene-thumb{ 'data-scene' => '#night-club' , :src => "/images/square-dance-club.png", :alt => "Dance Club"}
      %img.scene-thumb{ 'data-scene' => '#hallway'    , :src => "/images/square-hall.png",       :alt => "Hall"      }
      %img.scene-thumb{ 'data-scene' => '#hotel'      , :src => "/images/square-hotel.png",      :alt => "Hotel"     }
  #sports-bar.scene.hidden
    .entity.back-wall
    .entity.transparent.people-balcony
    .entity.back-wall-front
    .entity.transparent.ambient-lights.ambient-lights-blue
    .entity.transparent.ambient-lights.ambient-lights-green
    .entity.transparent.ambient-lights.ambient-lights-purple
    .entity.transparent.ambient-lights.ambient-lights-red
    .entity.transparent.bar
    .entity.transparent.bar-with-waitress
    .entity.transparent.bar-with-people
    .entity.transparent.lights
    .entity.transparent.people-background-with-theatre
    .entity.transparent.waitress-middle-of-scene
    .entity.transparent.people-forground
    .entity.transparent.center-tv-screen-yellow-glow
    .entity.transparent.right-tv-screen-yellow-glow
    .bounding.center-tv-screen{'data-layer' => '.center-tv-screen-yellow-glow'}
    .bounding.right-tv-screen{'data-layer'  => '.right-tv-screen-yellow-glow'}
  #night-club.scene.hidden
    .entity.background.bg
    .entity.background-1.bg
    .entity.transparent.bg-people-1.bg-people
    .entity.transparent.bg-people-2.bg-people
    .entity.background-2.bg
    .entity.background-3.bg
    .entity.transparent.balcony-people
    .entity.roof-and-balcony
    .entity.second-story
    .entity.tv-screen
    .entity.transparent.people
    .entity.transparent.people-at-table
    .entity.transparent.table
    .entity.transparent.person-at-table-arm
    .entity.transparent.rack-back.rack
    .entity.transparent.rack-front.rack
    .entity.transparent.monitors
    .entity.transparent.center-light-beam
    .entity.transparent.scene-shine


    .entity.transparent.left-light-beam-blue
    .entity.transparent.left-light-beam-green
    .entity.transparent.left-light-beam-purple
    .entity.transparent.left-light-beam-red

    .entity.transparent.middle-light-beam-blue
    .entity.transparent.middle-light-beam-green
    .entity.transparent.middle-light-beam-purple
    .entity.transparent.middle-light-beam-red

    .entity.transparent.right-light-beam-blue
    .entity.transparent.right-light-beam-green
    .entity.transparent.right-light-beam-purple
    .entity.transparent.right-light-beam-red

    .entity.transparent.dj-table
    .entity.transparent.mixers
    .entity.transparent.dj
    .entity.transparent.silhouette
  #restaurant.scene.hidden
    .entity.background
    .entity.transparent.tv
    .entity.transparent.people-5
    .entity.tables-5
    .entity.transparent.people-4
    .entity.transparent.tables-4
    .entity.transparent.people-3
    .entity.transparent.tables-3
    .entity.transparent.people-2
    .entity.transparent.tables-2
    .entity.transparent.people-1
    .entity.transparent.tables-1
    .entity.transparent.speakers
  #hallway.scene.hidden
    .entity.background3
    .entity.background2
    .entity.background1
    .entity.transparent.speakers
    .entity.transparent.dj-table
    .entity.transparent.ceiling-lights
    .entity.transparent.disco-ball
    .entity.transparent.disco-ball-shine-1
    .entity.transparent.disco-ball-shine-2
    .entity.transparent.disco-ball-shine-3
    .entity.transparent.beat-box-guy
    .entity.transparent.speakers
    .entity.transparent.cd-player
    .entity.transparent.cd-player-cords
    .entity.transparent.mixer-1
    .entity.transparent.mixer-2
    .entity.transparent.laptop
    .entity.transparent.laptop-cord
    .entity.transparent.side-dj
    .entity.transparent.people-dancing
    .entity.transparent.silhouette
      .entity.transparent.darkness{ 'data-max-opacity' => 0.4}
    .entity.transparent.light-1-glow-white
    .entity.transparent.light-1-glow-yellow
    .entity.transparent.light-1-glow
    .entity.transparent.light-1
    .entity.transparent.light-2-glow-white
    .entity.transparent.light-2-glow-yellow
    .entity.transparent.light-2-glow
    .entity.transparent.light-2
    .entity.transparent.light-beam-blue-1.light-beam-blue{ 'data-max-opacity' => 0.2}
    .entity.transparent.light-beam-blue-2.light-beam-blue{ 'data-max-opacity' => 0.2}
    .entity.transparent.light-beam-blue-3.light-beam-blue
    .entity.transparent.light-beam-blue-4.light-beam-blue
    .entity.transparent.light-beam-green-1.light-beam-green{ 'data-max-opacity' => 0.2}
    .entity.transparent.light-beam-green-2.light-beam-green{ 'data-max-opacity' => 0.2}
    .entity.transparent.light-beam-green-3.light-beam-green
    .entity.transparent.light-beam-green-4.light-beam-green
    .entity.transparent.light-beam-purple-1.light-beam-purple{ 'data-max-opacity' => 0.2}
    .entity.transparent.light-beam-purple-2.light-beam-purple{ 'data-max-opacity' => 0.2}
    .entity.transparent.light-beam-purple-3.light-beam-purple
    .entity.transparent.light-beam-purple-4.light-beam-purple
    .entity.transparent.light-beam-red-1.light-beam-red{ 'data-max-opacity' => 0.2}
    .entity.transparent.light-beam-red-2.light-beam-red{ 'data-max-opacity' => 0.2}
    .entity.transparent.light-beam-red-3.light-beam-red
    .entity.transparent.light-beam-red-4.light-beam-red
    .entity.transparent.light-beam-white-1.light-beam-white{ 'data-max-opacity' => 0.2}
    .entity.transparent.light-beam-white-2.light-beam-white{ 'data-max-opacity' => 0.2}
  #patio.scene.hidden
    .entity.background
    .entity.transparent.black.hidden
    .entity.transparent.people-1
    .entity.transparent.tables-1
    .entity.transparent.people-2
    .entity.transparent.tables-2
    .entity.transparent.people-3
    .entity.transparent.tables-3
    .entity.transparent.people-4
    .entity.transparent.tables-4
    .entity.transparent.people-5
    .entity.transparent.tables-5
    .entity.transparent.people-6
    .entity.transparent.people
    .entity.transparent.speaker-glow-white-1.hidden
    .entity.transparent.speaker-glow-white-2.hidden
    .entity.transparent.speaker-glow-white-3.hidden
    .entity.transparent.speaker-glow-white-4.hidden
    .entity.transparent.speaker-glow-white-5.hidden
    .entity.transparent.speaker-glow-yellow-1.hidden
    .entity.transparent.speaker-glow-yellow-2.hidden
    .entity.transparent.speaker-glow-yellow-3.hidden
    .entity.transparent.speaker-glow-yellow-4.hidden
    .entity.transparent.speaker-glow-yellow-5.hidden
    .entity.transparent.speakers-glow-White-all.hidden
    .entity.transparent.speakers-glow-Yellow-all.hidden

  #hotel.scene.hidden
    .entity.front_desk
    .entity.transparent.bellboy
    .entity.transparent.busboy
    .entity.transparent.concierge
    .entity.transparent.girl
    .entity.transparent.little_boy
    .entity.transparent.red_shirt_guy
    .entity.transparent.suitcase
    .entity.transparent.white_shirt_guy
    .entity.transparent.woman
#featured-products-showcase
  .column-30
    %h2 Featured Product
    %h4 Q-Maxx6000
    %p Image having all the power of a music on demand system at your finger tips, but the flexibility to provide up to six different music genres to different areas of your establishment.
  .column-20.first
    %img.image{:src => "http://dummyimage.com/180x155/2e2e2e/e2e2e2&text=Q-Maxx6000", :alt => "Q-Maxx6000"}
  .column-20
    %img.image{:src => "http://dummyimage.com/180x155/2e2e2e/e2e2e2&text=Q-Maxx6000", :alt => "Q-Maxx6000"}
  .column-20
    %img.image{:src => "http://dummyimage.com/180x155/2e2e2e/e2e2e2&text=Q-Maxx6000", :alt => "Q-Maxx6000"}
