---
title: Millennium
filter: haml
---

.home
  .top
    %ul
      %li.first.current Business
      %li Architecture Firms
      %li Product Lines
      %li Financing
      %li Space Saver<sup>&reg;</sup>

    .gov
      %h3 Federal Government
      %p We are pleased to provide a partial listing of our suppliers who have products on the Standing Offer program.
      %a.button{href: '#'} View Standing Offers
    .image.business
    .image.architecture
    .image.product
    .image.financing
    .image.spacesaver

  .middle
    %ul.tabs
      %li.active.first Mobile Storage
      %li Architectural Walls
      %li.l Open Office Workstations
      %li Seating Solutions
      %li.last Furniture in a Hurry
    %br.clear
    %div.panes
      .pane.mobile
        .column.first
          %h3 Mobile Storage
          %img{src: "images/blue.png"}

        .column.second
          %p Mauris pid turpis placerat augue proin tincidunt amet dictumst adipiscing ut enim tempor rhoncus nunc facilisis! Ut aenean! Tristique tempor, turpis quis, et auctor? Parturient! Porta mid turpis sit elementum natoque amet, pulvinar augue arcu montes auctor massa et proin non augue porttitor turpis, et! Nec etiam sed! Pellentesque integer.
        .column.last
          %img{src: "images/blue.png"}
          %a.submit{href: "products.html"}
            See Products
            %span.dark &#x25B6;

      .pane.walls
        .column.first
          %h3 Architectural Walls
          %img{src: "images/archwalls0.jpg"}

        .column.second
          %p Mauris pid turpis placerat augue proin tincidunt amet dictumst adipiscing ut enim tempor rhoncus nunc facilisis! Ut aenean! Tristique tempor, turpis quis, et auctor? Parturient! Porta mid turpis sit elementum natoque amet, pulvinar augue arcu montes auctor massa et proin non augue porttitor turpis, et! Nec etiam sed! Pellentesque integer.
        .column.last
          %img{src: "images/archwalls1.jpg"}
          %a.submit{href: "products.html"}
            See Products
            %span.dark &#x25B6;
      .pane.workstations
        .column.first
          %h3 Open Office Workstations
          %img{src: "images/open0.png"}

        .column.second
          %p Mauris pid turpis placerat augue proin tincidunt amet dictumst adipiscing ut enim tempor rhoncus nunc facilisis! Ut aenean! Tristique tempor, turpis quis, et auctor? Parturient! Porta mid turpis sit elementum natoque amet, pulvinar augue arcu montes auctor massa et proin non augue porttitor turpis, et! Nec etiam sed! Pellentesque integer.
        .column.last
          %img{src: "images/open1.png"}
          %a.submit{href: "products.html"}
            See Products
            %span.dark &#x25B6;
      .pane.seating
        .column.first
          %h3 Seating Solutions
          %img{src: "images/seating0.png"}

        .column.second
          %p Mauris pid turpis placerat augue proin tincidunt amet dictumst adipiscing ut enim tempor rhoncus nunc facilisis! Ut aenean! Tristique tempor, turpis quis, et auctor? Parturient! Porta mid turpis sit elementum natoque amet, pulvinar augue arcu montes auctor massa et proin non augue porttitor turpis, et! Nec etiam sed! Pellentesque integer.
        .column.last
          %img{src: "images/seating1.png", style: "width: 139px; margin-right: 86px"}
          %a.submit{href: "products.html"}
            See Products
            %span.dark &#x25B6;
      .pane.furniture
        .column.first
          %h3 Furniture in a Hurry
          %img{src: "images/furniture0.png"}

        .column.second
          %p Mauris pid turpis placerat augue proin tincidunt amet dictumst adipiscing ut enim tempor rhoncus nunc facilisis! Ut aenean! Tristique tempor, turpis quis, et auctor? Parturient! Porta mid turpis sit elementum natoque amet, pulvinar augue arcu montes auctor massa et proin non augue porttitor turpis, et! Nec etiam sed! Pellentesque integer.
        .column.last
          %img{src: "images/furniture1.png"}
          %a.submit{href: "products.html"}
            See Products
            %span.dark &#x25B6;
