---
title: Millennium
filter: haml
---

.home
  .top
    %ul
      %li.first.current Business
      %li Architecture Firms
      %li Product Lines
      %li Financing
      %li Space Saver<sup>&reg;</sup>

    .gov
      %h3 Federal Government
      %p We are pleased to provide a partial listing of our suppliers who have products on the Standing Offer program.
      %a.button{href: '#'} View Standing Offers
    .image.business
    .image.architecture
    .image.product
    .image.financing
    .image.spacesaver

  .middle
    %ul.tabs
      %li.active.first Mobile Storage
      %li Architectural Walls
      %li.l Open Office Workstations
      %li Seating Solutions
      %li.last Furniture in a Hurry
    %br.clear
    %div.panes
      .pane.mobile
        .column.first
          %h2 Mobile Storage
          %h3 A short subtitle
          %p Sed sagittis mid tincidunt mus dictumst, ultrices eros augue augue. Parturient, tempor! Enim ultrices velit velit, nec! Augue! Auctor elementum ut nec phasellus cras lundium phasellus a pulvinar aenean eu montes, adipiscing magnis dis nec sed, duis montes, turpis porttitor, dictumst tincidunt mauris vel scelerisque porta!
        .column.second
          %img{src: "images/blue.png"}
        .column.last
          %ul
            %li A point
            %li Another point
            %li A third point
          %a.submit{href: "products.html"}
            View All Products
            %span.dark &#x25B6;
      .pane.walls
        .column.first
          %h2 Architectural Walls
          %h3 A short subtitle
          %p Sed sagittis mid tincidunt mus dictumst, ultrices eros augue augue. Parturient, tempor! Enim ultrices velit velit, nec! Augue! Auctor elementum ut nec phasellus cras lundium phasellus a pulvinar aenean eu montes, adipiscing magnis dis nec sed, duis montes, turpis porttitor, dictumst tincidunt mauris vel scelerisque porta!
        .column.second
          %img{src: "images/archwalls0.jpg"}
        .column.last
          %ul
            %li A point
            %li Another point
            %li A third point
          %a.submit{href: "products.html"}
            View All Products
            %span.dark &#x25B6;
      .pane.workstations
        .column.first
          %h2 Open Office Workstations
          %h3 A short subtitle
          %p Sed sagittis mid tincidunt mus dictumst, ultrices eros augue augue. Parturient, tempor! Enim ultrices velit velit, nec! Augue! Auctor elementum ut nec phasellus cras lundium phasellus a pulvinar aenean eu montes, adipiscing magnis dis nec sed, duis montes, turpis porttitor, dictumst tincidunt mauris vel scelerisque porta!
        .column.second
          %img{src: "images/open0.png"}
        .column.last
          %ul
            %li A point
            %li Another point
            %li A third point
          %a.submit{href: "products.html"}
            View All Products
            %span.dark &#x25B6;
      .pane.seating
        .column.first
          %h2 Seating Solutions
          %h3 A short subtitle
          %p Sed sagittis mid tincidunt mus dictumst, ultrices eros augue augue. Parturient, tempor! Enim ultrices velit velit, nec! Augue! Auctor elementum ut nec phasellus cras lundium phasellus a pulvinar aenean eu montes, adipiscing magnis dis nec sed, duis montes, turpis porttitor, dictumst tincidunt mauris vel scelerisque porta!
        .column.second
          %img{src: "images/seating0.png"}
        .column.last
          %ul
            %li A point
            %li Another point
            %li A third point
          %a.submit{href: "products.html"}
            View All Products
            %span.dark &#x25B6;
      .pane.furniture
        .column.first
          %h2 Furniture in a Hurry
          %h3 A short subtitle
          %p Sed sagittis mid tincidunt mus dictumst, ultrices eros augue augue. Parturient, tempor! Enim ultrices velit velit, nec! Augue! Auctor elementum ut nec phasellus cras lundium phasellus a pulvinar aenean eu montes, adipiscing magnis dis nec sed, duis montes, turpis porttitor, dictumst tincidunt mauris vel scelerisque porta!
        .column.second
          %img{src: "images/furniture0.png"}
        .column.last
          %ul
            %li A point
            %li Another point
            %li A third point
          %a.submit{href: "products.html"}
            View All Products
            %span.dark &#x25B6;
