---
title: Home
css_id: home
filter:
  - haml
crums:
  - Home: /
---

#showcase
  .column.column-thumbs
    %img.thumb{:src => "/images/square-sports-bar.png", :alt => "Sports Bar"}
    %img.thumb{:src => "/images/square-restaurant.png", :alt => "Restaurant"}
    %img.thumb{:src => "/images/square-patio.png", :alt => "Patio"}
  .column.column-thumbs
    %img.thumb{:src => "/images/square-dance-club.png", :alt => "Dance Club"}
    %img.thumb{:src => "/images/square-hall.png", :alt => "Hall"}
    %img.thumb{:src => "/images/square-hotel.png", :alt => "Hotel"}
  .column.column-large
    %img.large{:src => "/images/large-sports-bar.png", :alt => "Sports Bar"}
#featured-products-showcase
  .column-30
    %h2 Featured Products
    %h5 Title of Selected Product
    %p adsf asdf  f f as d asdfasdf  asdfasdf  asdf  asdf  asdf faslkjzx se,fa,x
    %p adsf asdf  f f as d asdfasdf  asdfasdf  asdf  asdf  asdf faslkjzx se,fa,x
  .column-20.first
    %img.image{:src => "http://dummyimage.com/180x155/2e2e2e/2e2e2e", :alt => "Dance Club"}\n
  .column-20
    %img.image{:src => "http://dummyimage.com/180x155/2e2e2e/2e2e2e", :alt => "Dance Club"}
  .column-20
    %img.image{:src => "http://dummyimage.com/180x155/2e2e2e/2e2e2e", :alt => "Dance Club"}
