---
title: Products
css_id: products
filter:
  - haml
crums:
  - Home: /
  - Products: products.html
---

.column-30.overflowed
  %h2.title Products
  #nav-container-wrapper
    #nav-container.side-block
      %ul#product-nav
        %li
          %a.scroll{ href: '#music-supply'} &raquo; Music Supply
        %li
          %a.scroll{ href: '#audio'} &raquo; Audio
        %li
          %a.scroll{ href: '#lighting'} &raquo; Lighting
        %li
          %a.scroll{ href: '#video'} &raquo; Video
        %li
          %a.scroll{ href: '#soundog'} &raquo; Soundog
      %hr
      %div.side-block
        %h3 The best solution for your business and budget
        %h4.subtitle Call us today to discuss a solution that best fits you.
.column-70#top
  .box#music-supply
    .box-header
    .box-content
      %h1 Music Supply
      %h4 Single Zone (Q-Maxx1000)
      %img.product-image{:src => "http://dummyimage.com/142x80/2e2e2e/e2e2e2&text=Q-Maxx1000", :alt => "Q-Maxx1000"}
      %p For single zone venues such as restaurants, lounges, retail shops, offices, etc. The sleek looking Q-Maxx1000 provides the simplicity of a touch screen to choose individual songs, pre-made custom lists or to customize your own personal lists. The system comes with an enhanced audio equalizer, scheduler, and security levels to restrict staff from choosing music that may not be appropriate to your venue's demographics. If music control is a necessity then the Q-Maxx1000 is the solution.
      %h4 Multi Zone (Q-Maxx6000)
      %img.product-image{:src => "http://dummyimage.com/142x80/2e2e2e/e2e2e2&text=Q-Maxx6000", :alt => "Q-Maxx6000"}
      %p While providing the same security and features as the Q-Maxx1000 system, the Q-Maxx6000 has the flexibility to provide up to six different music genres to different areas of your establishment. The Q-Maxx6000 allows you to play soft classical music in your lobby, background dinner music in your restaurant, upbeat jazz in your lounge and patio, soothing tranquil sounds to the spa and all the latest in Top 40 in your bar. The Q-Maxx6000 is one powerful six zone music system.
      %h4 DJ Pro (Q-Maxx5000)
      %img.product-image{:src => "http://dummyimage.com/142x80/2e2e2e/e2e2e2&text=Q-Maxx5000", :alt => "Q-Maxx5000"}
      %p Designed by professional DJ engineers for the professional DJ, the Q-Maxx5000 is designed for permanent venue installations. The system has the flexibility to perform seamless beat matching and sampling. Over 35,000 songs are stored in the system for quick access by Artist, Song Title, Genre, Year or BPM. Just drag and drop your favourite songs into the players and press play on one of the award-winning remote controls. Proven and tested, the Q-Maxx5000 is your complete DJ system.
      %h4 DJ Mobile (Q-Maxx3000)
      %img.product-image{:src => "http://dummyimage.com/142x80/2e2e2e/e2e2e2&text=Q-Maxx3000", :alt => "Q-Maxx3000"}
      %p If you are a professional disc jockey, the Q-Maxx3000 is the system for you. The Q-Maxx3000 has virtually the same features that the Q-Maxx5000 has, but it is designed for the mobile DJ. Imagine never having to worry about purchasing music, knowing what new songs are being released, what's hot, what's not or having an AVLA license. On-Q's music director does all of the research and compiles new lists and requests weekly. Just plug in your Q-Maxx3000 mobile laptop system to any internet connection and your system will be automatically updated. The Q-Maxx3000 comes with several options for remote controls and mixers.
      %h4 Music Video (Q-Video)
      %img.product-image{:src => "http://dummyimage.com/142x80/2e2e2e/e2e2e2&text=Q-Video", :alt => "Q-Video"}
      %p Need to increase your entertainment value to your customers? Why not add a music video plug-in to any one of your Q-Maxx systems? With over 3,500 choice music videos your music video system turns any normal entertainment venue into a virtual concert. Experience the audio and now experience the visual impact that music videos can have on your establishment.
    .box-footer
  .box#audio
    .box-header
    .box-content
      %h1 Audio
      %h4 Pro Audio:
      %ul.disc-list
        %li Amplifiers
        %li Mixers
        %li
          Speakers:
          %ul.circle-list
            %li Active (Powered)
            %li Passive
      %ul.disc-list
        %li CD Players
        %li Microphones
        %li Wireless Microphones
      %h4 70-Volt Commercial Audio
      %ul.disc-list
        %li Amplifiers
        %li Mixer/Amplifiers
        %li
          Speakers:
          %ul.circle-list
            %li Recessed Ceiling
            %li Exterior Ceiling
        %li Volume Controls
        %li Microphones
      %h4 Switching/Routing
      %ul.disc-list
        %li Audio Matrix
    .box-footer
  .box#lighting
    .box-header
    .box-content
      %h1 Lighting
      %h4 LED Lighting
      %ul.disc-list
        %li
          %p LED Bars
        %li
          %p LED Pars
        %li
          %p LED Flex/Strip
        %li
          %p LED Moving Heads
        %li
          %p LED DJ Effects
      %h4 Pro Lighting
      %ul.disc-list
        %li
          %p Pars
        %li
          %p Moving Head
        %li
          %p DJEffects
      %h4 Lasers
      %ul.disc-list
        %li
          %p Effect Lasers
        %li
          %p Colored Lasers
      %h4 Effects
      %ul.disc-list
        %li
          %p Fog Machines
        %li
          %p Hazers
      %h4 Bulbs
      %ul.disc-list
        %li
          %p Projector
        %li
          %p DJ Effects
    .box-footer
  .box#video
    .box-header
    .box-content
      %h1 Video
      %h4 Plasma/LCD
      %ul.disc-list
        %li LG
        %li Samsung
      %h4 Projectors
      %ul.disc-list
        %li Hitachi
        %li Sharp
        %li Speakersanyo
        %li Epson
      %h4 Screens
      %ul.disc-list
        %li Draper
        %li Elite
        %li Luma
      %h4 Mounts
      %ul.disc-list
        %li Plasma           (Wall)
        %li Plasma (Ceiling)
        %li Projector (Ceiling)
      %h4 Switching/Routing
      %ul.disc-list
        %li Video Matrix
    .box-footer
  .box#soundog
    .box-header
    .box-content
      %img.product-image{:src => "http://dummyimage.com/142x80/2e2e2e/e2e2e2&text=Soundog", :alt => "Soundog"}
      %h1 Soundog
      %p Wireless Audio System (Multi-Channel)
      %a{ href: 'http://Soundog.ca'} Soundog.ca
    .box-footer
