---
title: Products
css_id: products
filter:
  - haml
crums:
  - home: /
  - products: products.html
---


.column-30
  %div.side-block
    %h2.title Products
    %ul#product-nav
      %li 
        %a.scroll{ href: '#music-supply'} Music Supply
      %li 
        %a.scroll{ href: '#audio'} Audio
      %li 
        %a.scroll{ href: '#lighting'} Lighting
      %li 
        %a.scroll{ href: '#video'} Video
      %li 
        %a.scroll{ href: '#soundog'} Soundog                        
  %hr
  %div.side-block
    %h3 The best solution for your business and budget
    %h4.subtitle Call us today to discuss a solution that best fits you.
.column-70
  .box#music-supply
    .box-header
    .box-content
      %h1 Music Supply
      %h4 Single Zone (Q-Maxx1000)
      %img.product-image{:src => "http://dummyimage.com/142x80/2e2e2e/e2e2e2&text=Q-Maxx1000", :alt => "Q-Maxx1000"}
      %p For single zone venues such as restaurants, lounges, retail shops, offices, etc.. The sleek looking Q-Maxx1000 provides the simplicity of a touch screen to choose individual songs, pre-made custom lists, or customizing your own personal lists. The system comes with an enhanced audio equalizer, scheduler, and security levels to restrict staff from choosing music that may not be appropriate to your venue's demographics. If music control is a necessity then the Q-Maxx1000 is the solution.
      %h4 Multi Zone (Q-Maxx6000)
      %img.product-image{:src => "http://dummyimage.com/142x80/2e2e2e/e2e2e2&text=Q-Maxx6000", :alt => "Q-Maxx6000"}
      %p Image having all the power of a music on demand system at your finger tips, but the flexibility to provide up to six different music genres to different areas of your establishment. The Q-Maxx6000 allows you to play soft classical music in your lobby, to background dinner music in your restaurant, to upbeat jazz in your lounge and patio, to the tranquil sounds of the spa, to all the latest in top 40 dance tracks in your bar. The Q-Maxx6000 is the answer. Six music zones, one powerful system!
      %h4 DJ Pro (Q-Maxx5000)
      %img.product-image{:src => "http://dummyimage.com/142x80/2e2e2e/e2e2e2&text=Q-Maxx5000", :alt => "Q-Maxx5000"}
      %p Designed by professional DJ engineers for the professional DJ, the Q-Maxx5000 is designed for permanent venue installations. The system allows for flexibility to perform seamless cross fades between your song titles. Over 30,000 songs are stored on the system's hard drive for quick access by song title, genre, year or bpm. Just drag and drop your favourite songs in the players and press play on one of the award-winning remote controls. Proven and tested, the Q-Maxx5000 is your complete Disc Jockey System.
      %h4 DJ Mobile (Q-Maxx3000)
      %img.product-image{:src => "http://dummyimage.com/142x80/2e2e2e/e2e2e2&text=Q-Maxx3000", :alt => "Q-Maxx3000"}
      %p If you are a professional disc jockey, the Q-Maxx3000 is the system for you. The Q-Maxx3000 has virtually the same features that the Q-Maxx5000 has but it is designed for the mobile DJ. Imagine never having to worry about purchasing music, having an AVLA license, knowing what new songs are being released, what's hot, what's not. On-Q's music director does all of the research and compiles new lists and requests weekly. Just plug in your Q-Maxx3000 mobile laptop system to any internet source and your system will be automatically updated! The Q-Maxx3000 comes with several options for remote controls and mixers.
      %h4 Music Video (Q-Video)
      %img.product-image{:src => "http://dummyimage.com/142x80/2e2e2e/e2e2e2&text=Q-Video", :alt => "Q-Video"}
      %p Need to increase your entertainment value to your customers? Why not add a music video plug-in to any one of your Q-Maxx systems? With over 3,000 choice music videos, your music video system turns and normal entertainment venue into a virtual concert. Experience the audio and now experience the visual impact that music videos can have on your establishment.
    .box-footer
  .box#audio
    .box-header
    .box-content
      %h1 Audio
      %h4 Pro Audio:
      %ul
        %li 
          %p Amplifiers - Inter-M
        %li 
          %p Mixers
        %li 
          %p Speakers: powered or non-powered
        %li 
          %p CD Players
        %li 
          %p Microphones
        %li 
          %p Wireless Microphones
      %h4 70-Volt Commercial Audio
      %ul
        %li 
          %p Amplififers
        %li 
          %p Mixers/Amplifiers
        %li 
          %p Speakers:
          %ul
            %li 
              %p Recessed Ceiling
            %li 
              %p Exterior Ceiling
        %li 
          %p Audio Matrix
        %li 
          %p Volume Control
        %li 
          %p Microphones
    .box-footer
  .box#lighting
    .box-header
    .box-content
      %h1 Lighting
      %h4 LED Lighting
      %ul
        %li
          %p LED Bars
        %li
          %p LED Pars
        %li
          %p LED Flex/Strip
        %li
          %p LED Moving Heads
        %li
          %p LED DJ Effects
      %h4 Pro Lighting
      %ul
        %li
          %p Pars
        %li
          %p Moving Head
        %li
          %p DJEffects
      %h4 Lasers
      %ul
        %li
          %p Effect Lasers
        %li
          %p Colored Lasers
      %h4 Effects
      %ul
        %li
          %p Fog Machines
        %li
          %p Hazers
      %h4 Bulbs
      %ul
        %li
          %p Projector
        %li
          %p DJ Effects
    .box-footer
  .box#video
    .box-header
    .box-content
      %h1 Video
      %h4 Plasma
      %ul
        %li
          %p LG
        %li
          %p Samsung
      %h4 Projectors
      %ul
        %li
          %p Hitachi
        %li
          %p Sharp
        %li
          %p Sanyo
        %li
          %p Epson
      %h4 Screens
      %ul
        %li
          %p Draper
        %li
          %p Elite
        %li
          %p Luma
      %h4 Mounts
      %ul
        %li
          %p Plasma Wall Mounts
        %li
          %p Plasma Ceiling Mounts
        %li
          %p Projector Ceiling Mounts
      %h4 Video/Matrix
      %ul
        %li
          %p Matrix
    .box-footer
  .box#soundog
    .box-header
    .box-content
      %img.product-image{:src => "http://dummyimage.com/142x80/2e2e2e/e2e2e2&text=Soundog", :alt => "Soundog"}
      %h1 Soundog
      %p Wireless Audio System - 
      %a{ href: 'http://Soundog.ca'} Soundog.ca
    .box-footer