---
title: Products
css_id: products
filter:
  - haml
crums:
  - home: /
  - products: products.html
---


.column-30
  %div.side-block
    %h2.title Products
    %h4.subtitle Subtitle if needed
    %p.side-content some content content content content asdf adsf g 2 123 asdlk content content content content asdf adsf g 2 123 asdlk content content content content asdf adsf g 2 123 asdlk
  %hr
  %div.side-block
    %h3 The best solution for your business and budget
    %h4.subtitle Call us today to discuss a solution that best fits you.
    %p.side-content some content content content content asdf adsf g 2 123 asdlk content content content content asdf adsf g 2 123 asdlk content content content content asdf adsf g 2 123 asdlk
.column-70
  .box
    .box-header
    .box-content
      %h1 Product Showcase
      %p some content content content content asdf adsf g 2 123 asdlk
      %p some content content content content asdf adsf g 2 123 asdlk
      %p some content content content content asdf adsf g 2 123 asdlk
      %ul
        %li List
        %li List
        %li List
        %li List
        %li List
    .box-footer