---
title: Product Lines
filter:
  - haml
---
#products
  %h1 Product Lines
  .leftpart
    %h5 Our aim is to supply products which will increase the value of your organization
    %p The chart below shows some of theproduct lines we have. This is only a partial listing; many others are also carried.

  .seemore
    %h2 To see more...
   
    %p Visit the manufacturer's website to see a complete list of products, photo galleries, and more.

    %select.manufacturer
      %option Select a Manufacturer
      
    %a.submit{href: '#'} GO <span class='dark'>▸</span>

  %br.clear

  %img.chart{src: '/images/chart.png'}