---
title: Services
css_id: services
filter:
  - haml
crums:
  - Home: /
  - Services: /services.html
---

.column-30
  %div.side-block
    %h2.title What Do We Do?
    %h4.subtitle Did You Know?
    %p.side-content On-Q Pro Media is your one stop shop for all of your professional entertainment solutions. With over 30 years of experience in the hospitality industry, On-Q can deliver your vision and concept to your venue.
    %hr
    %p.side-content From licensed digital on-demand music systems, professional state-of-the-art sound and lighting equipment, to 70-volt background music systems On-Q Pro Media has you covered. On-Q will supply, install and train your staff on how your system works and how the system can generate increased sales. After we leave, rest assured that you can count on our service and support team to answer any questions you might have.
    %hr
    %p.side-content By providing a quality product, superior service and a strong commitment to support our customers, On-Q's success and growth have come as a direct result of the diversity and talent of its people. Supported by a full-time office staff, music director and technical support team On-Q has been able to diversify its presence into the commercial, retail and hospitality industry.

.column-70
  .box
    .box-header
    .box-content
      %h1 Custom Design and Installations
      %p If you're having a hard time deciding what to do in your venue, let the professional team at On-Q provide ideas and design suggestions to improve your concept.
      %img{:src => "http://dummyimage.com/575x323/2e2e2e/fff&text=Pictures+of+an+architecural+drawing,+audio+racks+and+some+installations", :alt => "Pictures of an architecural drawing, audio racks and some installations"}
    .box-footer
  .box
    .box-header
    .box-content
      %h1 Service and Repairs
      %p When your business depends on your entertainment equipment it is imperative to make sure that you are always up and running. On-Q's service team is only a phone call away. Once a service call has been made, our technician will be dispatched to your venue to isolate and correct the problem. If equipment is required to be brought in for servicing, our technician will replace the equipment that has malfunctioned with backup equipment and bring it to our bench technician for service. Once the equipment is repaired it will be brought back to your venue for reinstallation.
      %img{:src => "http://dummyimage.com/575x323/2e2e2e/fff&text=Service+tech+working+at+an+audio+rack+bench+tech+working+on+amp+at+bench", :alt => "Service tech working at an audio rack, bench tech working on amp at bench"}
    .box-footer
  .box
    .box-header
    .box-content
      %h1 Audio and Lighting System Repairs
      %p On-Q Pro Media can supply and install a professional audio or lighting system in your venue on a rental agreement. Many customers do not want to be bothered with owning or maintaining their own equipment. On-Q can structure flexible agreements to accommodate a variety of scenarios. Contact one of our sales representatives for further information.
      %img{:src => "http://dummyimage.com/575x323/2e2e2e/fff&text=Audio+and+lighing+installations", :alt => "Audio and lighing installations"}
    .box-footer
