---
title: Services
css_id: services
filter:
  - haml
crums:
  - home: /
  - services: /services.html
---

.column-30
  %div.side-block
    %h2.title Services
    %h4.subtitle Subtitle if needed
    %p.side-content some content content content content asdf adsf g 2 123 asdlk content content content content asdf adsf g 2 123 asdlk content content content content asdf adsf g 2 123 asdlk
  %hr
  %div.side-block
    %h3 Some Content
    %h4.subtitle Some Content
    %p.side-content some content content content content asdf adsf g 2 123 asdlk content content content content asdf adsf g 2 123 asdlk content content content content asdf adsf g 2 123 asdlk
.column-70
  .box
    .box-header
    .box-content
      %h1 Service 1
      %p some content content content content asdf adsf g 2 123 asdlk
      %p some content content content content asdf adsf g 2 123 asdlk
      %p some content content content content asdf adsf g 2 123 asdlk
      %ul
        %li List
        %li List
        %li List
        %li List
        %li List
    .box-footer
  .box
    .box-header
    .box-content
      %h1 Service 2
      %p some content content content content asdf adsf g 2 123 asdlk
      %p some content content content content asdf adsf g 2 123 asdlk
      %p some content content content content asdf adsf g 2 123 asdlk
      %ul
        %li List
        %li List
        %li List
        %li List
        %li List
    .box-footer