---
title: Solutions
filter:
  - haml
---
.solutions
  %h1 Solutions
   
  .content
    .green
      .leader
        %h1 Your partner in greening projects
        %p There are a number of product categories that can help green the office, and for new buildings contribute points to LEED certification. The good news is that these product concepts also often have significant economic and health benefits.

      %br.clear
   
      .column.first
        %img{src: 'images/spacesaver_small.jpg'}
        %h3 Compact Storage by Spacesaver
        %p Compact storage is most commonly associated with filing, however anything that cane be stored can generally be mobilized. As a Spacesaver system typically takes one half to one third of the space required by regular storage, using the spacesaver concept cnan decrease a new building footprint. As well, less energy is used to service the storage area once it is in operation. Compact or high-density storage may assist projects in obtaining a LEED rating in five of six LEED-CI categories.
        .right 
          .bar
          %a.button{href: '#'} See Shelving Whitepaper (PDF)
      .column.second
        %img{src: 'images/blue.png'}
        %h3 Office Furnishings
        %p We can work with you and provide information on manufacturers relating to:
        %p Greenguard Certified<br>(Indoor Air Quality)
        %p Containing recycled material<br>(Steel/fabric, etc.)
        %p Proximity of production facilities to market
        %p Refurbished/refinished product
        %p Quality of products which reduce replacement intervals
      .column.third
        %img{src: 'images/walltowall.jpg'}
        %h3 Floor to Ceiling Wall Systems by Inscape Architectural Interiors (AIA)
        %p Inscapes' systems contribute to greening a facility by providing reuse of partitions versus disposing of single use drywall based products. The economic advangages are that the "cost of change" is lowered. AIA unitized movable wall product may be used to gain LEED credits.
      .column.fourth
        %img{src: 'images/blue.png'}
        %h3 Individual Adjustable Task Lighting
        %p Individual task lighting provides benefits in three areas: employee health; lowering building costs; and using significatnly less energy than standard fluorescent lighting.
        .right
          .bar
          %a.button{href: '#'} See Bright Ideas (PDF)
      %br.clear
    .ergonomics
      %h1 Ergonomic Solutions
      .column.first
        %p.bigger Do you want to save money, reduce absenteeism, and improve your employees' health?
        %p You have invested a significant amount of resources in attracting and retaining top talent. It follows that this investment should be protected. Selecting proper furnishings and accessories is one of the least expensive methods to do this.
        %p Millennium offers seating and ergonomic accessories, which are designed to increase productivity and decrease workplace injury, absenteeism, and the significant related costs.
      .column.second
        %p Many ergonomic products are illustrated at the International Source for Ergonomics as well as our showroom facility.

        %p <strong>Learn more about Ergonomic Solutions:</strong>

        %ul.solutions
          %li.rt <img src='images/blue.png'>
          %li <img src='images/blue.png'>
          %li.rt <img src='images/blue.png'>
          %li <img src='images/blue.png'>

      .column.last
        %img{src: 'images/blue.png'}
      
    
  %br.clear
