---
title: Spacesaver&reg;
filter:
  - haml
---
.spacesaver
  %h1 SAVE MORE with SPACESAVER<sup>&reg;</sup>
   
  .content
    .third.first
      
    .third.second
      %p Millennium Office Furnishings is the exclusive Manitoba distributor for Spacesave, the industry leader in movile storage solutions. Storage capacity within a given space is increased or storage space may be opened up for other uses. Either way, the return on space leased or owned increases.

      %p <strong>Throughout Canada and the United States, Spacesaver has for 30 years helped organizations increase space efficiency through space saving storage solutions.</strong>

    .third.last
      %ul.checklist
        %li <span class='name'>Space Savings</span> - where space is at a premium.
        %li <span class='name'>Time Savings</span> - in retrieval and storage of files.
        %li <span class='name'>Morale Increases</span> - reduction of frustration in finding and retrieving files.
        %li <span class='name'>Security Enhancements</span> - provacy protection for staff and personal records.
        %li.last <span class='name'>Efficiency and Effectiveness</span> - maintaining a professional demeanor at all times.
    
  %br.clear
