---
extension: html
filter: haml
---
!!!5
%html
  %head
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    %title= @page.title || SITE.title

    <link rel="stylesheet" href="stylesheets/application.css">

    %meta{ name: 'description', content: @page.description}
    %meta{ name: 'keywords',    content: @page.keywords}
    %meta{ name: 'author',      content: ''}
    %meta{ name: 'viewport',    content: 'width=device-width, initial-scale=1.0'}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.js"></script>
    <script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js">\x3C/script>')</script>
    <script src="//javascripts/applications.js"></script>
  %body{ id: @page.css_id }
    #header
      .container.clearfix
        .column-40
          %h1#logo.ir
            %a ONQ-Pro Media
        .column-60
          %ul#navigation.clearfix
            %li
              %a
                Home
            %li
              %a
                Searches
            %li
              %a
                Products
            %li
              %a Contact
    #content
      #breadcrumbs
        .container
          %ul
            %li
              %a Example
            %li
              %a.current Example
      #main-content.container.clearfix=@content
    #footer
      .container.clearfix
        .column-30
          %h4 Services
          .column-50
            %ul.services-listing
              %li List Item Here Long
              %li List Item Here Long
              %li List Item Here Long
          .column-50
            %ul
              %li List Item Here Long
              %li List Item Here Long
              %li List Item Here Long
              %li List Item Here Long
        .column-30
          %h1 ONQ-Pro Media
        .column-30
          %h4 Questions/Comments
