article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231;
}

body, button, input, select, textarea {
  font-family: sans-serif;
  color: #222222;
}

::-moz-selection {
  text-shadow: none;
  background: purple;
}

::selection {
  text-shadow: none;
  background: purple;
}

a {
  color: #0000ee;
}

a:visited {
  color: #551a8b;
}

a:hover {
  color: #0066ee;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

label, a {
  cursor: pointer;
}

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input {
  line-height: normal;
  *overflow: visible;
}

table button, table input {
  *overflow: auto;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  vertical-align: top;
}

/****************** Constants ************************ */
/****************** Global Style ************** */
* {
  padding: 0;
  margin: 0;
}

html {
  background: black;
  color: white;
  height: 100%;
}

body {
  color: #797474;
}

::-moz-selection {
  text-shadow: none;
  background: red;
  color: white;
}

::selection {
  text-shadow: none;
  background: red;
  color: white;
}

/****************** Global Typography **************** */
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Sans-serif;
  color: white;
  margin-bottom: 0.5em;
}

h4, h5 {
  color: red;
}

h2.title {
  text-transform: uppercase;
}

h4.subtitle {
  font-style: italic;
  font-weight: normal;
  margin: 20px 0;
  color: red;
}

h4.services-listing-header {
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: normal;
}

p {
  margin-bottom: 1em;
}

p.side-content {
  font-style: italic;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 1em;
}

ol {
  margin-bottom: 1em;
}

/****************** Global Layout ************** */
html {
  border-top: 10px solid black;
}

body {
  border-top: 1px solid #343434;
  background: url(/images/background-tile.png) repeat;
}

ul.nav {
  margin-bottom: 0em;
}
ul.nav li {
  float: left;
}

#header {
  background: url(/images/header-background.png) top center no-repeat;
  height: 211px;
}

#header ul#navigation {
  width: 500px;
  margin-top: 13px;
  float: right;
}
#header ul#navigation li {
  width: 24%;
}
#header ul#navigation li a {
  color: #cacacb;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}
#header ul#navigation li a:hover {
  color: red;
}

#footer {
  height: 559px;
  padding-top: 220px;
  background: red;
  background: url(/images/footer-background.png) top center no-repeat;
}

.container {
  padding: 0 20px;
  width: 940px;
  margin: 0 auto;
}

.column-20 {
  float: left;
  height: 100%;
  display: block;
  width: 20%;
}

.column, .column-30 {
  float: left;
  height: 100%;
  display: block;
  width: 30%;
}

.column-33 {
  float: left;
  height: 100%;
  display: block;
  width: 33.3%;
}

.column-40 {
  float: left;
  height: 100%;
  display: block;
  width: 40%;
}

.column-50 {
  float: left;
  height: 100%;
  display: block;
  width: 50%;
}

.column-60 {
  float: left;
  height: 100%;
  display: block;
  width: 60%;
}

.column-70 {
  float: left;
  height: 100%;
  display: block;
  width: 70%;
}

.column-80 {
  float: left;
  height: 100%;
  display: block;
  width: 80%;
}

.side-block {
  width: 240px;
  margin: 10px 0 0 0;
}

.column-30 hr {
  background: url(/images/hr.png) 0 0 no-repeat;
  height: 3px;
  width: 235px;
  border: none;
  margin: 35px 0;
}

#main-content {
  padding-top: 3em;
}

#logo {
  margin-top: 30px;
  height: 168px;
  width: 289px;
  background: url(/images/logo.png) no-repeat;
}

.services-listing li {
  line-height: 30px;
  color: white;
}

#contact-info {
  margin: 150px 0 0 0;
  text-align: center;
  color: #cecdcd;
}
#contact-info .phone {
  color: red;
  font-weight: bold;
}
#contact-info li {
  line-height: 20px;
}
#contact-info .social {
  background: url(/images/socialbox-background.png) 0 0 no-repeat;
  width: 198px;
  height: 46px;
  padding: 30px 0 0 0;
  text-transform: uppercase;
  text-align: center;
  margin: -2px auto 0 auto;
}
#contact-info .social a {
  padding: 0 0 0 25px;
  color: white;
}
#contact-info .social a:hover {
  color: red;
}
#contact-info .social .twitter {
  background: url(/images/twitter-logo.png) 0 0 no-repeat;
}
#contact-info .social .facebook {
  background: url(/images/facebook-logo.png) 0 0 no-repeat;
}

#contact-form {
  background: url(/images/contact-box-background.png) 0 0 no-repeat;
  width: 231px;
  height: 416px;
  padding: 20px;
  float: right;
}
#contact-form h4 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.4em;
  margin-bottom: 20px;
}
#contact-form label {
  display: block;
  margin: 20px 0 3px 0;
  font-size: 1em;
  cursor: auto;
}
#contact-form input {
  width: 211px;
  background: transparent;
  height: 17px;
  color: white;
  border: 1px solid #333131;
  padding: 10px;
}
#contact-form .button {
  width: 112px;
  height: 36px;
  float: right;
  margin: 20px 0 0 0;
  background: -webkit-gradient(linear, left top, left bottom, from(red), to(#5f0000));
  background: -moz-linear-gradient(top, red, #5f0000);
  background: linear-gradient(top, red, #5f0000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='red', endColorstr='#5f0000');
  border-top: 1px solid #ff2a30;
  border-right: 1px solid #360305;
  border-bottom: 1px solid #360305;
  border-left: 1px solid #ff2a30;
  text-shadow: #333333 -1px -1px 1px;
  text-transform: uppercase;
  font-weight: bold;
}
#contact-form .button:hover {
  box-shadow: inset 0px 0px 14px #333333;
  -moz-box-shadow: inset 0px 0px 14px #333333;
  -webkit-box-shadow: inset 0px 0px 14px #333333;
}
#contact-form .button:active {
  padding-top: 11px;
  box-shadow: inset 0px 0px 14px #111111;
  -moz-box-shadow: inset 0px 0px 14px #111111;
  -webkit-box-shadow: inset 0px 0px 14px #111111;
}
#contact-form textarea {
  width: 211px;
  background: transparent;
  height: 113px;
  color: white;
  border: 1px solid #333131;
  padding: 10px;
}

/****************** Global Widgets ************* */
.image {
  width: 180px;
  height: 150px;
  background: white;
}

.box {
  background: black;
  min-height: 70px;
  width: 659px;
  margin-bottom: 2em;
}
.box .box-header {
  background: url(/images/box/box-header.png) no-repeat;
  height: 30px;
}
.box .box-content {
  background: url(/images/box/box-content.png) repeat-y;
  min-height: 10px;
  padding: 1em 2em;
}
.box .box-footer {
  background: url(/images/box/box-footer.png) no-repeat;
  height: 30px;
}

.full-box {
  background: black;
  min-height: 70px;
  width: 100%;
  margin-bottom: 2em;
}
.full-box .full-box-header {
  background: url(/images/box/box-header.png) no-repeat;
  height: 30px;
}
.full-box .full-box-content {
  background: url(/images/box/box-content.png) repeat-y;
  min-height: 10px;
  padding: 1em 2em;
}
.full-box .full-box-footer {
  background: url(/images/box/box-footer.png) no-repeat;
  height: 30px;
}

.picture-set {
  margin-left: 2em;
}
.picture-set .image {
  width: 160px;
  margin: 0 13px 0 0;
}
.picture-set .image.last {
  margin: 0 0em 0 0;
}

.breadcrumbs {
  height: 39px;
  background: url(/images/breadcrumbs/breadcrumb-background.png) repeat-x;
}
.breadcrumbs ul li {
  float: left;
  font-size: 18px;
  padding-right: 1em;
}
.breadcrumbs ul li a {
  display: block;
  text-decoration: none;
  color: #797474;
  background: url(/images/breadcrumbs/breadcrumb-spacer.png) no-repeat center right;
  padding: 0em 1.5em 0 0;
  line-height: 39px;
  font-size: 14px;
}
.breadcrumbs ul li a.current {
  color: red;
}
.breadcrumbs ul li a:hover {
  color: #eeeeee;
}

/****************** Page Overrides ************* */
/****************** Media Queries *************** */
/****************** Global verrides ************* */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

.ir br {
  display: none;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.clear, .clear-both {
  clear: both;
}

@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  a, a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }
}
