---
extension: css
filter:    sass
layout:    nil
---
@import '_helpers'
@import '_boilerplate'

/******************* Constants *************************/

$red: red
$gray: #CACACB
$light-gray: #aba8a8// #797474
$purple: #a189b3

/******************* Global Style ***************/

*
  padding: 0
  margin: 0

html
  background: black
  color: white
  height: 100%

body
  color: $light-gray

::-moz-selection
  text-shadow: none
  background: $purple
  color: white

::selection
  text-shadow: none
  background: $purple
  color: white

/******************* Global Typography *****************/

h1,h2,h3,h4,h5,h6
  // font-family: 'Lato', sans-serif
  font-family: Arial, Sans-serif
  color: white
  margin-bottom: 0.5em

h4, h5
  color: $red
  font-style:italic

h2.title
  text-transform: uppercase

h4.subtitle
  font-style: italic
  font-weight: normal
  margin: 20px 0
  color: $red
  
h4.services-listing-header
  text-transform: uppercase
  font-size: 1.1em
  font-weight: normal

p
  margin-bottom: 1em
  color: $light-gray
  // font-family: 'Lato', sans-serif

p.side-content
  font-style: italic

p+p

cite

em

span

ul
  list-style: none
  padding-left: 0
  margin-bottom: 1em
  li

ol
  margin-bottom: 1em
  li

dl
  dt
  dd

/******************* Global Layout ***************/
html
  border-top: 10px solid black

body
  border-top: 1px solid #343434 
  background: url(/images/background-tile.png) repeat

ul.nav
  margin-bottom: 0em
  li
    float: left

#header-container
  background: url(/images/header-background-tile.png) top center repeat-x
  height: 211px
  
#header
  background: url(/images/header-background.png) top center no-repeat
  height: 211px

  
#header
  #navigation-container
    background: url(/images/nav-background.png) 0 0 no-repeat 
    width: 507px
    height: 50px
    padding: 0px 0px 0px 20px 
  ul#navigation
    width: 500px
    float: right
    li
      // width: 20%
      padding-top: 13px
      margin-left: 20px
      padding-right: 20px
      font-weight: bold
      background: url(/images/nav-divider.png) top right no-repeat
      height: 50px
      &.first
        margin-left: 0px
      &.last
        background: none
      a
        color: $gray
        text-transform: uppercase
        text-decoration: none
        text-align: center
        &:hover
          color: $red

#content
  background: url(/images/content-background.png) bottom center no-repeat
  padding-bottom: 105px
    
#footer
  height: 579px
  padding-top: 50px
  background: url(/images/footer-background.png) top center no-repeat

#footer-container
  height: 579px
  background: url(/images/footer-background-tile.png) bottom center repeat

.container
  padding: 0 20px
  width: 940px
  margin: 0 auto

@mixin column
  float: left
  height: 100%
  display: block

.column-20
  @include column
  width: 20%

.column,.column-30
  @include column
  width: 30%
  
.column-33
  @include column
  width: 33.3%

.column-40
  @include column
  width: 40%

.column-50
  @include column
  width: 50%

.column-60
  @include column
  width: 60%

.column-70
  @include column
  width: 70%

.column-80
  @include column
  width: 80%

.side-block
  width: 240px
  margin: 10px 0 0 0
  .phone
    color: $red
    font-weight: bold

.column-30
  hr
    background: url(/images/hr.png) 0 0 no-repeat
    height: 42px
    width: 235px
    border: none
    margin: -10px 0 35px 0

#main-content
  padding-top: 3em

#logo
  margin-top: 30px
  height: 117px
  width:  241px
  background: url(/images/logo.png) no-repeat

.services-listing
  li
    line-height: 30px
    color: white

#contact-info
  margin: 150px 0 0 0
  text-align: center
  color: #CECDCD
  .phone
    color: $red
    font-weight: bold
  li
    line-height: 20px
  .social
    background: url(/images/socialbox-background.png) 0 0 no-repeat
    width: 198px
    height: 46px
    padding: 30px 0 0 0
    text-transform: uppercase
    text-align: center
    margin: -2px auto 0 auto
    a
      padding: 0 0 0 25px
      color: white
      &:hover
        color: $red
    .twitter
      background: url(/images/twitter-logo.png) 0 0 no-repeat
    .facebook
      background: url(/images/facebook-logo.png) 0 0 no-repeat

#contact-form
  background: url(/images/contact-box-background.png) 0 0 no-repeat
  width: 231px
  height: 416px
  padding: 20px
  float: right
  h4
    text-transform: uppercase
    font-weight: normal
    font-size: 1.4em
    margin-bottom: 20px
  label
    display: block
    margin: 20px 0 3px 0
    font-size: 1em
    cursor: auto
  input
    width: 211px
    background: transparent
    height: 17px
    color: white
    border: 1px solid rgb(51,49,49)
    padding: 10px
  .input-button
    width: 112px
    height: 36px
    float: right
    margin: 20px 0 0 0
    @include gradient(#FF0000, #5F0000)
    border-top: 1px solid #FF2A30
    border-right: 1px solid #360305
    border-bottom: 1px solid #360305
    border-left: 1px solid #FF2A30
    text-shadow: #333 -1px -1px 1px
    text-transform: uppercase
    font-weight: bold
    &:hover
      @include box-shadow(inset 0px 0px 14px #333)
    &:active
      padding-top: 11px
      @include box-shadow(inset 0px 0px 14px #111)
  
  textarea
    width: 211px
    background: transparent
    height: 87px // 113px
    color: white
    border: 1px solid rgb(51,49,49)
    padding: 10px

.mailform-loading
  background: url(/images/ajax-loader.gif) no-repeat 0 0
  height: 32px
  width: 32px
  float: left
  margin-top: 28px

.required-message
  float: left
/******************* Global Widgets **************/
.image
  width: 178px
  height: 154px
  background:  white
.box
  min-height: 70px
  width: 659px
  margin-bottom: 2em
  .box-header
    background: url(/images/box/box-header.png) no-repeat
    height: 45px
  .box-content
    background: url(/images/box/box-content.png) repeat-y
    min-height: 10px
    padding: 0em 3em 1em 3em
  .box-footer
    background: url(/images/box/box-footer.png) no-repeat
    height: 45px

.full-box
  min-height: 70px
  width: 100%
  margin-bottom: 2em
  .full-box-header
    background: url(/images/box/full-box-header.png) no-repeat
    height: 30px
  .full-box-content
    background: url(/images/box/full-box-content.png) repeat-y
    min-height: 10px
    padding: 1em 2em
  .full-box-footer
    background: url(/images/box/full-box-footer.png) no-repeat
    height: 30px

.picture-set
  margin-left: 2em
  .image
    width: 160px
    margin: 0 13px 0 0
  .image.last
    margin: 0 0em 0 0


.breadcrumbs
  height: 39px
  background: url(/images/breadcrumbs/breadcrumb-background.png) repeat-x
  ul
    li
      float: left
      font-size: 18px
      padding-right: 1em
      a
        display: block
        text-decoration: none
        color: $light-gray
        background: url(/images/breadcrumbs/breadcrumb-spacer.png) no-repeat center right
        padding: 0em 1.5em 0 0
        line-height: 39px
        font-size: 14px
        &.current
          color: $red
        &:hover
          color: #eee

/*********************** Widgets ******************/

#showcase
  width: 922px
  height: 373px
  padding: 8px 0px
  background: black
  margin: 0 0 50px 0
  .column-thumbs
    width: 134px
    height: 380px
    padding: 0 0 0 8px
  .thumb
    margin: 0 8px 8px 0
  .large
    margin: 0 0 0 8px
  .column-large
    
#featured-products-showcase
  background: url(/images/box-featured-products.png) 0 0 no-repeat
  margin: 0 auto
  width: 875px
  height: 150px
  padding: 30px 25px
  .column-20
    margin-left: 25px
    
#contact-us
  padding: 20px
  h4
    text-transform: uppercase
    font-weight: normal
    font-size: 1.4em
    margin-bottom: 20px
  label
    display: block
    margin: 20px 0 3px 0
    font-size: 1em
    cursor: auto
  input
    width: 96%
    background: transparent
    height: 17px
    color: white
    border: 1px solid rgb(51,49,49)
    padding: 10px
  .input-button
    width: 112px
    height: 36px
    float: right
    margin: 20px 0 0 0
    @include gradient(#FF0000, #5F0000)
    border-top: 1px solid #FF2A30
    border-right: 1px solid #360305
    border-bottom: 1px solid #360305
    border-left: 1px solid #FF2A30
    text-shadow: #333 -1px -1px 1px
    text-transform: uppercase
    font-weight: bold
    &:hover
      @include box-shadow(inset 0px 0px 14px #333)
    &:active
      padding-top: 11px
      @include box-shadow(inset 0px 0px 14px #111)

  textarea
    width: 96%
    background: transparent
    height: 113px
    color: white
    border: 1px solid rgb(51,49,49)
    padding: 10px

#product-nav
  a
    color: $gray
    font-size: 1.1em
    &:hover
      color: $red
  
/******************* Page Overrides **************/

#index

.product-image
  float: right
  margin: 0 0 15px 15px


/******************* Media Queries ****************/
@media only screen and (min-width: 480px)

@media only screen and (min-width: 768px)

/******************* Global verrides **************/

@import 'non_semantic_helpers'
@import 'print'
