#rooms{
  background: black;
  -webkit-box-shadow: 0px 0px 5px black;
  -moz-box-shadow:    0px 0px 5px black;
  -o-box-shadow:      0px 0px 5px black;
  box-shadow:         0px 0px 5px black;
  margin: 2em 0 4em 0;
}

#room-nav{
  width: 260px;
  height: 400px;
  float: left;
}

#room-nav .room-thumbs{
  float: left;
  width: 130px;
  height: 400px;
  margin: 0;
}

#room-nav .room-thumbs .room-thumb{
  width: 130px;
  padding: 0px;
}

#rooms .room{
  width: 679px;
  height: 400px;
  background-color: black; position: relative;
  margin: 0;
  padding: 0;
  float: left;
  display: none;
}

#rooms .room#sports-bar{
}

#rooms .entity{
  position: absolute;
  width: 680px;
  height: 400px;
}

#rooms .transparent{
  opacity: 0;
}

#sports-bar {
  display: none;
}

#sports-bar .back-wall{                       background: url(/rooms/sports_bar/Back-Wall.png)              no-repeat; }
#sports-bar .back-wall-front{                 background: url(/rooms/sports_bar/Back-Wall-Front.png)        no-repeat; }
#sports-bar .ambient-lights-blue{             background: url(/rooms/sports_bar/Ambient-Lights-Blue.png)    no-repeat; }
#sports-bar .ambient-lights-green{            background: url(/rooms/sports_bar/Ambient-Lights-Green.png)   no-repeat; }
#sports-bar .ambient-lights-purple{           background: url(/rooms/sports_bar/Ambient-Lights-Purple.png)  no-repeat; }
#sports-bar .ambient-lights-red{              background: url(/rooms/sports_bar/Ambient-Lights-Red.png)     no-repeat; }
#sports-bar .bar{                             background: url(/rooms/sports_bar/Bar.png) }
#sports-bar .bar-with-waitress{               background: url(/rooms/sports_bar/Bar-With-Waitress.png) }
#sports-bar .bar-with-people{                 background: url(/rooms/sports_bar/Bar-With-People.png) }
#sports-bar .lights{                          background: url(/rooms/sports_bar/Lights.png) }
#sports-bar .people-background-with-theatre{  background: url(/rooms/sports_bar/People-Background-with-Theatre.png) }
#sports-bar .people-balcony{                  background: url(/rooms/sports_bar/People-Balcony.png)                 }
#sports-bar .waitress-middle-of-room{         background: url(/rooms/sports_bar/Waitress-Middle-of-Room.png)}
#sports-bar .people-forground{                background: url(/rooms/sports_bar/People-Foreground.png)}
#sports-bar .ambient-lights     { opacity: 0 }

#night-club {

}

#night-club .background          { background: url(/rooms/night_club/background.png)        no-repeat; }
#night-club .background-1        { background: url(/rooms/night_club/BG-Stuff-1.png)        no-repeat; }
#night-club .background-2        { background: url(/rooms/night_club/BG-STuff-2.png)        no-repeat; }
#night-club .background-3        { background: url(/rooms/night_club/BG-STuff-3.png)        no-repeat; }
#night-club .dj-table            { background: url(/rooms/night_club/DJ-Table.png  )        no-repeat; }
#night-club .roof-and-balcony    { background: url(/rooms/night_club/Roof-and-Balcony.png)  no-repeat; }
#night-club .second-story        { background: url(/rooms/night_club/Second-Story.png)      no-repeat; }
#night-club .center-light-beam   { background: url(/rooms/night_club/Center-Light-Beam.png) no-repeat; }
#night-club .mixers              { background: url(/rooms/night_club/Mixers.png)            no-repeat; }
#night-club .dj                  { background: url(/rooms/night_club/dj.png)                no-repeat; }
#night-club .tv-screen           { background: url(/rooms/night_club/TV-Screen.png)         no-repeat; }
#night-club .balcony-people      { background: url(/rooms/night_club/Balcony-People.png)    no-repeat; }
#night-club .bg-people-1         { background: url(/rooms/night_club/BG-People-1.png)       no-repeat; }
#night-club .bg-people-2         { background: url(/rooms/night_club/BG-People-2.png)       no-repeat; }
#night-club .bg-people-3         { background: url(/rooms/night_club/BG-People-3.png)       no-repeat; }
#night-club .people              { background: url(/rooms/night_club/People-3.png)          no-repeat; }
#night-club .people-at-table     { background: url(/rooms/night_club/People-at-Table.png)   no-repeat; }
#night-club .person-at-table-arm { background: url(/rooms/night_club/Arm.png)   no-repeat; }
#night-club .rack-back           { background: url(/rooms/night_club/Rack-Back.png)         no-repeat; }
#night-club .rack-front          { background: url(/rooms/night_club/Rack-Front.png)        no-repeat; }
#night-club .monitors            { background: url(/rooms/night_club/Monitors.png)          no-repeat; }
#night-club .table               { background: url(/rooms/night_club/Table.png)             no-repeat; }
#night-club .silhouette          { background: url(/rooms/night_club/Silhouette.png)        no-repeat; }
#night-club .room-shine          { background: url(/rooms/night_club/Room-Shine.png)        no-repeat; }
#night-club .room-shine          { background: url(/rooms/night_club/Room-Shine.png)        no-repeat; }

#night-club .lights-blue   { background: url(/rooms/night_club/Lights-Blue.png)   no-repeat; }
#night-club .lights-green  { background: url(/rooms/night_club/Lights-Green.png)  no-repeat; }
#night-club .lights-purple { background: url(/rooms/night_club/Lights-Purple.png) no-repeat; }
#night-club .lights-red    { background: url(/rooms/night_club/Lights-Red.png)    no-repeat; }

#night-club .left-light-beam-blue   { background: url(/rooms/night_club/Left-Light-Beam-Blue.png)   no-repeat; }
#night-club .left-light-beam-green  { background: url(/rooms/night_club/Left-Light-Beam-Green.png)  no-repeat; }
#night-club .left-light-beam-purple { background: url(/rooms/night_club/Left-Light-Beam-Purple.png) no-repeat; }
#night-club .left-light-beam-red    { background: url(/rooms/night_club/Left-Light-Beam-Red.png)    no-repeat; }

#night-club .middle-light-beam-blue   { background: url(/rooms/night_club/Middle-Light-Beam-Blue.png)   no-repeat; }
#night-club .middle-light-beam-green  { background: url(/rooms/night_club/Middle-Light-Beam-Green.png)  no-repeat; }
#night-club .middle-light-beam-purple { background: url(/rooms/night_club/Middle-Light-Beam-Purple.png) no-repeat; }
#night-club .middle-light-beam-red    { background: url(/rooms/night_club/Middle-Light-Beam-Red.png)    no-repeat; }

#night-club .right-light-beam-blue   { background: url(/rooms/night_club/Right-Light-Beam-Blue.png)   no-repeat; }
#night-club .right-light-beam-green  { background: url(/rooms/night_club/Right-Light-Beam-Green.png)  no-repeat; }
#night-club .right-light-beam-purple { background: url(/rooms/night_club/Right-Light-Beam-Purple.png) no-repeat; }
#night-club .right-light-beam-red    { background: url(/rooms/night_club/Right-Light-Beam-Red.png)    no-repeat; }

#restaurant .background { background: url(/rooms/restaurant/BG.png)       no-repeat; }
#restaurant .tv         { background: url(/rooms/restaurant/TV.png      ) no-repeat; }
#restaurant .speakers   { background: url(/rooms/restaurant/Speakers.png) no-repeat; }
#restaurant .tables-5   { background: url(/rooms/restaurant/Tables-5.png) no-repeat; }
#restaurant .people-5   { background: url(/rooms/restaurant/People-5.png) no-repeat; }
#restaurant .tables-4   { background: url(/rooms/restaurant/Tables-4.png) no-repeat; }
#restaurant .people-4   { background: url(/rooms/restaurant/People-4.png) no-repeat; }
#restaurant .tables-3   { background: url(/rooms/restaurant/Tables-3.png) no-repeat; }
#restaurant .people-3   { background: url(/rooms/restaurant/People-3.png) no-repeat; }
#restaurant .tables-2   { background: url(/rooms/restaurant/Tables-2.png) no-repeat; }
#restaurant .people-2   { background: url(/rooms/restaurant/People-2.png) no-repeat; }
#restaurant .tables-1   { background: url(/rooms/restaurant/Tables-1.png) no-repeat; }
#restaurant .people-1   { background: url(/rooms/restaurant/People-1.png) no-repeat; }

#hallway .speakers-glow-white  { background: url(/rooms/hallway/Back-Speakers-Glow-White.png ) no-repeat; }
#hallway .speakers-glow-yellow { background: url(/rooms/hallway/Back-Speakers-Glow-Yellow.png) no-repeat; }
#hallway .speakers             { background: url(/rooms/hallway/Back-Speakers.png            ) no-repeat; }

#hallway .beat-box-guy { background: url(/rooms/hallway/Beat-Box-Guy.png             ) no-repeat; }
#hallway .background1  { background: url(/rooms/hallway/BG-1.png                     ) no-repeat; }
#hallway .background2  { background: url(/rooms/hallway/BG-2.png                     ) no-repeat; }
#hallway .background3  { background: url(/rooms/hallway/BG-3.png                     ) no-repeat; }

#hallway .cd-player-glow-white { background: url(/rooms/hallway/CD-Player-Glow-White.png     ) no-repeat; }
#hallway .cd-player            { background: url(/rooms/hallway/CD-Player.png                ) no-repeat; }
#hallway .cd-player-cords      { background: url(/rooms/hallway/CD-Player-Cords.png          ) no-repeat; }

#hallway .ceiling-lights { background: url(/rooms/hallway/Ceiling-Lights.png           ) no-repeat; }
#hallway .darkness       { background: url(/rooms/hallway/Darkness-For-Entire-Room.png ) no-repeat; }

#hallway .disco-ball-shine-1 { background: url(/rooms/hallway/Disco-Ball-Shine-1.png) no-repeat; }
#hallway .disco-ball-shine-2 { background: url(/rooms/hallway/Disco-Ball-Shine-2.png) no-repeat; }
#hallway .disco-ball-shine-3 { background: url(/rooms/hallway/Disco-Ball-Shine-3.png) no-repeat; }
#hallway .disco-ball         { background: url(/rooms/hallway/Disco-Ball.png) no-repeat; }

#hallway .dj-table { background: url(/rooms/hallway/DJ-Table.png) no-repeat; }

#hallway .laptop-cord        { background: url(/rooms/hallway/Laptop-Cord.png) no-repeat; }
#hallway .laptop-glow-white  { background: url(/rooms/hallway/Laptop-Glow-White.png) no-repeat; }
#hallway .laptop-glow-yellow { background: url(/rooms/hallway/Laptop-Glow-Yellow.png) no-repeat; }
#hallway .laptop             { background: url(/rooms/hallway/Laptop.png) no-repeat; }

#hallway .light-1-glow-white  { background: url(/rooms/hallway/Light-1-Glow-White.png) no-repeat; }
#hallway .light-1-glow-yellow { background: url(/rooms/hallway/Light-1-Glow-Yellow.png) no-repeat; }
#hallway .light-1-glow        { background: url(/rooms/hallway/Light-1-Glow.png) no-repeat; }
#hallway .light-1             { background: url(/rooms/hallway/Light-1.png) no-repeat; }

#hallway .light-2-glow-white  { background: url(/rooms/hallway/Light-2-Glow-White.png) no-repeat; }
#hallway .light-2-glow-yellow { background: url(/rooms/hallway/Light-2-Glow-Yellow.png) no-repeat; }
#hallway .light-2-glow        { background: url(/rooms/hallway/Light-2-Glow.png) no-repeat; }
#hallway .light-2             { background: url(/rooms/hallway/Light-2.png) no-repeat; }

#hallway .light-beam-blue-1 { background: url(/rooms/hallway/Light-Beam-Blue-1.png) no-repeat; }
#hallway .light-beam-blue-2 { background: url(/rooms/hallway/Light-Beam-Blue-2.png) no-repeat; }
#hallway .light-beam-blue-3 { background: url(/rooms/hallway/Light-Beam-Blue-3.png) no-repeat; }
#hallway .light-beam-blue-4 { background: url(/rooms/hallway/Light-Beam-Blue-4.png) no-repeat; }

#hallway .light-beam-green-1  { background: url(/rooms/hallway/Light-Beam-Green-1.png) no-repeat; }
#hallway .light-beam-green-2  { background: url(/rooms/hallway/Light-Beam-Green-2.png) no-repeat; }
#hallway .light-beam-green-3  { background: url(/rooms/hallway/Light-Beam-Green-3.png) no-repeat; }
#hallway .light-beam-green-4  { background: url(/rooms/hallway/Light-Beam-Green-4.png) no-repeat; }

#hallway .light-beam-purple-1 { background: url(/rooms/hallway/Light-Beam-Purple-1.png) no-repeat; }
#hallway .light-beam-purple-2 { background: url(/rooms/hallway/Light-Beam-Purple-2.png) no-repeat; }
#hallway .light-beam-purple-3 { background: url(/rooms/hallway/Light-Beam-Purple-3.png) no-repeat; }
#hallway .light-beam-purple-4 { background: url(/rooms/hallway/Light-Beam-Purple-4.png) no-repeat; }

#hallway .light-beam-red-1    { background: url(/rooms/hallway/Light-Beam-Red-1.png) no-repeat; }
#hallway .light-beam-red-2    { background: url(/rooms/hallway/Light-Beam-Red-2.png) no-repeat; }
#hallway .light-beam-red-3    { background: url(/rooms/hallway/Light-Beam-Red-3.png) no-repeat; }
#hallway .light-beam-red-4    { background: url(/rooms/hallway/Light-Beam-Red-4.png) no-repeat; }

#hallway .light-beam-white-1  { background: url(/rooms/hallway/Light-Beam-White-1.png) no-repeat; }
#hallway .light-beam-white-2  { background: url(/rooms/hallway/Light-Beam-White-2.png) no-repeat; }

#hallway .mixer-1-glow-white  { background: url(/rooms/hallway/Mixer-1-Glow-White.png) no-repeat; }
#hallway .mixer-1-glow-yellow { background: url(/rooms/hallway/Mixer-1-Glow-Yellow.png) no-repeat; }
#hallway .mixer-1             { background: url(/rooms/hallway/Mixer-1.png) no-repeat; }

#hallway .mixer-2-glow-white  { background: url(/rooms/hallway/Mixers-2-Glow-White.png) no-repeat; }
#hallway .mixer-2-glow-yellow { background: url(/rooms/hallway/Mixers-2-Glow-Yellow.png) no-repeat; }
#hallway .mixer-2             { background: url(/rooms/hallway/Mixers-2.png) no-repeat; }

#hallway .people-dancing { background: url(/rooms/hallway/People-Dancing.png) no-repeat; }

#hallway .side-dj   { background: url(/rooms/hallway/Side-DJ.png) no-repeat; }

#hallway .silhouette{ background: url(/rooms/hallway/Silhouette.png) no-repeat; }

#hallway .speakers-glow-white  { background: url(/rooms/hallway/Speakers-Glow-White.png)  no-repeat; }
#hallway .speakers-glow-yellow { background: url(/rooms/hallway/Speakers-Glow-Yellow.png) no-repeat; }
#hallway .speakers             { background: url(/rooms/hallway/Speakers.png)             no-repeat; }

#patio .background { background: url(/rooms/patio/Background.png) no-repeat; }
#patio .black      { background: url(/rooms/patio/Black.png     ) no-repeat; }

#patio .people-1 { background: url(/rooms/patio/People-1.png    ) no-repeat; }
#patio .people-2 { background: url(/rooms/patio/People-2.png    ) no-repeat; }
#patio .people-3 { background: url(/rooms/patio/People-3.png    ) no-repeat; }
#patio .people-4 { background: url(/rooms/patio/People-4.png    ) no-repeat; }
#patio .people-5 { background: url(/rooms/patio/People-5.png    ) no-repeat; }
#patio .people-6 { background: url(/rooms/patio/People-6.png    ) no-repeat; }
#patio .people-7 { background: url(/rooms/patio/People.png      ) no-repeat; }

#patio .speaker-glow-white-1    { background: url(/rooms/patio/Speaker-Glow-White-1.png     ) no-repeat; }
#patio .speaker-glow-white-2    { background: url(/rooms/patio/Speaker-Glow-White-2.png     ) no-repeat; }
#patio .speaker-glow-white-3    { background: url(/rooms/patio/Speaker-Glow-White-3.png     ) no-repeat; }
#patio .speaker-glow-white-4    { background: url(/rooms/patio/Speaker-Glow-White-4.png     ) no-repeat; }
#patio .speaker-glow-white-5    { background: url(/rooms/patio/Speaker-Glow-White-5.png     ) no-repeat; }
#patio .speaker-glow-yellow-1   { background: url(/rooms/patio/Speaker-Glow-Yellow-1.png    ) no-repeat; }
#patio .speaker-glow-yellow-2   { background: url(/rooms/patio/Speaker-Glow-Yellow-2.png    ) no-repeat; }
#patio .speaker-glow-yellow-3   { background: url(/rooms/patio/Speaker-Glow-Yellow-3.png    ) no-repeat; }
#patio .speaker-glow-yellow-4   { background: url(/rooms/patio/Speaker-Glow-Yellow-4.png    ) no-repeat; }
#patio .speaker-glow-yellow-5   { background: url(/rooms/patio/Speaker-Glow-Yellow-5.png    ) no-repeat; }
#patio .speaker-glow-white-all  { background: url(/rooms/patio/Speakers-Glow-White-All.png  ) no-repeat; }
#patio .speaker-glow-yellow-all { background: url(/rooms/patio/Speakers-Glow-Yellow-All.png ) no-repeat; }

#patio .tables-1 { background: url(/rooms/patio/Tables-1.png) no-repeat; }
#patio .tables-2 { background: url(/rooms/patio/Tables-2.png) no-repeat; }
#patio .tables-3 { background: url(/rooms/patio/Tables-3.png) no-repeat; }
#patio .tables-4 { background: url(/rooms/patio/Tables-4.png) no-repeat; }
#patio .tables-5 { background: url(/rooms/patio/Tables-5.png) no-repeat; }
